@use '../../Theme/styles';
@import '../../Theme/styles.scss';

//All Modal
.center-modal {
  justify-content: center;
  display: flex;
  align-items: center;
}

.card-dropdown {
  width: 220px;
  max-height: 290px;
  overflow-y: scroll;
  background: #ffffff;
  border: 1px solid #e3e5e5;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
  border-radius: 4px;
  .ant-dropdown-menu-item-group-title {
    margin-bottom: 5px !important;
  }
  .ant-dropdown-menu-item-active {
    background: rgba(37, 24, 99, 0.03) !important;
    color: #2e2753 !important;
    font-weight: 500 !important;
  }
}
.card-dropdown::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.card-dropdown::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.card-dropdown::-webkit-scrollbar-thumb {
  background: $purple00;
  border-radius: 10px;
}

//Menu
.menu-login-dropdown {
  background: $white;
  margin-top: -20px;
  border-radius: 0px !important;
  padding: 6px 0px;
}
.menu-drop-sub {
  background-color: #ffffff !important;
  color: #1e1748 !important;
  opacity: 0.6 !important;
  font-weight: 400 !important;
  margin: -5px -7px;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.menu-density {
  .ant-dropdown-menu-item-active {
    background: rgb(247 247 249) !important;
    color: #1e1748 !important;
    font-weight: 500 !important;
  }
  .ant-dropdown-menu-item-active {
    background: rgb(247 247 249) !important;
    color: #1e1748 !important;
    font-weight: 500 !important;
  }
}
.drop-menu-header {
  .ant-dropdown-menu-submenu-popup {
    margin-top: -16px;
  }
  .ant-dropdown-menu {
    border-radius: 5px !important;
  }
}
.menu-drop-sub:hover {
  background-color: #f7f7f900 !important;
  color: #11093c !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.menu-sub-drop {
  opacity: 1 !important;
  padding: 4.5px 10px !important;
}
.menu-active {
  background-color: rgb(247, 247, 249) !important;
  color: rgb(17, 9, 60) !important;
  opacity: 1 !important;
}

//Tutorial
.tutorial-carousel {
  top: 0;
  height: 100vh;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  margin-left: 31px;
  .ant-modal-mask {
    background-color: rgb(0 0 0 / 65%) !important;
  }
  .ant-modal-content {
    background: rgb(0 0 0 / 0%);
    top: 15px;
    height: 100%;
    box-shadow: none;
  }
  .ant-modal-body {
    padding: 0px;
  }
  .footer-next {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;

    .btn-green {
      height: 35px;
      border: none;
      background: #28c499;
      color: $white;
      padding: 0px 25px;
    }
    h4 {
      color: $white;
      font-size: 18px;
    }
  }
  .ant-carousel .slick-dots {
    display: none !important;
  }
  .ant-modal-close-x {
    color: white !important;
  }
  .tuto-01 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    .tuto-17,
    .tuto-18,
    .tuto-19,
    .tuto-20,
    .tuto-21,
    .tuto-22,
    .tuto-23,
    .tuto-24,
    .tuto-25,
    .tuto-26,
    .tuto-27,
    .tuto-28,
    .tuto-29,
    .tuto-30,
    .tuto-31,
    .tuto-32,
    .tuto-33,
    .tuto-34,
    .tuto-35,
    .tuto-36,
    .tuto-37,
    .tuto-38,
    .tuto-39,
    .tuto-40,
    .tuto-41,
    .tuto-42,
    .tuto-43,
    .tuto-44,
    .tuto-45,
    .tuto-46,
    .tuto-47,
    .tuto-48,
    .tuto-49,
    .tuto-50,
    .tuto-51 {
      position: absolute;
      text-align: center;
      width: 300px;
      p {
        font-size: 14px;
      }
    }
    p {
      color: $white;
    }
    .tuto-17 {
      top: 96px;
      left: -17px;
      width: 293px;
      p {
        padding: 16px 0px 0px 57px;
      }
    }
    .tuto-18 {
      top: 397px;
      left: 23px;
      width: 304px;
      text-align: initial;
      p {
        padding: 16px 0px 0px 30px;
        padding-left: 8px;
        text-align: center;
      }
    }
    .tuto-19 {
      top: calc(50vh + 30px);
      right: 32%;
      width: 316px;
      p {
        padding: 16px 0px 0px 0px;
      }
    }
    .tuto-20 {
      top: 364px;
      right: 38px;
      width: 295px;
      p {
        padding: 16px 0px 0px 0px;
      }
    }
    .tuto-21 {
      top: 126px;
      left: 28px;
      width: 276px;
      text-align: initial;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
      }
    }
    .tuto-22 {
      bottom: 179px;
      left: 94px;
      width: 183px;
      text-align: initial;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-23 {
      bottom: 82px;
      left: 94px;
      width: 183px;
      text-align: initial;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-24 {
      left: 436px;
      width: 248px;
      /* text-align: initial; */
      top: 40vh;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-25 {
      top: 105px;
      left: 47.5vw;
      width: 139px;
      text-align: end;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-26 {
      top: 55vh;
      right: 67px;
      width: 255px;
      text-align: end;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-27 {
      top: 87px;
      left: 38.5%;
      width: 139px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-28 {
      bottom: 20px;
      left: 21.5vw;
      width: 166px;
      p {
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-29 {
      top: 52vh;
      left: 206px;
      width: 204px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-30 {
      top: 228px;
      left: 41vw;
      width: 184px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-31 {
      top: 88px;
      right: 14.5vw;
      width: 253px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-32 {
      top: 245px;
      right: 11.5vw;
      width: 218px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-33 {
      top: 132px;
      left: 33.5vw;
      width: 218px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-34 {
      top: 226px;
      right: 6.5vw;
      width: 218px;
      text-align: end;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-35 {
      bottom: 32px;
      right: 10.5vw;
      width: 218px;
      p {
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-36 {
      right: 8.5vw;
      top: 242px;
      width: 224px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-37 {
      top: 85px;
      left: 51.5vw;
      width: 266px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-38 {
      top: 85px;
      right: 100px;
      width: 170px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-39 {
      top: 206px;
      left: 186px;
      width: 309px;
      p {
        padding: 16px 0px 0px 67px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-40 {
      top: 25px;
      right: 211px;
      width: 218px;
      text-align: end;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-41 {
      top: 302px;
      left: 221px;
      width: 175px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-42 {
      top: 221px;
      right: 189px;
      width: 237px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-43 {
      bottom: 157px;
      left: 285px;
      width: 430px;
      p {
        padding: 16px 0px 0px 130px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-44 {
      bottom: 281px;
      right: 312px;
      width: 250px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-45 {
      top: 313px;
      left: 380px;
      width: 265px;
      p {
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-47 {
      right: 41.5vw;
      /* text-align: inherit; */
      top: 232px;
      width: 280px;
      p {
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-48 {
      right: 56.5vw;
      text-align: inherit;
      top: 83px;
      width: 280px;
      p {
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
  }
}

//SIDEBAR
.dropdown-special-bottomLeft {
  top: 42px !important;
}

//MODAL-CONFIRM - STYLE -div
.modal-confirm {
  .img-wrong {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 14px 0px;
    img {
      width: 83px;
    }
  }
}

//MODAL -EDIT-Dates
.work-modal-edit-dates {
  width: 581px;
  .ant-modal-header {
    display: none;
  }
  .ant-modal-footer {
    display: none;
  }
  .header-step {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    margin-bottom: 28px;
    .step {
      width: 180px;
      border-top: 4px solid #d9d9d9;
      padding-top: 8px;
      p {
        color: #858f94;
        font-family: Ubuntu;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin: 0px;
      }
    }
    .step-active {
      width: 180px;
      border-top: 4px solid #28c499;
      padding-top: 8px;
      p {
        color: #858f94;
        font-family: Ubuntu;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin: 0px;
      }
      .p-active {
        color: #11093c;
      }
    }
  }
  .name-project {
    color: #11093c;
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    h1 {
      color: #11093c;
      font-size: 22px;
      line-height: 120%;
    }
    p {
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      margin-bottom: 16px;
    }
  }
  .body-edit-dates {
    height: 350px;
    .img-confetti {
      color: #11093c;
      text-align: center;
      font-family: Ubuntu;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      img {
        margin-top: 60px;
        margin-bottom: 40px;
      }
    }
    .form-edit-dates {
      text-align: left;
      label {
        margin-top: 16px;
        color: #11093c;
        font-family: Ubuntu;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .ant-picker-input > input {
      font-size: 14px;
      color: $purple00;
    }
    .ant-picker-input > input::placeholder {
      font-size: 14px;
      color: $purple00;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      font-size: 14px;
      color: $purple00;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 5px !important;
      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
    }
    .ant-picker-focused,
    .ant-picker:hover {
      border-color: $purple00;
    }
    .ant-picker {
      color: #11093c;
      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
    }
  }
  .body-edit-dates-step2 {
    height: 350px;
    .tollgate-header {
      padding: 0px !important;
      .tollgate-body{
        height: 311px;
        padding-top: 2px;
      }
    }
    .duration-toollgate{
      margin-bottom: 14.5px !important;
    }
    .calendar-toollgate {
      margin-bottom: 14.5px !important;
    }

  }
  .foot-edit-dates {
    text-align: end;
    padding: 16px 0px 0px 0px;
    button {
      padding: 12px 53px;
      text-align: center;
      font-family: Ubuntu;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      height: auto;
    }
    .btn-transparent {
      opacity: 0.6;
    }
  }
  .ant-modal-body {
    padding: 30px;
  }
}

//MODAL EDIT AMOUNT MODULE
.edit-amount-modal {
  width: 835px !important;
  .ant-row{
    display: flex;
    flex-wrap: nowrap
  }
  .ant-modal-body {
    padding: 0px;
  }
  .edit-amount-modal-header {
    background: #f8f8fa;
    padding: 16px 30px 4px 30px;
    border-radius: 4px;
    .ant-col {
      padding-right: 24px;
    }
    .edit-amount-modal-header-text {
      width: 48%;
    }
    h2 {
      color: #11093c;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      word-wrap: break-word;
    }
    p {
      color: #11093c;
      font-family: 'Ubuntu';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }
    span {
      border-radius: 3px;
      font-family: 'Ubuntu';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.2px;
      padding: 3px 8px;
    }
    h1 {
      color: #251863;
      text-align: left;
      font-family: 'Ubuntu';
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .edit-amount-modal-body {
    padding: 24px 30px 4px 30px;
    .edit-amount-modal-body-title {
      padding-bottom: 24px;
      color: #000;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
    }
  }
  .edit-amount-modal-body-table {
    overflow-x: auto;
    color: #11093c;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .rowname {
      // border-color: rgba(37, 24, 99, 0.1019607843);
      padding: 14px 0px;
    }
    .rowInputContainer{
      padding: 4px 0px;
    }
    .ant-input-affix-wrapper{
      border-color: #2518631A;
      padding: 6px 11px;
    }
    .ant-input {
      color: #11093c;
      font-family: 'Ubuntu';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #11093c;
      font-family: 'Ubuntu';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
    }
    .ant-col {
      min-width: 15%;
      width: auto;
      padding-bottom: 10px;
      margin-right: 32px;
    }
    .ant-col:first-child {
      min-width: 24%;
      margin-right: 16px;
    }
    .ant-col:last-child {
      margin-right: 0px;
    }
    .edit-amount-modal-body-table-title {
      .ant-col {
        font-weight: 500;
      }
      .ant-col:not(:first-child){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .edit-amount-modal-body-table-sum {
      .ant-col {
        font-weight: 500;
        padding-top: 6px;
        padding-bottom: 16px;
      }
      .ant-col:not(:first-child){
        padding-left: 12px;
      }
    }
    .edit-amount-modal-body-table-total {
      .ant-col {
        font-weight: 700;
      }
      .ant-col:not(:first-child){
        padding-left: 12px;
      }
    }
  }
  .ant-modal-footer {
    padding: 10px 30px 30px 30px;
    button {
      width: 110px;
      height: 44px;
      span {
        text-align: center;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .ant-btn-default {
      background-color: #ffffff;
      span {
        color: #11093c;
        opacity: 0.6;
      }
    }
    .ant-btn-primary {
      background-color: #251863;
      span {
        color: #fff;
      }
    }
  }
}

@media (min-width: 1900px) and (max-width: 2499px) {
  .edit-amount-modal {
    width: 1113px !important;
    .ant-modal-close-x{
      font-size: 19px;
    }
    .edit-amount-modal-header {
      padding: 21px 40px 10px 40px;
      .ant-col {
        padding-right: 32px;
      }
      h2 {
        font-size: 27px;
      }
      p {
        font-size: 16px;
      }
      span {
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 4px 10px;
      }
      h1 {
        font-size: 17px;
      }
    }
    .edit-amount-modal-body {
      padding: 40px 40px 4px 40px;
      .edit-amount-modal-body-title {
        padding-bottom: 31px;
        font-size: 27px;
        line-height: 160%; /* 43px */
      }
    }
    .edit-amount-modal-body-table {
      overflow-x: auto;
      font-size: 19px;
      .ant-input-affix-wrapper{
        padding: 7px 11px;
      }
      .ant-input-prefix{
        font-size: 17px;
      }
      .ant-input {
        font-size: 19px;
      }
      p {
        font-size: 16px;
      }
      .ant-col {
        padding-bottom: 14px;
        margin-right: 42px;
      }
      .ant-col:first-child {
        margin-right: 20px;
      }
      .edit-amount-modal-body-table-sum {
        .ant-col {
          padding-top: 7px;
          padding-bottom: 20px;
        }
      }
    }
    .ant-modal-footer {
      padding: 15px 40px 40px 40px;
      button {
        width: 147px;
        height: 59px;
        span {
          font-size: 19px;
        }
      }
    }
  }
  .work-modal-edit-dates{
    width: 775px !important;
    .header-step{
      .step{
        width: 217px;
        border-top: 5px solid #d9d9d9;
        p{
          font-size: 15px;
        }
      }
      .step-active {
        width: 217px;
        border-top: 5px solid #28c499;
        p{
          font-size: 15px;
        }
      }
    }
    .body-edit-dates {
      .form-edit-dates label {
        font-size: 14px;
      }
    }
    .body-edit-dates-step2{
      height: 487px !important;
      .tollgate-header{
        .tollgate-body {
          height: 424px !important;
          .text-tollgate-title{
            .name-tollgate{
              // margin-bottom: 34px !important;
            }
          }
        }   
      }
      .calendar-toollgate{
        margin-bottom: 11px !important;
      }
      .duration-toollgate {
        margin-bottom: 11px !important;
      }
    }
    .body-edit-dates{
      height: 487px !important;
    }
    // height: 1040px !important;
    .ant-modal-content{
      height: 803px !important;
    }
  }
}
@media(min-width: 2550px){
  .edit-amount-modal {
    width: 1484px !important;
    .ant-modal-close-x{
      font-size: 24px;
    }
    .edit-amount-modal-header {
      padding: 28px 53px 16px 53px;
      .ant-col {
        padding-right: 42px;
      }
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 21px;
      }
      span {
        font-size: 24px;
        line-height: 32px;
        padding: 5px 14px;
      }
      h1 {
        font-size: 23px;
      }
    }
    .edit-amount-modal-body {
      padding: 53px 53px 4px 53px;
      .edit-amount-modal-body-title {
        padding-bottom: 42px;
        font-size: 35px;
        line-height: 160%; /* 57px */
      }
    }
    .edit-amount-modal-body-table {
      overflow-x: auto;
      font-size: 24px;
      .ant-input-affix-wrapper{
        padding: 9px 11px;
      }
      .ant-input-prefix{
        font-size: 21px;
      }
      .ant-input {
        font-size: 24px !important;
      }
      p {
        font-size: 21px;
      }
      .ant-col {
        padding-bottom: 17px;
        margin-right: 57px;
      }
      .ant-col:first-child {
        margin-right: 29px;
      }
      .edit-amount-modal-body-table-sum {
        .ant-col {
          padding-top: 10px;
          padding-bottom: 27px;
        }
      }
    }
    .ant-modal-footer {
      padding: 20px 53px 53px 53px;
      button {
        width: 196px;
        height: 78px;
        span {
          font-size: 24px;
        }
      }
    }
  }
  .card-dropdown {
    width: 235px;
  }
  .work-modal-edit-dates{
    width: 983px !important;
    .name-project{
      font-size: 18px;
      h1{
        font-size: 30px;

      }
      p{
        font-size: 20px;
      }
    }
    .img-confetti{
      font-size: 36px !important;
    }
    .header-step{
      .step{
        width: 275px;
        border-top: 7px solid #d9d9d9;
        p{
          font-size: 18px;
        }
      }
      .step-active {
        width: 275px;
        border-top: 7px solid #28c499;
        p{
          font-size: 18px;
        }
      }
    }
    .body-edit-dates {
      .form-edit-dates label {
        font-size: 17px;
        line-height: 32px;
      }
    }
    .body-edit-dates-step2{
      height: 656px !important;
      .tollgate-header{
        height: 61px !important;
        .tollgate-body {
          height: 524px !important;
          .text-tollgate-title{
            .name-tollgate{
              margin-bottom: 22px !important;
            }
          }
        }
      }
      .calendar-toollgate{
        margin-bottom: 11px !important;
        .ant-picker-input > input {
          font-size: 19px;
        }
      }
      .duration-toollgate {
        margin-bottom: 11px !important;
      }
      .ant-picker.ant-picker-borderless {
        height: 42px;
      }
    }
    .body-edit-dates{
      height: 656px !important;
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        min-height: 45px;
      }
      .ant-select-selection-search{
        input::placeholder{
          font-size: 20px !important;
        }
      }
      .ant-select-selection-search-input {
        font-size: 20px !important;
        input{
          font-size: 20px !important;
        }
        input::placeholder{
          font-size: 20px !important;
        }
      }
      .ant-select-selection-search-input::placeholder{
        font-size: 20px !important;
      }
      .ant-select-selection-placeholder{
        font-size: 20px !important;
      }
      .ant-picker{
        min-height: 45px;
        height: 45px !important;
      }
      .ant-picker-input > input {
        font-size: 20px;
      }
      .ant-picker-input > input::placeholder {
        font-size: 20px;
      }
      .ant-picker-suffix {
        font-size: 20px;
      }
      .ant-select-arrow {
        font-size: 20px;
      }
    }
    // height: 1040px !important;
    .ant-modal-content{
      height: auto !important;
    }
    .work-modal-edit-dates .foot-edit-dates button {
      padding: 16px 61px;
      font-size: 24px;
    }
  }
}

