.notification-alert-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: white;
  border-radius: 4px;
  padding: 15px 39px 15px 24px;
  box-shadow: 0px 7.466899871826172px 12.800399780273438px 0px rgba(0, 0, 0, 0.1);
  .ant-notification-notice-message {
    color: #11093c;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    // height: 22px;
    letter-spacing: -0.5px;
    margin-left: 14px;
    margin-bottom: 0px;
  }
  .ant-notification-notice-close {
    right: 16px;
    .ant-notification-notice-close-x {
      span {
        font-size: 16px;
      }
    }
  }
  .ant-notification-notice-icon {
    position: initial;
    margin-left: 0px;
    font-size: 24px;
    line-height: 24px;
  }
  .ant-notification-notice-with-icon {
    display: flex;
    align-items: center;
    width: 100%;
    .ant-notification-notice-description {
      display: none !important;
    }
  }
}
.notification-alert-layout-with-description {
  font-size: 16px;
  .ant-notification-notice-message {
    color: #11093c;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    // height: 22px;
    letter-spacing: -0.5px;
    // margin-left: 14px;
    // margin-bottom: 0px;
  }
}
.notification-icon-success {
  color: #29c499 !important;
  font-size: 24px;
}
.notification-alert-success {
  border-bottom: 5px solid #29c499;
}
.notification-icon-warning {
  color: #ff8838 !important;
  font-size: 24px;
}
.notification-alert-warning {
  border-bottom: 5px solid #ff8838;
}
.notification-icon-info {
  color: #5E63E4 !important;
  font-size: 24px;
}
.notification-alert-info {
  border-bottom: 5px solid #5E63E4;
}
.notification-icon-critical {
  color: #FF4040 !important;
  font-size: 24px;
}
.notification-alert-critical {
  border-bottom: 5px solid #FF4040;
}
.ant-notification-notice-content {
  width: auto !important;
}
.ant-notification-notice {
  width: max-content !important;
  max-width: max-content;
  max-width: 30vw !important;
}

@media (min-width: 1900px) and (max-width: 2549px) {
  .notification-alert-layout {
    // width: 490px;
    // height: 84px;
    .ant-notification-notice-message {
      font-size: 17px;
    }
  }
  .notification-alert-layout-with-description {
    .ant-notification-notice-message {
      font-size: 17px;
    }
    .ant-notification-notice-description{
      font-size: 17px;
      margin-right: 20px;
    }
  }
}
@media (min-width: 2550px){
  .notification-alert-layout {
    padding: 20px 40px 20px;
    .ant-notification-notice-message {
      font-size: 22px;
      margin-left: 18px;
    }
    .ant-notification-notice-close {
      right: 28px;
      top: 28px;
      .ant-notification-notice-close-x {
        span {
          font-size: 24px;
          margin-top: -10px;
        }
      }
    }
    .ant-notification-notice-icon {
      span {
        font-size: 30px;
      }
    }
  }
  .notification-alert-layout-with-description {
    padding: 20px 40px 20px;
    .ant-notification-notice-message {
      font-size: 22px;
    }
    .ant-notification-notice-description{
      font-size: 22px
    }
    .ant-notification-notice-close {
      right: 28px;
      top: 28px;
      .ant-notification-notice-close-x {
        span {
          font-size: 24px;
          margin-top: -10px;
        }
      }
    }
    .ant-notification-notice-icon {
      span {
        font-size: 30px;
      }
    }
  }
}
