@import "../Theme/styles.scss";
// GENERAL
.comment-title{
  display: flex;
  position: relative;

  h5{
    font-size: 16px;
    color: $purple00;
    width: 50%;
    margin-bottom: 0px;
  }
  .type-popover, .type-popover:hover, .type-popover:focus{
    position: absolute;
    right: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 12px;
    color: $opacity;
    border: none;
    box-shadow: none;
    height: 20px;
  }
  .ant-btn .anticon{
    color: $purple00;
    font-size: 10px;
    font-weight: bold;
  }
  .btn-opacity{
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 19px;
    position: relative;
    top: -3px;
    right: -30px;
    margin-bottom: -7px;
  }
  .button-active, .btn-opacity:active, .btn-opacity.active, .btn-opacity:hover, .btn-opacity:focus {
    color: $white !important;
    background-color: $purple !important;
    border-color: $purple !important;
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 19px;
    position: relative;
    top: -3px;
    right: -30px;
    margin-bottom: -7px;
  }
}
.popover-note{
  .ant-popover-inner-content{
    padding: 0px;
  }
  .ant-list-bordered{
    border: none !important;
  }
  .ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
      border-bottom: 1px solid $opacity00;
  }
  .ant-list-sm .ant-list-item{
    margin: 0px 10px;
    width: 110px;
    div{
      width: 100%;
    }
  }
  .ant-list-bordered.ant-list-sm .ant-list-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .ant-list-item {
    justify-content: initial;
    padding: 6px 0 !important;
    font-size: 11px;
    cursor: pointer;
  }
  i{
    font-size: 16px;
  }
  .ant-list-bordered.ant-list-sm .ant-list-header, .ant-list-bordered.ant-list-sm .ant-list-footer {
    padding: 0px;
  }
  button, button:hover, button:focus{
    border-radius: 0px;
    border: none;
    background: $opacity00;
    font-size: 11px;
    color: $purple00;
    padding: 0 21px;
    height: 35px;
  }
  .anticon{
    position: absolute;
    right: 12px;
    font-size: 10px;
    color: $green;
    margin-top: 8px;
  }
}
.comment-drawer{
  .ant-drawer-content-wrapper{
    width: 320px !important;
  }
  .ant-drawer-header{
    padding: 20px 15px;
    border-bottom: 2px solid $light-purple;
  }
  .ant-drawer-body{
    padding: 0px;
    height: calc(100vh - 122px);
    overflow-y: auto;
  }
  .ant-comment {
    padding: 0px 15px;
    border-bottom: 2px solid $light-purple;
    margin: 0px;

    p{
      font-size: 14px;
      color: $purple00;
      margin-bottom: 4px;
      line-height: 16px;
      min-height: 16px;
    }
    h6{
      text-align: right;
      color: $opacity;
      font-size: 11px;
      font-weight: normal;
      margin-bottom: 0px;
    }
  }
  .ant-comment-inner {
    padding: 10px 0;
  }
  .ant-avatar-string{
    font-size: 12px;
  }
  .btn-coll{
    top: calc(100% - 95px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) !important;
    width: 40px;
  }
  .menu-wr{
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
// POPUP MAP
.popup-comment{
  width: 280px;
  padding: 0px;
  min-height: 210px;
  border-radius: 2px;
  box-shadow: $shadow;
  background-color: $white;

  .headmap{
   min-height: 34px;
   border-radius: 1.3px 1.3px 0px 0px;
   background: $light-purple;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;

     button, button:hover, button:focus{
       padding: 0px;
       font-size: 12px;
       color: $purple00;
       border: none;
       box-shadow: none;
       height: 20px;
       background: none;
       margin-bottom: 13px;
     }
     i{
       // color: $purple00;
       font-size: 22px;
       font-weight: bold;
       position: relative;
       top: 4px;
      //  line-height: 5px;
     }
  }
  .bodymap{
    padding: 10px;
    background: $white;

    .ant-input{
      border: 1px solid $opacity01;
      color: $purple;
      font-size: 12px;
    }
    button{
      width: 100%;
      border: 1px solid $opacity01;
      color: $green;
      height: 35px;
      margin-top: 10px;
    }
    button:hover, button:focus{
      background-color: #F2F2F2 !important;
    }
  }
}
.popover-comment{
  .ant-popover-inner-content{
    padding: 0px;
  }
  ul{
    padding: 0px !important;
    width: 130px;
  }
  li{
    display: block;
    padding: 6px 0px !important;
    font-size: 11px;
    cursor: pointer;
    border-bottom: 1px solid $light-purple;
    margin: 0px 10px;
  }
}
.padding-comment{
  padding-left: 322px !important;
}
// 1920x1080 DISPLAY
@media (min-width: 1900px) and (max-width: 2499px){
  // GENERAL
  .comment-title{
    h5{
      font-size: 21px;
      line-height: 23px;
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      font-size: 16px;
      height: 22px;
    }
    .ant-btn .anticon{
      font-size: 12px;
    }
    .btn-opacity, .btn-opacity:hover,
    .btn-opacity:focus, .btn-opacity.active,
    .btn-opacity:active {
      width: 30px;
      height: 30px;
      font-size: 19px;
      top: -3px;
      right: -30px;
      margin-bottom: -7px;
      line-height: 30px;
    }
  }
  .popover-note{
    .ant-list-item {
      padding: 6px 0 !important;
      font-size: 14px;
    }
    i{
      font-size: 21px;
    }
    button, button:hover, button:focus{
      font-size: 14px;
      height: 45px;
    }
    .anticon{
      font-size: 12px;
    }
    .ant-list-sm .ant-list-item{
      width: 130px;
    }
  }
  .comment-drawer{
    .ant-drawer-content-wrapper{
      width: 425px !important;
    }
    .ant-drawer-header{
      padding: 20px 25px;
    }
    .ant-drawer-body{
      height: calc(100vh - 123px);
    }
    .ant-comment {
      padding: 0px 20px;

      p{
        font-size: 18px;
        line-height: 20px;
         min-height: 20px;
      }
      h6{
        font-size: 14px;
      }
    }
    .ant-comment-inner {
      padding: 15px 0;
    }
    .ant-avatar-string{
      font-size: 16px;
    }
    .ant-avatar{
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
    .btn-coll{
      width: 50px;
    }
  }
  // POPUP MAP
  .popup-comment{
    width: 370px;

    .headmap{
     min-height: 34px;
     font-size: 14px;
     padding: 12px 15px;
     line-height: 16px;

       button, button:hover, button:focus{
         font-size: 16px;
         height: 22px;
       }
       i{
         font-size: 21px;
       }
    }
    .bodymap{
      padding: 15px;

      .ant-input{
        font-size: 16px;
      }
      button{
        height: 45px;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
  .popover-comment{
    ul{
      width: 160px;
    }
    li{
      padding: 8px 0px !important;
      font-size: 14px;
    }
  }
  .padding-comment{
    padding-left: 427px !important;
  }
}

// 2560x1440 DISPLAY
@media (min-width: 2500px) and (max-width: 2999px){
  // GENERAL
  .comment-title{
    display: flex;
    position: relative;
  
    h5{
      font-size: 16px;
      color: $purple00;
      width: 50%;
      margin-bottom: 0px;
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      position: absolute;
      right: 0px;
      padding: 0px;
      cursor: pointer;
      font-size: 12px;
      color: $opacity;
      border: none;
      box-shadow: none;
      height: 20px;
    }
    .ant-btn .anticon{
      color: $purple00;
      font-size: 10px;
      font-weight: bold;
    }
    .btn-opacity{
      width: 40px;
      height: 40px;
      padding: 0px;
      font-size: 28px;
      position: relative;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
    }
    .button-active, .btn-opacity:active, .btn-opacity.active, .btn-opacity:hover, .btn-opacity:focus {
      color: $white !important;
      background-color: $purple !important;
      border-color: $purple !important;
      width: 40px;
      height: 40px;
      padding: 0px;
      font-size: 28px;
      position: relative;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
    }
    height: 32px;
    h5{
      font-size: 28px;
      line-height: 30px
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      font-size: 21px;
      height: 32px;
    }
    .ant-btn .anticon{
      font-size: 16px;
    }
    .btn-opacity, .btn-opacity:hover,
    .btn-opacity:focus, .btn-opacity.active,
    .btn-opacity:active {
      width: 40px;
      height: 40px;
      font-size: 28px;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
      line-height: 40px;
    }
  }
  .popover-note{
    .ant-list-item {
      padding: 6px 0 !important;
      font-size: 18px;
    }
    i{
      font-size: 24px;
    }
    button, button:hover, button:focus{
      font-size: 18px;
      height: 60px;
      padding: 0px 30px;
    }
    .anticon{
      font-size: 16px;
    }
    .ant-list-sm .ant-list-item{
      width: 160px;
    }
  }
  .comment-drawer{
    .ant-drawer-content-wrapper{
      width: 570px !important;
    }
    .ant-drawer-header{
      padding: 20px 32px;
    }
    .ant-drawer-body{
      height: calc(100vh - 132px);
    }
    .ant-comment {
      padding: 0px 20px;

      p{
        font-size: 24px;
        line-height: 26px;
        min-height: 26px;
      }
      h6{
        font-size: 18px;
      }
    }
    .ant-comment-inner {
      padding: 18px 0;
    }
    .ant-avatar-string{
      font-size: 21px;
    }
    .ant-avatar{
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
    .ant-comment-avatar{
      margin-right: 20px;
    }
    .btn-coll{
      height: 60px;
      width: 50px;
    }
  }
  // POPUP MAP
  .popup-comment{
    width: 490px;

    .headmap{
     min-height: 34px;
     font-size: 14px;
     padding: 12px 15px;
     line-height: 16px;

       button, button:hover, button:focus{
         font-size: 21px;
         height: 32px;
       }
       i{
         font-size: 24px;
       }
    }
    .bodymap{
      padding: 20px;

      .ant-input{
        font-size: 16px;
      }
      button{
        height: 60px;
        margin-top: 15px;
        font-size: 21px;
      }
    }
  }
  .popover-comment{
    ul{
      width: 220px;
    }
    li{
      padding: 12px 0px !important;
      font-size: 19px;
    }
  }
  .padding-comment{
    padding-left: 572px !important;
  }
}
