@import "../Theme/styles.scss";
// GENERAL
.ant-menu-item-selected {
  background-color: transparent !important;
}

.ll-00{
  color: $white;
  // background: $green;
  border-radius: 50%;
  padding: 5px 5.23px;
  margin-right: 5px;
}
.ll-0{
  background: $white;
  padding: 8px 0.5px;
  opacity: 0.5;
  margin-right: 18px;
}
.comment-title{
  display: flex;
  position: relative;
  h5{
    font-size: 16px;
    color: $purple00;
    width: 50%;
    margin-bottom: 0px;
  }
  .type-popover, .type-popover:hover, .type-popover:focus{
    position: absolute;
    right: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: 12px;
    color: $opacity;
    border: none;
    box-shadow: none;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }
  .ant-btn .anticon{
    color: $purple00;
    font-size: 10px;
    font-weight: bold;
  }
  .btn-opacity{
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 19px;
    position: relative;
    top: -3px;
    right: -30px;
    margin-bottom: -7px;
  }
  .button-active, .btn-opacity:active, .btn-opacity.active, .btn-opacity:hover, .btn-opacity:focus {
    color: $white !important;
    background-color: $purple !important;
    border-color: $purple !important;
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 19px;
    position: relative;
    top: -3px;
    right: -30px;
    margin-bottom: -7px;
  }
}
.popover-note{
  .ant-popover-inner-content{
    padding: 0px;
  }
  .ant-list-bordered{
    border: none !important;
  }
  .ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
      border-bottom: 1px solid $opacity00;
  }
  .ant-list-sm .ant-list-item{
    margin: 0px 10px;
    width: 110px;
    div{
      width: 100%;
    }
  }
  .ant-list-bordered.ant-list-sm .ant-list-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .ant-list-item {
    justify-content: initial;
    padding: 6px 0 !important;
    font-size: 11px;
    cursor: pointer;
  }
  i{
    font-size: 16px;
  }
  .ant-list-bordered.ant-list-sm .ant-list-header, .ant-list-bordered.ant-list-sm .ant-list-footer {
    padding: 0px;
  }
  button, button:hover, button:focus{
    border-radius: 0px;
    border: none;
    background: $opacity00;
    font-size: 11px;
    color: $purple00;
    padding: 0 21px;
    height: 35px;
  }
  .anticon{
    position: absolute;
    right: 12px;
    font-size: 10px;
    color: $green;
    margin-top: 8px;
  }
}
.comment-drawer{
  .ant-drawer-content-wrapper{
    width: 320px !important;
  }
  .ant-drawer-header{
    padding: 20px 15px;
    border-bottom: 2px solid $light-purple;
  }
  .ant-drawer-body{
    padding: 0px;
    height: calc(100vh - 123px);
    overflow-y: auto;
  }
  .ant-comment {
    padding: 0px 15px;
    border-bottom: 2px solid $light-purple;
    margin: 0px;

    p{
      font-size: 14px;
      color: $purple00;
      margin-bottom: 4px;
      line-height: 16px;
      min-height: 16px;
    }
    h6{
      text-align: right;
      color: $opacity;
      font-size: 11px;
      font-weight: normal;
      margin-bottom: 0px;
    }
  }
  .ant-comment-inner {
    padding: 10px 0;
  }
  .ant-avatar-string{
    font-size: 12px;
  }
  .btn-coll{
    top: calc(100% - 95px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) !important;
    width: 40px;
  }
  .menu-wr{
    position: absolute;
    right: 25px;
  }
}
// POPUP MAP

.list-popup-comment{
  position: absolute;
  background: white;
  z-index: 200;
  // padding: 0px 10px;
  width: 215px;
  // box-shadow: 0 3px 6px rgba(00,00,00,0.2);
  border-radius: 4px;
  // text-align: left;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  text-align: left;
  margin: 0px auto 0px auto;
  .listofelements {
    overflow-y: auto;
    max-height: 155px;
  }
  .divoptions{
    position: relative;
    float:right;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 222;
    right: 1px;
    li{
      border-radius: 8px;
      padding: 5px 10px;
      &:hover{ 
        background-color: #CFEBFE;
      }
    }
  }
  .divcolors{
    position: absolute;
    // top: 40px;
    // height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    padding: 12px 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 222;
    li{
      display: flex;
      padding: 0px;
      &:hover{ 
        background-color: transparent;
      }
    }
    .img-circle {
      opacity: 1;
      -webkit-mask: url('/Icons/circlecomment.svg') no-repeat center;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      margin-right: 4px;
      margin-left: 4px;
      margin-bottom: 3px;
    }
  }
  .menu-wr { 
    float: right;
    padding: 5px 10px 5px 10px;
    
  }
  .inputlabel {
    border: none;
    background: transparent;
    width: 70%;
    &:focus {
      background:#CFEBFE;
    }
  }
  li{
    display: block;
    position: relative;
    // padding: 13px 12px;
    padding: 13px 0px 13px 12px; 
    border-radius: 9px;
    &:hover {
      background-color: #CFEBFE;
    }
  }
  
  i{
    font-size: 16px;
    top: 2px;
    position: relative !important;
    font-size: 53px;
    font-weight: bold;
    top: 0 !important;

  }
  .img-circle {
    opacity: 1;
    -webkit-mask: url('/Icons/circlecomment.svg') no-repeat center;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 7px;
    margin-bottom: 3px;
  }
  .addlabelbutton {
    border: 1px solid rgba(37, 24, 99, 0.9) !important;
    border-radius: 13px;
    height: 36px !important;
    width: 100%;
    font-size: 14px !important;
    background-color: white;
    &:hover { 
      background-color: #dfecfd;
      cursor: pointer;
    }
  }
  .dot {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;;
  }
  .dot.selected {
      content: url("/Icons/ic-ok.svg");
  }
  .c-yellow {
      background-color: #FFDD00;
  }
  .c-red {
      background-color: #FF5A5F;
  }
  .c-black {
      background-color: #251863;
  }
  .c-green {
      background-color: #29C499;
  }
  .c-blue {
      background-color: #66D4FF;
  }
  button.light {
    /* padding:0.6em 2em; */
    border-radius: none;
    color: coral;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 7px;
    line-height: 14px;
    border: 0;
    cursor: pointer;
    margin: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:hover {
        color: green;
    }
  }
}
.legend {
  position: absolute;
  left:216px;
  top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 9px;
  background-color: #fff;
  // max-width: 175px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  button.light {
      margin: 0;
      padding: 0;
      margin-right: 6px;
      margin-left: 6px;
      background-color: #fff;
      font-size: 7px;
  }
}
.legend.close {
  display: none;
}
.popup-comment{
  width: 280px;
  padding: 0px;
  min-height: 210px;
  background-color: $white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .headmap{
   min-height: 34px;
   border-radius: 8px 8px 0px 0px;
   background: $light-purple;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;
    font-family: unset;
    .testheader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 96%;
      font-size: 15px;
      // padding: 0 1em;
      .dr {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        .legend-selected {
            display: inline-block;
            padding-right: 8px;
            vertical-align: middle;
            button.light {
                margin: 0;
                padding: 0;
            }
        }
        .light{
          margin: 0px 10px 0px 0px;
          padding: 0;
          background-color: #F8F8FA;
          vertical-align: middle;
        }
      }
    }
     button {
       padding: 0px;
       font-size: 12px;
       color: $purple00;
       border: none;
       box-shadow: none;
       height: 20px;
       background: none;
      //  margin-bottom: 13px;
     }
     i{
       // color: $purple00;
       font-size: 53px;
       font-weight: bold;
       position: absolute;
       top: -30px;
       right: 6px;
      //  line-height: 5px;
     }
  }
  .bodymap{
    padding: 10px;
    background: $white;
    border-radius: 8px;
    .ant-input{
      border: 1px solid $opacity01;
      color: $purple;
      font-size: 12px;
    }
    button{
      width: 100%;
      border: 1px solid $opacity01;
      color: $green;
      height: 35px;
      margin-top: 10px;
    }
    button:hover, button:focus{
      background-color: #F2F2F2 !important;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;
      button.light {
          border: 1px solid rgba(37, 24, 99, 0.1);
          border-radius: 8px;
          padding: 9px 32px;
          margin: 0;
          font-size: 14px;
          line-height: 14px;
      }
      button.light.b-red {
          background-color: #fff;
          color: #FF5A5F;
      }
      button.light.b-green {
          background-color: #fff;
          color: #29C499;
      }
    }
  }
}
.popover-comment{
  .ant-popover-inner-content{
    padding: 0px;
  }
  ul{
    padding: 0px !important;
    width: 130px;
  }
  li{
    display: block;
    padding: 6px 0px !important;
    font-size: 11px;
    cursor: pointer;
    border-bottom: 1px solid $light-purple;
    margin: 0px 10px;
  }
}
.padding-comment{
  padding-left: 322px !important;
}

// 1920x1080 DISPLAY
@media (min-width: 1900px) and (max-width: 2499px){
  // GENERAL
  .comment-title{
    h5{
      font-size: 21px;
      line-height: 23px;
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      font-size: 16px;
      height: 22px;
    }
    .ant-btn .anticon{
      font-size: 12px;
    }
    .btn-opacity, .btn-opacity:hover,
    .btn-opacity:focus, .btn-opacity.active,
    .btn-opacity:active {
      width: 30px;
      height: 30px;
      font-size: 19px;
      top: -3px;
      right: -30px;
      margin-bottom: -7px;
      line-height: 30px;
    }
  }
  .popover-note{
    .ant-list-item {
      padding: 6px 0 !important;
      font-size: 14px;
    }
    i{
      font-size: 21px;
    }
    button, button:hover, button:focus{
      font-size: 14px;
      height: 45px;
    }
    .anticon{
      font-size: 12px;
    }
    .ant-list-sm .ant-list-item{
      width: 130px;
    }
  }
  .comment-drawer{
    .ant-drawer-content-wrapper{
      width: 425px !important;
    }
    .ant-drawer-header{
      padding: 20px 25px;
    }
    .ant-drawer-body{
      height: calc(100vh - 123px);
    }
    .ant-comment {
      padding: 0px 20px;

      p{
        font-size: 18px;
        line-height: 20px;
         min-height: 20px;
      }
      h6{
        font-size: 14px;
      }
    }
    .ant-comment-inner {
      padding: 15px 0;
    }
    .ant-avatar-string{
      font-size: 16px;
    }
    .ant-avatar{
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
    .btn-coll{
      width: 50px;
    }
  }
  // POPUP MAP
  .popup-comment{
    width: 370px;

    .headmap{
     min-height: 34px;
     font-size: 14px;
     padding: 12px 15px;
     line-height: 16px;

       button, button:hover, button:focus{
         font-size: 16px;
         height: 22px;
       }
       i{
         font-size: 21px;
       }
    }
    .bodymap{
      padding: 15px;

      .ant-input{
        font-size: 16px;
      }
      button{
        height: 45px;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
  .popover-comment{
    ul{
      width: 160px;
    }
    li{
      padding: 8px 0px !important;
      font-size: 14px;
    }
  }
  .padding-comment{
    padding-left: 427px !important;
  }
}

// 2560x1440 DISPLAY
@media (min-width: 2500px) and (max-width: 2999px){
  // GENERAL
  .comment-title{
    display: flex;
    position: relative;
  
    h5{
      font-size: 16px;
      color: $purple00;
      width: 50%;
      margin-bottom: 0px;
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      position: absolute;
      right: 0px;
      padding: 0px;
      cursor: pointer;
      font-size: 12px;
      color: $opacity;
      border: none;
      box-shadow: none;
      height: 20px;
    }
    .ant-btn .anticon{
      color: $purple00;
      font-size: 10px;
      font-weight: bold;
    }
    .btn-opacity{
      width: 40px;
      height: 40px;
      padding: 0px;
      font-size: 28px;
      position: relative;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
    }
    .button-active, .btn-opacity:active, .btn-opacity.active, .btn-opacity:hover, .btn-opacity:focus {
      color: $white !important;
      background-color: $purple !important;
      border-color: $purple !important;
      width: 40px;
      height: 40px;
      padding: 0px;
      font-size: 28px;
      position: relative;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
    }
    height: 32px;
    h5{
      font-size: 28px;
      line-height: 30px
    }
    .type-popover, .type-popover:hover, .type-popover:focus{
      font-size: 21px;
      height: 32px;
    }
    .ant-btn .anticon{
      font-size: 16px;
    }
    .btn-opacity, .btn-opacity:hover,
    .btn-opacity:focus, .btn-opacity.active,
    .btn-opacity:active {
      width: 40px;
      height: 40px;
      font-size: 28px;
      top: -3px;
      right: -70px;
      margin-bottom: -7px;
      line-height: 40px;
    }
  }
  .popover-note{
    .ant-list-item {
      padding: 6px 0 !important;
      font-size: 18px;
    }
    i{
      font-size: 24px;
    }
    button, button:hover, button:focus{
      font-size: 18px;
      height: 60px;
      padding: 0px 30px;
    }
    .anticon{
      font-size: 16px;
    }
    .ant-list-sm .ant-list-item{
      width: 160px;
    }
  }
  .comment-drawer{
    .ant-drawer-content-wrapper{
      width: 570px !important;
    }
    .ant-drawer-header{
      padding: 20px 32px;
    }
    .ant-drawer-body{
      height: calc(100vh - 132px);
    }
    .ant-comment {
      padding: 0px 20px;

      p{
        font-size: 24px;
        line-height: 26px;
        min-height: 26px;
      }
      h6{
        font-size: 18px;
      }
    }
    .ant-comment-inner {
      padding: 18px 0;
    }
    .ant-avatar-string{
      font-size: 21px;
    }
    .ant-avatar{
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
    .ant-comment-avatar{
      margin-right: 20px;
    }
    .btn-coll{
      height: 60px;
      width: 50px;
    }
  }
  // POPUP MAP
  .popup-comment{
    width: 490px;

    .headmap{
     min-height: 34px;
     font-size: 14px;
     padding: 12px 15px;
     line-height: 16px;

       button, button:hover, button:focus{
         font-size: 21px;
         height: 32px;
       }
       i{
         font-size: 24px;
       }
    }
    .bodymap{
      padding: 20px;

      .ant-input{
        font-size: 16px;
      }
      button{
        height: 60px;
        margin-top: 15px;
        font-size: 21px;
      }
    }
  }
  .popover-comment{
    ul{
      width: 220px;
    }
    li{
      padding: 12px 0px !important;
      font-size: 19px;
    }
  }
  .padding-comment{
    padding-left: 572px !important;
  }
}

.ant-drawer-content-wrapper {
  .ant-drawer-content {
    overflow: hidden;
    .ant-drawer-wrapper-body {
      overflow: hidden;
      .ant-drawer-header {
        .ant-drawer-title {
          .comment-title {
            justify-content: space-between;
            align-items: center;
            h5 {
              font-size: 1em;
              line-height: 18px;
              font-family: "Ubuntu", sans-serif;
              font-weight: 700;
            }
            button.ant-btn {
              margin: 0;
              padding: 0;
              border-color: #fff;
              border-radius: 0;
              box-shadow: none;
              .arrow-left {
                display: block;
                width: 24px;
                height: 24px;
                content: url("/Icons/work/ic_arrow_left.svg") !important;
              }
            }
            button.ant-btn:hover {
              .arrow-left {
                display: block;
                width: 24px;
                height: 24px;
                content: url("/Icons/work/ic_arrow_left_hover.svg") !important;
              }
            }
          }
        }
      }
      .ant-drawer-body {
        /* background-color: yellow; */
        .a-layers {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 12px 16px;
          .title {
            display: block;
            margin: 0;
            padding: 0;
            font-family: "Ubuntu",sans-serif;
            font-size: 14px;
            line-height: 1em;
            font-weight: 500;
            color: #11093C;
          }
          a.ant-dropdown-link.ant-dropdown-trigger {
            display: block;
            margin: 0;
            padding: 0;
            span {
              display: block;
              margin: 0;
              padding: 0;
              width: 16px;
              height: 16px;
              content: url("/Icons/work/ic_plus_default.svg");
            }
          }
          a.ant-dropdown-link.ant-dropdown-trigger:hover {
            span {
              display: block;
              margin: 0;
              padding: 0;
              width: 16px;
              height: 16px;
              content: url("/Icons/work/ic_plus_hover.svg");
            }
          }
          a.ant-dropdown-link.ant-dropdown-trigger.ant-dropdown-open {
            display: block;
            margin: 0;
            padding: 0;
            span {
              display: block;
              margin: 0;
              padding: 0;
              width: 16px;
              height: 16px;
              content: url("/Icons/work/ic_plus_hover.svg");
            }
          }
          a.ant-dropdown-link.ant-dropdown-trigger.inactive {
            display: block;
            margin: 0;
            padding: 0;
            cursor: pointer;
            span {
              display: block;
              margin: 0;
              padding: 0;
              width: 16px;
              height: 16px;
              content: url("/Icons/work/ic_plus_inactive.svg");
            }
          }
        }
        .main-node {
          .s-item {
            /* padding: 12px 0; */
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .s-item:hover {
            background-color: #CFEBFE;
          }
          .s-item.folder {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .ic-folder {
              content: url("/Icons/work/ic_folder.svg");
              display: block;
              width: 16px;
              height: 16px;
            }
            .f-title {
              font-size: 14px;
              line-height: 16px;
              font-family: "Ubuntu", sans-serif;
              font-weight: 400;
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
}