@use  '../Theme/styles';
@import "../Theme/styles.scss";

// LOGIN
.carrousel-mobile {
  display: none;
}
.carrousel-desktop {
  display: block;
}
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 4px !important;
  }
 .grecaptcha-badge:hover {
 width: 256px !important;
 }
.login-hh{
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background: $white !important;
}
.login-step01 {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;

  .btn-purple {
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
  }
  .btn-purple:hover {
    border-bottom: 4px solid $green !important;
  }
}
.hover-version:hover {
  color: $green;
}
.text-logo {
  width: 200px;
  top: 50px !important;
}
.text-logo02 {
  width: 200px;
  top: 40px !important;
}
.anticon.anticon-loading{
  display: none;
}
.anticon.anticon-paper-clip {
  display: none;
}
.login-form {
  width: 420px;
    h1 {
    color: $purple00;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin: 0;
  }
}
// footer carousel
.contact01 {
  position: fixed;
  z-index: 3;
  color: white;
  bottom: 0;
  margin: 0 0 50px 80px;
  font-size: 25px;
}
.contact02 {
  position: fixed;
  z-index: 3;
  color: white;
  bottom: 0;
  top: 70px;
  right: 80px;
  font-size: 25px;
  .text-button {
    background: transparent;
    border-color: transparent;
    color: white;
    font-size: 15px;
  }
}
.contact02:hover {
  color: $green;
}
.icons-list{
  a {
    margin: 12px 26px 12px 0;
  }
  a:hover{
    position: relative;
    top: -2px;
  }
}
.social01 {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  a {
    color: $white;
    font-size: 14px;
  }
  a:hover {
    color: $white;
    position: relative;
    top: -2px;
  }
  span {
    display: inline-block;
    width: 45px;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
  }
}
// login_material style
.returnText {
  margin-bottom: 40px;

  Button, Button:hover, Button:focus, Button:active, Button.active {
   border: none;
   color: rgba(0,0,0,.65);
   font-size: 1rem;
   box-shadow: none;
   padding: 0px;
   height: 33px;
   margin-right: 8px;
 }
 button:hover > .text-l{
   position: relative;
   top: -2px;
 }
 .anticon {
    border: 1px solid $purple;
    border-radius: 50%;
    padding: 7px 7px 5px 7px;
    color: $purple;
    height: 32px;
    width: 32px;
  }
  button:hover > .anticon{
    border: 1px solid $green;
    color: $green;
  }
}
// END LOGIN

/* Sign up */
.signup {
  margin: 15px 0;
  display: flex;
  height: 55px;
  justify-content: space-between;
}
.signup button {
  border: $white;
  white-space: inherit;
  padding: 9px 20px 7px 20px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 3px 13px 0 rgba(68, 58, 121, 0.12);
  font-size: 13px;
  line-height: 16px;
  color: $purple00;
}
.signup button:hover, .signup .ant-btn:active, .signup .ant-btn.active,
.signup .ant-btn:hover, .signup .ant-btn:focus{
  background-color: $green;
  color: $white;
  border: $green;
  white-space: inherit;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 3px 13px 0 rgba(68, 58, 121, 0.12);
}
.btn-up{
  .ant-btn {
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    border-radius: 0px;
    color: $opacity;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(61, 46, 138, 0.07);
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    border-radius: 0px;
    color: $opacity;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid $purple;
    background: transparent;
  }
  img{
    float: right;
    margin-top: 6px;
  }
}
.ant-dropdown-menu-item-group-list {
  background-color: green($color: #000000);
  margin: 0px !important;
}
.js-mm{
  padding: 15px 20px !important;
  font-size: 14px !important;
  color: $opacity !important;

  .ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a{
    padding: 10px 0px;
    border-bottom: 1px solid $opacity01;
    font-size: 14px;
    color: $purple00;
  }
}
.js-mm-00{
  font-size: 14px !important;
  color: $opacity !important;

  .ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a, .ant-menu-item > a{
    font-size: 14px;
    color: $purple00;
  }
  .ant-menu-item{
    border-top: 1px solid $opacity01;
    margin: 0px !important;
    padding: 0px 0px !important;
  }
  .ant-menu-item > a:hover, .ant-menu-item > a:focus,
  .ant-dropdown-menu-item > a:hover, .ant-dropdown-menu-item > a:focus {
    color: $purple;
    font-weight: 500;
  }
  .ant-dropdown-menu-item{
    padding: 10px 20px 0px 20px !important;
    // text-align: left;
  }
  .ant-dropdown-menu-item:hover{
    background: none;
    background-color: #e6f7ff !important;
  }
  span{
    font-size: 12px;
    color: $purple00;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(61, 46, 138, 0.07);
    width: 100%;
    // display: inline-block;
  }
  span:hover{
    color: #251863;
    font-weight: 500;
  }
  img{
    margin-right: 4px;
  }
}
// LIST MENU AUTOCOMPLE
.list-line{
  font-size: 14px !important;
  color: $purple !important;
  border-bottom: 1px solid rgba(61, 46, 138, 0.07);
  margin: 0px 8px;
  padding: 8px 10px !important;
  border-radius: 4px;
}
.list-line:hover, .list-line:focus{
  font-weight: 500;
  background-color: $opacity01 !important;
}
//END LIST MENU AUTOCOMPLE
.sign-menu {
  overflow-y: auto;
  max-height: 225px;

  .organization-items {
    padding: 10px 0px;
  }
  .user-filter-items-text:hover {
    color: $purple;
    font-weight: 500;
  }
}
.sign-menu-organization {
  overflow-y: auto;
  max-height: 225px;
}
.sign-menu-organization2x {
  overflow-y: auto;
  max-height: 440px;
}
.label-sg{
  margin: 10px 10px 0px 20px;
  line-height: 25px;
}
.login-field-top {
  top: -20px !important;
}
.login-field-botton {
  top: 10px !important;
}
/* END Sign up */

// Reset password
.resetText {
  margin: 20px 0 20px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $opacity;
}
// END Reset password

// login-labels
.loginLabels {
  font-size: 16px;
  color: $purple00;
  opacity: 0.5;
}
.login-form-forgot {
  color: $green;
  margin-left: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid;
}
.login-form-forgot:hover{
  top: -2px;
  position: relative;
  color: $green;
}
.login-forgot{
  float: right;
  color: $purple;
}
.login-forgot:hover{
  top: -2px;
  position: relative;
  color: $purple;
}
// END login-labels

// carousel
.ant-carousel {
  padding: 20px;
  background-color: #fff;
}
.ant-carousel .slick-slider .slick-list, .ant-carousel .slick-slider .slick-track {
  border-radius: 20px;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  img {
   position: absolute;
   z-index: -1;
 }
 h5 {
   color: $white;
   margin: 0;
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.11;
   letter-spacing: normal;
 }
 h2 {
   color: $white;
   margin: 0 0 12px 0;
   font-size: 28px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
 }
}
.ant-carousel .slick-list {
  height: 94vh;
}
.ant-carousel .slick-dots {
  display: flex !important;
  padding-left: 60px !important;
  padding-bottom: 120px !important;
}
.ant-carousel .slick-slide .textContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 75vh;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 58px;
}
// END carousel

// logo white
.logo-white {
  width: 130px;
  height: 45px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 70px 0 0 80px;
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;

  p {
   position: relative;
   top: 65px;
 }
}
// END logo white

// styles material input
.group {
  position:relative;
  margin-bottom: 15px;
  input {
    font-size:14px;
    padding:10px 10px 10px 0;
    display:block;
    width:100%;
    border:none;
    // opacity: 15%;
    border-bottom:1px solid $opacity01;
    color: $purple00;
  }
  input:focus{
    outline:none;
  }
  input::placeholder{
    color: $opacity;
  }
}
/* material bar bottom */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}
/* active state */
.group input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}
/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* transition material*/
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
// social login
.social-login .button-social {
  width: 533px;
  height: 72px;
  padding: 0 24px;
  border-radius: 4px;
  box-shadow: 0 3px 13px 0 rgba(68, 58, 121, 0.12);
  background-color: $white;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $purple00;
  display: flex;
  align-items: center;
}
.line-social {
  margin: 30px 0;
  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  span {
     background:#fff;
     padding:0 10px;
     color: $purple00;
     font-size: 21.3px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     letter-spacing: normal;
     text-align: center;
  }
}
.divider-vertical {
  width: 1px;
  height: 45px;
  opacity: 0.15;
  background: $purple;
  margin: 0 26px 0 24px;
}
.mobile-login{
  display: none;
}
.logo-partner{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  z-index: 10;

  p{
    color: $white;
    font-size: 12px;
    margin-bottom: 2px;
  }
  .vizonomy{
    width: 110px;
    margin-left: -10px;
  }
  .respec{
    height: 50px;
  }
}
// RESPONSIVE
@media (max-width: 575.98px) {
  html{
    scroll-behavior: smooth;
  }
  body{
    overflow-y: scroll;
  }
  .logo-white {
    margin: 52px 0 0 25px;
  }
  .ant-carousel{
    .slick-slide .textContent {
      margin-left: 25px;
    }
    .slick-slide h2 {
      font-size: 21px;
    }
    .slick-slide .textContent {
      height: 215px;
    }
    .slick-slide h5 {
     font-size: 14px;
    }
    .slick-dots-bottom {
      bottom: inherit;
      top: 220px;
      left: -35px;
    }
    .btn-purple {
      height: 50px;
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .contact01 {
    position: absolute;
    bottom: inherit;
    height: 100%;
    margin: 0px;
    .icons-list{
      display: none;
    }
  }
  .contact02 {
    top: 250px;
    right: 30px;
    position: absolute;
    bottom: inherit;
    height: 100%;
    margin: 0px;
    display: none;
  }
  .icons-list{
    position: absolute;
    top: 245px;
    left: 25px;
    img{
      height: 20px !important;
    }
  }
  .social01{
    position: absolute;
    // top: 80vh;
    bottom: 230px;
    z-index: 10;

    span {
      width: 15px;
    }
    a {
      font-size: 12px;
    }
    ul {
      width: 100vw;
      text-align: center;
    }
  }
  .mobile-login{
    position: absolute;
    // top: 72vh;
    bottom: 270px;
    z-index: 10;
    width: 88vw;
    margin: 0px 25px;
    display: inline-block;

    .btn-purple{
      height: 50px;
      font-size: 16px;
      // margin-top: 10px;
      width: 100%;
      padding: 16px 0px;
    }
    .ant-anchor-link-title {
      color: $white;
      text-align: center;
    }
    .ant-anchor-wrapper {
      margin-left: 0px;
      padding-left: 0px;
      overflow: hidden;
      background-color: transparent;
      height: 50px;
    }
    .ant-anchor {
      padding-left: 0px;
    }
    .ant-anchor-ink::before {
      background-color: transparent;
    }
    .ant-anchor-ink-ball {
      -webkit-transition: top 5s ease-in-out !important;
      transition: top 5s ease-in-out !important;
    }
  }
  .login-form{
    width: auto !important;
  }
  .login-step01 {
    width: 100%;
    padding: 0px 25px;
    top: 53%;
  }
  .signup {
    justify-content: inherit;

    .button-dropdown{
      width: auto !important;
      min-width: 60px;
      max-width: 110px;
      padding: 9px 0px 7px 0px !important;
      font-size: 12px !important;
      margin: 0px 4px;
    }
  }
  .btn-responsive{
    width: auto !important;
    min-width: 60px;
    max-width: 110px;
    padding: 9px 0px 7px 0px !important;
    font-size: 12px !important;
    margin: 0px 4px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px){
  // .ant-carousel .slick-slide .textContent {
  //   height: 80vh;
  // }
  .ant-carousel .slick-list {
    height: 94vh;
  }
}

@media (min-width: 1900px) and (max-width: 2499px){
  // .ant-carousel .slick-slide .textContent {
  //   height: 80vh;
  // }
  .logo-partner{
    bottom: 30px;
    right: 30px;

    p{
      font-size: 14px;
      margin-bottom: 4px;
    }
    .vizonomy{
      width: 130px;
    }
    .respec{
      height: 65px;
    }
  }
  .ant-carousel .slick-list {
    height: 96vh;
  }
}

@media (min-width: 2500px) and (max-width: 2999px){
  .text-logo {
    width: 400px;
    font-size: 16px;
    top: 90px !important;
  }
  .text-logo02 {
    width: 400px;
    font-size: 16px;
    top: 80px !important;
  }
  .logo-partner{
    bottom: 50px;
    right: 50px;

    p{
      font-size: 18px;
      margin-bottom: 4px;
    }
    .vizonomy{
      width: 180px;
      margin-left: -16px;
    }
    .respec{
      height: 90px;
    }
  }
  .ant-carousel .slick-list {
    height: 96.5vh;
  }
}

@media (min-width: 0px) and (max-width: 700px){
  .carrousel-mobile {
    display: block;
  }
  .carrousel-desktop {
    display: none;
  }
  .ant-carousel {
    padding: 0px;
    background-color: transparent;
  }
  .contact02 {
    .text-button{
      color: #11093c;
    }
  }
  .ant-carousel .slick-list {
    height: 100vh;
    border-radius: 0px !important;
  }
}