@use '../Theme/styles';
@import '../Theme/styles.scss';

//Content Tab Main Map
.over-00 {
  margin-top: -3px;
  margin-left: -21px;

  .ant-tabs-bar {
    margin: 0 15px 16px !important;
  }
  .ant-checkbox-inner {
    height: 20px;
    width: 20px;
    border-radius: 4px;
  }
  .ant-checkbox-inner:after {
    height: 10.14285714px;
    margin-left: 1px;
  }
}
//Style Tabs Main Map
.main-map-tabs-filters {
  .ant-tabs-nav {
    padding-left: 16px;
  }
  .ant-tabs-content-holder {
    padding-left: 16px;
  }
  .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $purple !important;
    padding: 0px -10px 0px -10px !important;
    font-weight: 400 !important;
  }

  .ant-tabs-nav .ant-tabs-tab {
    padding: 15px 0px 15px 0px !important;
    margin: 0 20px 0 0;
    font-size: 16px;
    color: $opacity;
    font-weight: 400;
  }

  .ant-tabs-ink-bar {
    background-color: $purple !important;
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $purple !important;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: none;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 10px;
    padding-left: 10px;
    color: $black !important;
    line-height: 30px;
    height: 54px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
    background: $white;
  }

  .ant-collapse {
    border: none;
    background: transparent;
  }

  .ant-tabs-ink-bar {
    height: 2px !important;
    background-color: $purple;
    margin-bottom: 1.5px !important;
  }

  .ant-collapse-content {
    background-color: $opacity00;
    border-top: none;
  }

  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0 0 0px 0px;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 20px 15px 0px 15px;
  }
}
//Style Tabs Main Map Old (It's been reused in other parts)
.tabs-map {
  .ant-tabs-nav {
    padding-left: 16px;
  }
  .ant-tabs-content-holder {
    padding-left: 16px;
  }
  .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $purple !important;
    padding: 0px -10px 0px -10px !important;
    font-weight: 400 !important;
  }

  .ant-tabs-nav .ant-tabs-tab {
    padding: 15px 0px 15px 0px !important;
    margin: 0 20px 0 0;
    font-size: 16px;
    color: $opacity;
    font-weight: 400;
  }

  .ant-tabs-ink-bar {
    background-color: $purple !important;
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $purple !important;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: none;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    display: none;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 10px;
    padding-left: 10px;
    color: $black !important;
    line-height: 30px;
    height: 54px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
    background: $white;
  }

  .ant-collapse {
    border: none;
    background: transparent;
  }

  .ant-tabs-ink-bar {
    height: 2px !important;
    background-color: $purple;
    margin-bottom: 1.5px !important;
  }

  .ant-collapse-content {
    background-color: $opacity00;
    border-top: none;
  }

  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0 0 0px 0px;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 20px 15px 0px 15px;
  }
}
// Button Filter load Style
.apply-filter-no-effect {
  border: none;
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  margin-top: -6px;
  position: relative;
  background: transparent;
  font-size: 11px;
  color: $purple00;
  display: flex;
  align-items: center;

  .ant-checkbox-wrapper {
    padding-left: 8px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }

  @keyframes load {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}
.count {
  padding: 0px;
  margin-top: 1px;
  .ant-popover-arrow {
    display: none;
  }
}
// filter apply style
.apply-filter {
  border: none;
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  margin-top: -6px;
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 11px;
  color: $purple00;

  .ant-checkbox-wrapper {
    padding-left: 8px;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }

  .progress {
    background: transparent;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding-left: 16px;
    display: flex;
    height: 3px;
    width: 168px;
    position: absolute;
    bottom: 0px;
    left: -5px;
  }

  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: $green;
    height: 3px;
    width: 0;
    animation-iteration-count: infinite;
  }

  @keyframes load {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
}
.sort-map-desktop {
  width: 100%;
}

.head-filter {
  background: #f5f7ff;
  height: 50px;
  padding: 6px 15px;
  margin-left: -20px;
  margin-right: -20px;

  .ant-input-affix-wrapper {
    color: $purple;
    height: 35px;
    border-radius: 3px !important;
    background-color: $white;
    box-shadow: none;
  }

  .ant-input-search-icon {
    color: $purple;
  }

  .ant-input-affix-wrapper .ant-input {
    background-color: transparent;
    padding-right: 35px;
  }

  .ant-dropdown-link {
    color: $purple00;
    text-align: left;
    font-size: 12px;
    padding: 18px 0px;
  }

  button {
    background-color: white;
    font-size: 12px;
    box-shadow: none;
    transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: $purple;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
  }

  .circle {
    background-color: #e0dfe7 !important;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: -3px;
  }

  .innercircle {
    position: relative;
    text-align: center;
    line-height: 0px;
  }

  button img {
    margin-right: 5px;
  }

  .ant-input:hover {
    border-color: $purple;
  }

  .ant-input:focus {
    box-shadow: none;
  }

  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $purple;
  }

  .ant-btn:hover > span,
  .ant-btn:hover {
    color: $green !important;
    background-color: transparent;
    border-color: none;
  }

  .ant-btn:focus {
    background: transparent;
  }

  button .img-filter {
    -webkit-mask: url('../../Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $opacity02;
  }

  .ant-btn:hover > .img-filter {
    opacity: 1;
    -webkit-mask: url('../../Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $green !important;
    padding: 7px;
  }

  button .img-sortBy {
    background: url('../../Icons/ic_sort_by_active.svg') no-repeat center;
    height: 16px;
    width: 15px;
    padding: 7px;
    border: 0px solid #ff000000;
    outline: none;
    margin-right: 7px;
  }

  .ant-btn:hover > .img-sortBy {
    background: url('../../Icons/ic_sort_by_hover.svg') no-repeat center;
    height: 16px;
    width: 15px;
    padding: 7px;
    border: 0px solid #ff000000;
    outline: none;
    margin-right: 7px;
  }

  .sort-content {
    display: inline-block;

    .sort-buttons {
      margin-right: 5px;
      cursor: pointer;

      .img-filter00 {
        height: 18px;
        width: 18px;
        background: $opacity02;
        transition: width 2s;
        padding: 9px;
      }
    }

    .sort-buttons:hover > .img-filter00 {
      opacity: 1;
      height: 18px;
      width: 18px;
      background: $green !important;
      transform: rotate(180deg);
      transition: width 2s;
      padding: 9px;
    }

    .rotate-icon {
      transform: rotate(180deg) translate(0px, 2px) !important;
      transition: all 0.4s;
    }

    .normal-icon {
      transform: rotate(0deg) !important;
      transition: all 0.4s;
    }
  }

  .btn-borde {
    height: 37px;
    font-size: 14px !important;
    margin-right: 15px;
    margin-left: 10px;
  }
}

.sort-content:hover > .ant-dropdown-link {
  color: $green;
}

.sort-content:hover > .sort-buttons > .img-filter00 {
  opacity: 1;
  height: 18px;
  width: 18px;
  background: $green !important;
  padding: 9px;
}

.img-negative {
  background-image: url('../../Icons/icon-21.svg') !important;
}

.tabs-style {
  .ant-popover-content {
    margin-left: -20px;
  }
}

.line-00 {
  height: 7px;
}

.line-02 {
  position: absolute;
  background: #e8e8e8;
  height: 2px;
  width: 22px;
  top: 11px;
  left: -40px;
}

.tab-head {
  display: flex;
  font-size: 14px;

  img {
    float: right;
    margin-top: 7px;
  }

  .ant-progress-success-bg,
  .ant-progress-bg {
    background-color: $green;
    height: 4px;
  }

  .ant-progress-line {
    position: absolute;
    width: 100%;
    font-size: 14px;
    top: 12px;
    left: 0px;
  }

  p {
    margin-top: -6px;
    margin-bottom: 0px;
  }
}

.infinite-scroll-component {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-right: 10px;
}

.list-h {
  display: flex;
  font-size: 14px;
  color: $green;
  width: 100%;
  padding: 10px;
}

.hastag {
  display: flex;
  display: none;

  h6 {
    font-size: 14px;
    color: $purple;
    font-weight: 600;
    margin-right: 10px;
    min-width: 148px;
    margin-left: 20px;
    max-width: 185px;
  }

  .ant-tag {
    color: $opacity;
    font-size: 14px;
    display: inline-block;
    height: auto;
    background: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
  }

  .ant-tag .anticon-close {
    font-size: 10px !important;
    background: $opacity;
    border-radius: 50%;
    padding: 4px;
    color: $white;
    font-weight: 600;
    top: -1px;
    position: relative;
  }
}

// BORRAR ARRIBA

// NEW TAG Filter
.tag-filters {
  width: auto;
  margin-top: -8px;
  padding: 8px 4px;
  .tag-body {
    max-height: calc(100vh - 260px);
    height: auto;
    overflow-y: auto;
  }

  .ant-popover-inner-content {
    padding: 0px;
    padding-bottom: 0px;
  }

  .head {
    background: transparent;
    padding: 5px 10px;
    color: #11093c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 2px;
    img {
      margin-top: -1px;
    }
  }

  p {
    margin-bottom: 0px;
    margin: 0px 5px;
    padding: 6px 5px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: $opacity06;

    button {
      height: auto;
      width: 15px;
      padding: 0px;
      margin: 0px;
      float: right;
      margin-left: 6px;
    }
  }
  .ant-popover-placement-bottomRight .ant-popover-arrow {
    display: none !important;
  }

  .ant-popover-arrow {
    display: none !important;
  }

  .ant-popover-placement-bottom .ant-popover-arrow,
  .ant-popover-placement-bottomLeft .ant-popover-arrow,
  .ant-popover-placement-bottomRight .ant-popover-arrow {
    display: none !important;
  }

  .ant-arrow {
    display: none !important;
  }
  .btn-footer-02 {
    margin: 5px 0px 0px 0px;
    text-align: right;

    .btn-borde {
      margin-right: 0px;
      border: none !important;
      font-size: 12px;
      color: $opacity06 !important;
      font-weight: 500;
    }

    .ant-btn > span {
      margin-right: -4px;
    }
  }
}

.menu-dropdown-map {
  margin-top: -10px;
  border-radius: 0px;
  padding: 6px 0px;
}

.card-button-hover {
  position: relative;

  button {
    background-color: $purple00;
    color: $white;
    font-size: 12px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button:hover,
  button:focus {
    background-color: $purple00;
    color: $white;
  }

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 150px;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100% !important;
  border-radius: 6px 6px 0px 0px;
  padding: 20% 48%;
}

.card-button-hover:hover .image {
  opacity: 0.3;
}

.card-button-hover:hover .middle {
  opacity: 1;
}

.test-style {
  background-color: transparent;
  position: absolute;
  color: yellow;
  bottom: 0px;
  text-align: -webkit-right;
  z-index: 10;
  right: 320px;
}

.like-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;

  button,
  button:hover,
  button:focus,
  button:active {
    background: transparent;
    border: none;
    padding: 2px;
    height: 30px;
    width: 32px;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  button .like-img {
    background-image: url('../../Icons/icon-81.svg') !important;
    height: 23px;
    width: 27px;
    background-repeat: no-repeat;
  }

  .ant-btn:hover > .like-img,
  .ant-btn:focus > .like-img,
  .ant-btn:active > .like-img,
  .ant-btn.active > .like-img {
    background-image: url('../../Icons/icon-82.svg');
    height: 23px;
    width: 27px;
    background-repeat: no-repeat;
  }

  button .like-img-on {
    background-image: url('../../Icons/icon-82.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
}

// END MAP

// FILTERS MAP
hr.linedropdown {
  align-content: center;
  margin-right: auto;
  opacity: 0.2;
  margin-top: 14px;
  border-radius: 5px;
  margin-left: auto;
  width: 40%;
  background-color: #4a4a4a8a;
  border: 1.2px solid #4a4a4a8a;
}

hr.filters-line {
  opacity: 0.1;
  margin-bottom: 24px;
  border: 1.5px solid;
  border-radius: 5px;
  background-color: #4a4a4a8a;
  border: 1.5px solid #4a4a4a8a;
}

//Autocomplete style
.auto-complete-map {
  margin-top: -3px;
  color: $black !important;
  display: flex;
  justify-content: space-between;

  .ant-select {
    flex: 1;
    width: 100%;
  }

  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder,
  .ant-input {
    color: $black !important;
    font-size: 21.5px !important;
    margin-left: -12px !important;
    margin-right: -2px !important;
    height: 30px;
  }

  .ant-select-auto-complete.ant-select .ant-input {
    border: none;
    padding: 0px;
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    color: $opacity !important;
  }

  .ant-select-dropdown-menu-item {
    padding: 7.5px 10px 8px 10px;
    margin: 0px 100px;
    text-align: left;
    font-size: 14px;
    color: $black !important;
    border-bottom: 1px solid $opacity01;
  }

  .ant-select-dropdown-menu-item-ative:not(.ant-select-dropdown-menu-item-disabled),
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    color: #e6f7ff !important;
    font-weight: bold;
  }

  .ant-menu-item-selected,
  .ant-menu-item-selected a,
  .ant-menu-item-selected a:hover {
    color: #706b8a !important;
  }

  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 0px;
  }

  .auto-complete-map .ant-select-auto-complete.ant-select .ant-input {
    border: none !important;
    padding: 0 !important;
  }

  .ant-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0);
  }

  .ant-input-affix-wrapper .ant-input-suffix {
    right: 52px;
    color: $black !important;
    font-size: 16px;
  }

  .rotate-icon {
    transform: rotate(180deg);
    transition: all 0.5s;
  }

  .anticon {
    transition: all 0.5s;
  }
}

//button-header-map
.button-header-tab {
  display: flex;
  .ico-header-tab {
    color: $purple00;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
    padding: 9px 8px;
    margin-left: 16px;
    width: auto;
    border-radius: 4px;
    align-items: center;
    display: flex;
    img {
      margin-right: 8px;
    }
  }
  .ico-header-tab:hover,
  .ico-header-tab:active,
  .ico-header-tab:focus {
    background-color: $menu-background !important;
    color: $purple00;
  }
  .ico-header-tab-active {
    background-color: $menu-background !important;
    color: $purple00;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
    padding: 9px 8px;
    margin-left: 16px;
    width: auto;
    border-radius: 4px;
    align-items: center;
    display: flex;

    img {
      margin-right: 8px;
    }
  }
  .ico-header-tab-active:hover,
  .ico-header-tab-active:active,
  .ico-header-tab-active:focus {
    background-color: $menu-background !important;
    color: $purple00;
  }
}
//table scroll
.table-scroll-map-list{
  overflow-y: scroll;
  height: calc(100vh - 262px);
  margin-right: -11px;
  .infinite-scroll-component__outerdiv{
    height: 100%;
    overflow-y: hidden;
  }
}
.table-scroll-map-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

//table-style-map

.table-list-map {
  // .project-name{
  //   width: 220px;
  // }
  // .project-type{
  //   width: 147px;
  // }
  // .project-status{
  //   width: 86px;
  // }
  .ant-table {
    color: $purple00;
    font-size: 12px;
  }
  .ant-table-body {
    height: calc(100vh - 306px) !important;
    max-height: calc(100vh - 306px) !important;
    padding-right: 2px;
  }
  .ant-table-thead th.ant-table-column-has-sorters:hover {
    background: #F5F7FF;
  }
  .ant-table-thead{
    tr:first-child th:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    tr > th {
      padding: 10px 16px;
      color: $purple00;
      font-family: Ubuntu;
      font-size: 12px;
      line-height: 18px;
      border: 0px solid #E6E9EA;
      background: #F5F7FF;
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid transparent;
    }
    tr
      > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
      display: none;
    }
  }
  .ant-table-column-sorter {
    color: $purple00;
    margin-left: 10px;
  }
  .ant-table-column-sorters {
    display: inline-flex;
    font-size: 13px;
  }

  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th,
  .ant-table tfoot > tr > td,
  .ant-table tfoot > tr > th {
    padding: 11px 10px;
    padding-right: 8px;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid transparent;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%; 
  }
  .row-geometry-body-selected{
    td {
      border-bottom: 1px solid $green !important;
      border-top: 1px solid $green !important;
    }
    td:first-child {
      border-left: 1px solid $green !important;
      border-radius: 3px 0px 0px 3px;
    }
    td:last-child{
      border-right: 1px solid $green !important;
      border-radius: 0px 3px 3px 0px;
    }
  }
  .content-project-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more-ico{
    font-size: 18px;
  }
  .project-name{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin: 0px;
    color: $purple00;
    width: 95%;
    white-space: normal;
    max-width: 100%;
  }
  .status-projects-active {
    color: $green;
    font-weight: 400;
    border-radius: 19px;
    background: rgba(41, 196, 153, 0.2);
    width: 68px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status-projects-submitted {
    color: #ff8938;
    font-weight: 400;
    border-radius: 19px;
    background: rgba(255, 221, 0, 0.2);
    width: 68px;
    height: 16px;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  .status-projects-requested {
    color: #871de1;
    font-weight: 400;
    border-radius: 19px;
    background: rgba(135, 29, 225, 0.2);
    width: 68px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
//Filters
.scroll-filters {
  padding: 0px 6px 0px 0px;
  .ant-input {
    height: 36px;
    border-radius: 5px;
    color: $purple00;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
  }
  .ant-select {
    font-size: 14px !important;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
  }
  .sub-title-sec{
    display: flex;
    justify-content: space-between;
  }
}

.main-map-dropdown{
  font-size: 14px;
}
.main-map-list-name-popover-text{
  font-size: 12px;
  margin: 0px;
}
@media (max-width: 875px){
  .tabs-map .ant-tabs-content-holder{
    padding: 0px;
  }
  .tabs-map .ant-tabs-nav {
    padding-left: 12px;
  }
  .ffoo{
    padding: 7px 8px 15px 8px !important;
    .over-00{
      margin: 0px;
      .ant-tabs-nav{
        padding: 0px 4px 0px 4px;
        .apply-filter-no-effect{
          padding: 0px;
        }
      }
      .ant-tabs-content-holder{
        padding: 0px;
      }
    }
  }
}

@media (min-width: 1900px) and (max-width: 2499px) {
  //MAIN-MAP
  .button-header-tab {
    .ico-header-tab {
      font-size: 17px;
      padding: 12px 10px;
      margin-left: 16px;
      img {
        height: 19px;
        width: 19px;
      }
    }
    .ico-header-tab-active {
      font-size: 17px;
      padding: 12px 10px;
      margin-left: 16px;
      img {
        height: 19px;
        width: 19px;
        margin-right: 8px;
      }
    }
  }
  .sort-map-desktop {
    .btn-red {
      u {
        font-size: 16px;
      }
    }
    .btn-filter {
      img {
        height: 21px;
      }
      span {
        font-size: 16px;
        vertical-align: middle;
      }
    }
    .sort-content {
      img {
        height: 21px;
      }
      span {
        font-size: 16px;
      }
    }
  }
  .head-filter {
    height: 66.7px;
    padding: 10px 20px;
    //margin-right: 42px;

    .ant-row-middle {
      flex: 1;
      display: flex;
      .ant-col {
        flex: 1;
      }
    }

    .ant-input-affix-wrapper {
      height: 40px;
      width: 310px;
    }

    .ant-input-affix-wrapper .ant-input {
      height: 100%;
      font-size: 16px;
    }

    .ant-dropdown-link {
      color: $purple00;
      text-align: left;
      font-size: 12px;
      padding: 18px 0px;
    }

    button {
      background-color: white;
      font-size: 12px;
      box-shadow: none;
      transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
      color: $purple;
      height: 35px;
      border-radius: 2px;
      background-color: #ffffff;
    }

    .circle {
      background-color: #e0dfe7 !important;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: -3px;
    }

    .innercircle {
      position: relative;
      text-align: center;
      line-height: 0px;
    }

    button img {
      margin-right: 5px;
    }

    .ant-input:hover {
      border-color: $purple;
    }

    .ant-input:focus {
      box-shadow: none;
    }

    .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      border-color: $purple;
    }

    .ant-btn:hover > span,
    .ant-btn:hover {
      color: $green !important;
      background-color: transparent;
      border-color: none;
    }

    .ant-btn:focus {
      background: transparent;
    }

    button .img-filter {
      -webkit-mask-size: 19px;
      height: 20px;
      margin-right: 7px;
    }

    .ant-btn:hover > .img-filter {
      -webkit-mask-size: 19px;
      height: 20px;
      margin-right: 7px;
    }

    button .img-sortBy {
      -webkit-mask-size: 19px;
      height: 20px;
      margin-right: 7px;
    }

    .ant-btn:hover > .img-sortBy {
      -webkit-mask-size: 19px;
      height: 20px;
      margin-right: 7px;
    }

    .sort-content {
      display: inline-block;

      .sort-buttons {
        margin-right: 5px;
        cursor: pointer;

        .img-filter00 {
          -webkit-mask-size: 21px;
          background: $opacity02;
          transition: width 2s;
          padding: 9px;
        }
      }

      .sort-buttons:hover > .img-filter00 {
        opacity: 1;
        height: 18px;
        width: 18px;
        background: $green !important;
        transform: rotate(180deg);
        transition: width 2s;
        padding: 9px;
      }
    }
  }
  .main-map-tabs-filters {
    .ant-tabs-nav {
      padding: 0px 20px;
    }
    .ant-tabs-content-holder {
      padding-left: 16px;
    }

    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $purple !important;
      padding: 0px -10px 0px -10px !important;
      font-weight: 400 !important;
    }

    .ant-tabs-nav .ant-tabs-tab {
      padding: 9px 0px 17px 0px !important;
      margin: 0 21px 0 0;
      font-size: 18px;
    }

    .ant-tabs-ink-bar {
      background-color: $purple !important;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $purple !important;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
      float: none;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      display: none;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 12px 10px;
      padding-left: 10px;
      color: $black !important;
      line-height: 30px;
      height: 54px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
      background: $white;
    }

    .ant-collapse {
      border: none;
      background: transparent;
    }

    .ant-tabs-ink-bar {
      height: 2px !important;
      background-color: $purple;
      margin-bottom: 1.5px !important;
    }

    .ant-collapse-content {
      background-color: $opacity00;
      border-top: none;
    }

    .ant-collapse > .ant-collapse-item:last-child,
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      border-radius: 0 0 0px 0px;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 20px 15px 0px 15px;
    }
  }
  .tabs-map .ant-tabs-nav {
    padding: 0px 20px;
  }
  .tabs-map .ant-tabs-nav .ant-tabs-tab{
    font-size: 18px;
  }
  .apply-filter-no-effect {
    font-size: 14px;
    padding: 14px 0px;
    margin-top: 3px;
  }
  .apply-filter{
    font-size: 14px;
    padding: 14px 0px;
    margin-top: 3px;
    .progress{
      width: 200px;
      left: -15px;
    }
  }
  .card-button-hover {
    height: 200px;
    img {
      height: 200px;
    }
    button {
      font-size: 16px;
      width: 116px;
      height: 40px;
    }
  }
  .like-btn button .like-img-on {
    width: 27px;
    height: 24px;
  }
  .like-btn button .like-img {
    width: 27px;
    height: 24px;
  }
  .table-list-map .ant-table-thead tr > th {
    font-size: 14px;
    height: 54px;
  }
  .infinite-scroll-component{
    height: calc(100vh - 220px) !important;
  }
  .table-list-map {
    .ant-table {
      font-size: 14px;
      height: 58px;
    }
    .ant-table-body {
      height: calc(100vh - 346px) !important;
      max-height: calc(100vh - 346px) !important;
    }
    .ant-table-column-sorters {
      font-size: 15px;
    }
  }
  .table-list-map .project-name {
    font-size: 14px;
    // height: 58px;
    line-height: 17px;
  }
  .main-map-dropdown{
    font-size: 16px;
  }
  //WR
  .auto-complete-map .ant-input{
    font-size: 27px;
    height: 40px;
  }
  .scroll-filters{
    .filt-00 {
      h5 {
        font-size: 19px !important;
        img{
          width: 16px !important;
        }
      }
    }
    .ant-input {
      height: 36px !important;
      font-size: 16px !important;
    }
    .btn-svg-text{
      font-size: 15px !important;
      padding: 16px 45px !important;
      img{
        height: 28px !important;
      }
    }
  }
  .main-map-list-name-popover-text{
    font-size: 14px;
  }
}
@media(min-width: 2550px){
  .scroll-filters{
    padding: 0px 15px 0px 0px;
    .ant-checkbox-wrapper{
      font-size: 20px !important;
    }
    .ant-checkbox-group{
      height: 204px !important;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 45px !important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 45px !important;
    }
    .btn-svg-text{
      font-size: 20px !important;
      padding: 20px 45px !important;
      img{
        height: 38px !important;
      }
    }
  }
  .button-header-tab {
    .ico-header-tab {
      font-size: 22px;
      padding: 23px 17px;
      margin-left: 16px;
      img {
        height: 26px;
        width: 26px;
      }
    }
    .ico-header-tab-active {
      font-size: 22px;
      padding: 23px 17px;
      margin-left: 16px;
      img {
        height: 26px;
        width: 26px;
        margin-right: 8px;
      }
    }
  }
  .sort-map-desktop {
    .btn-red {
      u {
        font-size: 19px;
      }
    }
    .btn-filter {
      img {
        height: 26px;
      }
      span {
        font-size: 19px;
        vertical-align: middle;
      }
    }
    .sort-content {
      img {
        height: 26px;
      }
      span {
        font-size: 19px;
      }
    }
  }
  .head-filter {
    height: 83px;
    padding: 14px 26px;

    .ant-row-middle {
      flex: 1;
      display: flex;
      .ant-col {
        flex: 1;
      }
    }

    .ant-input-affix-wrapper {
      height: 50px;
      width: 460px;
    }

    .ant-input-affix-wrapper .ant-input {
      height: 100%;
      font-size: 19px !important;
    }

    .ant-dropdown-link {
      color: $purple00;
      text-align: left;
      font-size: 12px;
      padding: 18px 0px;
    }
    .circle {
      background-color: #e0dfe7 !important;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: -3px;
    }

    .innercircle {
      position: relative;
      text-align: center;
      line-height: 0px;
    }

    button img {
      margin-right: 5px;
    }

    .ant-input:hover {
      border-color: $purple;
    }

    .ant-input:focus {
      box-shadow: none;
    }

    .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      border-color: $purple;
    }

    .ant-btn:hover > span,
    .ant-btn:hover {
      color: $green !important;
      background-color: transparent;
      border-color: none;
    }

    .ant-btn:focus {
      background: transparent;
    }

    button .img-filter {
      -webkit-mask-size: 25px;
      height: 25px;
      margin-right: 9px;
    }

    .ant-btn:hover > .img-filter {
      -webkit-mask-size: 25px;
      height: 25px;
      margin-right: 9px;
    }

    button .img-sortBy {
      height: 25px;
      width: 25px;
      background-size: cover;
      margin-right: 9px;
    }

    .ant-btn:hover > .img-sortBy {
      height: 25px;
      width: 25px;
      background-size: cover;
      margin-right: 9px;
    }

    .sort-content {
      display: inline-block;

      .sort-buttons {
        margin-right: 5px;
        cursor: pointer;

        .img-filter00 {
          -webkit-mask-size: 21px;
          background: $opacity02;
          transition: width 2s;
          padding: 9px;
        }
      }

      .sort-buttons:hover > .img-filter00 {
        opacity: 1;
        height: 18px;
        width: 18px;
        background: $green !important;
        transform: rotate(180deg);
        transition: width 2s;
        padding: 9px;
      }
    }
  }
  .main-map-tabs-filters {
    .ant-tabs-nav {
      padding: 0px 20px;
    }
    .ant-tabs-content-holder {
      padding-left: 16px;
    }

    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $purple !important;
      padding: 0px -10px 0px -10px !important;
      font-weight: 400 !important;
    }

    .ant-tabs-nav .ant-tabs-tab {
      padding: 9px 0px 17px 0px !important;
      margin: 0 21px 0 0;
      font-size: 18px;
    }

    .ant-tabs-ink-bar {
      background-color: $purple !important;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $purple !important;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
      float: none;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      display: none;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 12px 10px;
      padding-left: 10px;
      color: $black !important;
      line-height: 30px;
      height: 54px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
      background: $white;
    }

    .ant-collapse {
      border: none;
      background: transparent;
    }

    .ant-tabs-ink-bar {
      height: 2px !important;
      background-color: $purple;
      margin-bottom: 1.5px !important;
    }

    .ant-collapse-content {
      background-color: $opacity00;
      border-top: none;
    }

    .ant-collapse > .ant-collapse-item:last-child,
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      border-radius: 0 0 0px 0px;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 20px 15px 0px 15px;
    }
  }
  .tabs-map .ant-tabs-nav {
    padding: 0px 20px;
  }
  .tabs-map .ant-tabs-nav .ant-tabs-tab{
    font-size: 22px;
  }
  .table-list-map {
    .ant-table-thead tr > th {
      height: 68px;
    }
    .more-ico{
      font-size: 21px;
    }
    .ant-table-body{
      height: calc(100vh - 421px) !important;
      max-height: calc(100vh - 421px) !important;
    }
    .ant-table-column-sorters {
      display: inline-flex;
      font-size: 20px;
    }
  }
  
  .apply-filter-no-effect {
    font-size: 19px;
    padding: 16px 0px;
    margin-top: 3px;
  }
  .apply-filter{
    font-size: 19px;
    padding: 16px 0px;
    margin-top: 3px;
    .progress {
      width: 250px;
      left: -15px;
    }
  }
  .card-button-hover {
    height: 260px;
    img {
      height: 260px;
    }
    button {
      font-size: 19px;
      width: 152px;
      height: 52px;
    }
  }
  .like-btn {
    right: 18px;
    bottom: 18px;
  
    button,
    button:hover,
    button:focus,
    button:active {
      background: transparent;
      border: none;
      padding: 2px;
      height: 35px;
      width: 37px;
      display: flex;
      align-items: end;
      justify-content: end;
    }
  
    button .like-img {
      background-image: url('../../Icons/icon-81.svg') !important;
      height: 27px;
      width: 32px;
      background-size: cover;
    }
  
    .ant-btn:hover > .like-img,
    .ant-btn:focus > .like-img,
    .ant-btn:active > .like-img,
    .ant-btn.active > .like-img {
      background-image: url('../../Icons/icon-82.svg');
      height: 27px;
      width: 32px;
      background-size: cover;
    }
  
    button .like-img-on {
      background-image: url('../../Icons/icon-82.svg');
      height: 25px;
      width: 27px;
      background-size: cover;
    }
  }

  .table-list-map .ant-table {
    font-size: 16px;
  }
  .main-map-dropdown{
    font-size: 21px;
  }
  .auto-complete-map {
    .ant-input{
    font-size: 30px !important;
    height: 47px;
    }
    .ant-input-affix-wrapper .ant-input-suffix{
      font-size: 24px;
    }
  }
  .tag-filters {
    //width: auto;
    //margin-top: -8px;
    //padding: 8px 4px;
    .tag-body {
      //max-height: calc(100vh - 260px);
      //height: auto;
      //overflow-y: auto;
    }
  
    .ant-popover-inner-content {
      //padding: 0px;
      //padding-bottom: 0px;
    }
  
    .head {
      //background: transparent;
      //padding: 5px 10px;
      //color: #11093c;
      font-size: 19px;
      //text-transform: uppercase;
      //font-weight: 500;
      //margin-bottom: 2px;
      //margin-top: 2px;
      img {
        //margin-top: -1px;
      }
    }
  
    p {
      //margin-bottom: 0px;
      //margin: 0px 5px;
      //padding: 6px 5px;
      font-size: 19px;
      //box-sizing: border-box;
      //display: flex;
      //flex-direction: row;
      //justify-content: space-between;
      //align-items: baseline;
      //color: $opacity06;
  
      button {
        // height: auto;
        // width: 15px;
        // padding: 0px;
        // margin: 0px;
        // float: right;
        // margin-left: 6px;
      }
    }
    // .ant-popover-placement-bottomRight .ant-popover-arrow {
    //   display: none !important;
    // }
  
    // .ant-popover-arrow {
    //   display: none !important;
    // }
  
    // .ant-popover-placement-bottom .ant-popover-arrow,
    // .ant-popover-placement-bottomLeft .ant-popover-arrow,
    // .ant-popover-placement-bottomRight .ant-popover-arrow {
    //   display: none !important;
    // }
  
    // .ant-arrow {
    //   display: none !important;
    // }
    .btn-footer-02 {
      margin: 5px 0px 0px 0px;
      text-align: right;
  
      .btn-borde {
        // margin-right: 0px;
        // border: none !important;
         font-size: 17px;
        // color: $opacity06 !important;
        // font-weight: 500;
      }
  
      .ant-btn > span {
        //margin-right: -4px;
      }
    }
  }
  .table-list-map .project-name {
    font-size: 16px;
    line-height: 20px;
  }
  .table-scroll-map-list{
    height: calc(100vh - 350px);
  }
  .infinite-scroll-component{
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 350px);
  }
  .main-map-list-name-popover-text{
    font-size: 16px;
  }
}