@import "../Theme/styles.scss";
#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.map{
  height: calc(100vh - 69px);
  margin: 5px;
  position: relative;
  .mapboxgl-ctrl-group {
    width: 32px !important;
  }
  .mapboxgl-popup{
    z-index: 20;

    .mapboxgl-popup-content {
      padding: 0px 0px;
      border-radius: 5px;
      box-shadow: 0 3px 11px 0 var(--marine-blue-15);
      background-color: #ffffff;
      font-size: 14px;
      font-family: 'Ubuntu';
      width: 200px;

      .popup-header {
        background-color: #ebebeb;
        padding: 10px 15px;
        padding-bottom: 5px;
        border-radius: 5px;

        .head {
          color: #11093c;
          font-weight: 500;
          opacity: 0.6;
        }
      }

      .popup-body {
        font-weight: 500;
        color: $purple;
        line-height: 1.19;
        padding: 10px 15px 0px 15px;
        // padding-bottom: 15px;

        .city {
          font-weight: normal;
          color: $purple;
          opacity: 0.6;
          font-size: 13px;
          line-height: 1.8;
          margin-top: 2px;
        }

        .components {
          font-weight: 500;
          font-size: 11px;
          padding-bottom: 2px;
          color: $opacity;
          text-align: right;
          margin-top: 3px;
        }
        .hh-gg{
          display: flex !important;
          div{
            width: 50%;
          }
        }
      }

      .popup-footer {
        padding: 0px 15px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: 500;

        .divider{
          border-top: 1px solid #251863;
          opacity: 0.1;
        }
      }

      .mapboxgl-popup-close-button {
        margin-top:  10px;
        margin-right:  10px;
        padding-left:  10px;
        font-size: 25px;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.map-00{
  .mapboxgl-map{
    height: 100%;
  }

  .mapboxgl-ctrl-bottom-right {
    width: 100%;
  }
  .mapboxgl-ctrl-group{
    left: 20px;
    position: absolute;
    width: 32px;
    bottom: 30px;
  }
  .mapboxgl-ctrl-scale{
    left: 55px;
    position: absolute;
    bottom: 30px;
    width: auto !important;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
  }
}
.map .m-head{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 35px;
  z-index: 10;
  display: flex;

  .geocoder {
    display: inline-block;
    height: 35px;

    .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
      fill: $purple;
      width: 18px;
    }

    .mapboxgl-ctrl-geocoder--input {
      font-size: 14px;
    }
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    height: 35px;
  }

  .mapboxgl-ctrl-geocoder button {
    height: 0px;
    right: 0;
    top: 7px;
  }
  button{
    height: 35px;
    border: none;
    width: 35px;
    padding: 0px;
    background: $green;
    margin-right: 15px;
  }
  .btn-purple{
    margin: 0px 15px;
  }
  .btn-02{
    -webkit-mask: url('../../Icons/icon-05.svg') no-repeat center;
    height: 16px;
    background: $white;
    padding: 17.5px 9px;
  }
  Button:hover > .btn-02{
    -webkit-mask: url('../../Icons/icon-05.svg') no-repeat center;
    height: 16px;
    background: $dark !important;
    margin-top: -2px;
  }
  .ant-input-search-icon{
    color: $purple;
  }
  .ant-select-auto-complete{
    margin-bottom: 5px;
    border-radius: 6px;
    border-radius: 20% !important;
  }
  .ant-select-auto-complete.ant-select .ant-input {
    line-height: 1.5;
    font: inherit;
    width: 100%;
    border: 0 !important;
    margin-top: -4px;
    margin-left: -2px;
    margin-right: 7.5px;
    height: 30px;
    color: #404040;
    padding: 6px 36px 0px 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 4px !important;
  }
  .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-radius: 4px !important;
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    left: 12px;
    font-weight: bolder;
  }
  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    margin-right: -30px;
    margin-top: 2.5px;
    z-index: 100;
    padding: 3.5px;
    border: 0;
    width: 21px;
    height: 21px;
    color: #404040;
    background-color: transparent !important;
  }
  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
    float: left;
    margin-top: -32px;
    margin-left: 4px;
    background-color: transparent !important;
  }
  .ant-input-clear-icon {
    color: rgba(0,0,0,.25);
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    vertical-align: 0;
  }
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #f3f3f3 !important;
  white-space: pre-line;
}
.global-search-item{
  h6{
    font-size: 13px !important;
    font-weight: 500;
    margin-bottom: 0px;
    color: #404040;
    white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
  }
  p{
    font-size: 14px;
    margin-bottom: 0px;
    color: #404040;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.map .btn-03{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 35px;
  color: $purple;
  font-size: 12px;
  z-index: 10;

  img{
    margin-left: 8px;
  }
}
.map .btn-03:active, .map .btn-03.active, .map .btn-03:hover, .map .btn-03:focus{
  color: $purple;
  border-color: $purple;
}
.scroll-footer {
  overflow-y: auto;
  max-height: 125px;
  min-height: 18px;
}
.map .m-footer{
  width: 210px;
  background-color: $white;
  position: absolute;
  bottom: 35px;
  left: 20px;
  z-index: 10;

  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    font-size: 12px;
    text-transform: uppercase;
    color: $opacity;
    padding: 10px 15px !important;
    font-weight: bold;
    background: $white;
    line-height: 15px;
  }
  .ant-collapse-content > .ant-collapse-content-box{
    padding: 0px 15px 15px 15px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    margin-top: -2px;
    margin-right: -11px;
  }
  .ant-collapse > .ant-collapse-item,.ant-collapse {
    border-bottom: none;
    border: none;
    border-radius: none;
  }
  .ant-collapse-content{
    border-top: none;
  }
  p{
    font-size: 11px;
    color: $purple00;
    margin-bottom: 2px;
    display: flex;
  }
  span{
    height: 8px;
    width: 16px;
    border: 1px solid #979797;
    margin-right: 8px;
    margin-top: 4px;
  }
  img{
    height: 20px;
    width: 16px;
    margin-right: 8px;
  }
  .anticon-close{
    border: none;
  }
  hr{
    margin-top: 0px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    transform: rotate(270deg);
  }
}
.map .measure-button {
  position: absolute;
  width: 300px;
  right: 20px;
  top: 20px;
  z-index: 10;  

  button{
    width: 35px;
    height: 35px;
    padding: 0px;
    right: 0;
    border: none;
    // margin-top: -1px;
    position: absolute;
  }
   button .img-icon{
    -webkit-mask: url('../../Icons/u_ruler-combined.svg') no-repeat center;
    height: 35px;
    width: 35px;
    background: $purple00;
  }
  .measurecontainer {
    width: 300px;
    height: 100px;
    z-index: 2000;
    position: absolute;
  // MEASURE 
  .measure-block{
    border-radius: 7px;
    box-shadow: $shadow;
    background-color: #fafbfb;
    padding: 0px 0px 4px 0px;

    .headmap{
      text-align: center;
      min-height: 40px;
      border-radius: 7px 7px 0px 0px;
      background: #fafbfb;
      font-size: 14px;
      padding: 16px 10px;
      padding-bottom: 5px;
      line-height: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
    }
    .bodymap{
      text-align: center;
      padding: 10px 10px;
      color:#11093C;
      .label {
        color:$opacity;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .bodymapvalues{
        text-align: left;
        padding: 5px 25px;
        display: grid;
        align-content: center;
        justify-content: start;
        align-items: baseline;
        justify-items: start;
        font-size: 12px;
        .button-cancel {
          position: inherit;
        }
        .button-finish {
          position: inherit;
        }
        .paragraph{
          padding-top: 15px;
        }
    }
    .paragraph {
      text-align: left;
      padding: 5px 25px;
      align-content: center;
      justify-content: start;
      align-items: baseline;
      justify-items: start;
      margin-bottom: 5px;
      .button-c {
        &:hover {
          opacity: 0.5;
        }
      }
    }
}
  }//container
}
.map .m-zoom{
  position: absolute;
  width: 32px;
  left: 20px;
  bottom: 152px;
  z-index: 10;

  button{
    width: 32px;
    height: 32px;
    padding: 0px;
    border: none;
    margin-top: 16px;
  }
   button .img-icon{
    -webkit-mask: url('../../Icons/ic_boundary.svg') no-repeat center;
    height: 18px;
    width: 16px;
    background: $purple00;
  }
  .ant-btn:hover > .img-icon {
    opacity: 1;
    -webkit-mask: url('../../Icons/ic_boundary.svg') no-repeat center;
    height: 18px;
    width: 16px;
    background: $green !important;
  }
  .btn-green{
    display: none;
  }
  button .img-icon-01{
   -webkit-mask: url('../../Icons/newnotes.svg') no-repeat center;
   height: 100%;
   width: 100%;
   background: $purple00;
  -webkit-mask-size: 20px 20px;
 }
 .ant-btn:hover > .img-icon-01 {
   opacity: 1;
   -webkit-mask: url('../../Icons/newnotes.svg') no-repeat center;
   height: 100%;
   width:100%;
   background: $green !important;
   -webkit-mask-size: 20px 20px;
 }
 button .img-icon-04{
    -webkit-mask: url('../../Icons/ic-history.svg') no-repeat center;
    height: 100%;
    width: 100%;
    background: $purple00;
  -webkit-mask-size: 20px 20px;
  }
  .ant-btn:hover > .img-icon-04 {
    opacity: 1;
    -webkit-mask: url('../../Icons/ic-history.svg') no-repeat center;
    height: 100%;
    width:100%;
    background: $green !important;
    -webkit-mask-size: 20px 20px;
  }
  button .img-icon-05{
    -webkit-mask: url('../../Icons/ic-home.svg') no-repeat center;
    height: 100%;
    width: 100%;
    background: $purple00;
  -webkit-mask-size: 20px 20px;
  }
  .ant-btn:hover > .img-icon-05 {
    opacity: 1;
    -webkit-mask: url('../../Icons/ic-home.svg') no-repeat center;
    height: 100%;
    width:100%;
    background: $green !important;
    -webkit-mask-size: 20px 20px;
  }
  .mapstatebuttons {
    position: absolute;
    /* width: 100px; */
    width: 128px;
    left: 44px;
    /* height: 22px; */
    height: 32px;
    bottom: 0;
    background-color: white;
    z-index: 10;
    display: -webkit-inline-box;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .mapstateprevnext:first-child {
      border-right: 1px solid rgba(37, 24, 99,0.1);
    }
    .mapstateprevnext {
      width: 50%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 4px;
      .title {
        display: block;
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .progress {
        display: block;
				width: 100%;
				height: 2px;
        &.left {
          border-bottom-left-radius: 2px;
          .progress-value {
            float: right;
            &.light {
              background-color: #28c499;
              display: block;
					    height: 2px;
					    border-top-left-radius: 0;
					    border-bottom-left-radius: 0;
              &.completed {
                border-top-left-radius: 0;
                border-bottom-left-radius: 2px;
              }
            }
          }
        }
        &.right {
          border-bottom-right-radius: 2px;
          .progress-value {
            float: left;
            &.light {
              background-color: #28c499;
              display: block;
					    height: 2px;
					    border-top-right-radius: 0;
					    border-bottom-right-radius: 0;
              &.completed {
                border-top-right-radius: 0;
                border-bottom-right-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
/*   .mapstateprevnext {
    flex-grow: 1;
    padding: 0;
  }
  .mapstateprevnext:hover {
    border-bottom: 3px solid rgb(40, 196, 153);
  } */
}

.filter-map{
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  h6{
    font-size: 16px;
    color: $opacity;
    font-weight: 400;
    margin-bottom: 0px;
  }
  p{
    font-size: 11px;
    margin-bottom: 10px;
    color: $purple00;
    width: 230px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: left;
    margin-right: 8px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 10px 12px;
    color: $opacity;
    background: $opacity00;
    height: 41px;
  }
  .ant-collapse-content{
    border-top: none;

    img{
      margin-right: 5px;
    }
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: 1px solid $white;
  }
  .ant-checkbox-wrapper{
    float: right;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 10px 0px 10px;
  }
  .ant-collapse{
    border: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    left: 13px;
  }
  .ant-switch{
    float: right;
  }
  .ant-switch-checked {
   background-color: $green;
  }
}
.map-filter-s{
  background: #fff;
  width: 255px;
  left: -20px;
  margin: 0px 20px !important;
  padding-top: 0px !important;
}
.filter-coll-header{
  display: flex;
  width: 222px;
  position: relative;
  font-size: 12px;
  margin-left: -3px;
  margin-top: 2px;

  .ant-switch {
    position: absolute;
    right: 15.5px;
    top: 1px;
    z-index: 1200;
  }
  img{
    margin-right: 3px;
    height: 15px;
  }
}
.popover-filter-map{
  z-index: 1070 !important;

  .ant-popover-inner{
    background-color: $black;
  }
  .popoveer-00{
    color: $white;
    max-width: 260px;
  }
 .ant-popover-arrow{
    border-bottom-color: $black !important;
    border-left-color: $black !important;
    border-top-color: $black !important;
    border-right-color: $black !important;
  }
}
.btn-footer-02{
  margin: 0px 0px 2px 0px;
  text-align: right;

  .btn-borde {
    margin-right: 0px;
    border: none !important;
  }
  .ant-btn > span {
    margin-right: -4px;
  }
}
.map-pop-00{
  width: 280px;
  padding: 0px;
  min-height: 100px;
   // font-weight: bold;
  border-radius: 10px;
  box-shadow: $shadow;
  background-color: #fafbfb;

  .ant-card-bordered {
    border: none;
  }
  .ant-card{
    background: none;
  }
  .ant-card-hoverable:hover {
    box-shadow: none;
  }
  .ant-card-body {
    padding: 0px;
  }
  h4{
    font-size: 14px;
    color: $purple;
    margin-bottom: 6px;
    line-height: 18px;
  }
  h6{
     font-size: 12px;
    color: $opacity;
    font-weight: 400;
    margin-bottom: 6px;
  }
  h5{
    font-size: 16px;
    color: $purple;
  }
  h5 span{
    color: $opacity;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  hr{
    opacity: 0.5;
  }
  .headmap{
   min-height: 40px;
   border-radius: 7px 7px 0px 0px;
   background: $opacity01;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;
  }
  .bodymap{
    padding: 15px 15px;
  }
}

.map .mapboxgl-popup .mapboxgl-popup-content{
  width: auto !important;
  border-radius: 10px ;
}
.mapboxgl-popup{
  max-width: none !important;
}
.map-pop-01{
  min-width: 125px;
  width: 280px;
  max-width: 330px;
  // min-height: 190px;
  // height: 225px;
  border-radius: 10px;
  box-shadow: $shadow;
  background-color: #fafbfb;

  .ant-card-bordered {
    border: none;
  }
  .ant-card{
    background: none;
  }
  .ant-card-hoverable:hover {
    box-shadow: none;
  }
  .ant-card-body {
    padding:0px;
  }
  .headmap{
   height: 40px;
   min-height: 40px;
   border-radius: 7px 7px 0px 0px;
   background: $opacity01;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;
  }
  .bodymap{
    padding: 15px 15px; 
  }
  .listofelements {
    overflow-y: auto;
    max-height: 142px;
    overflow-x: hidden;
  }
  h4{
    font-size: 14px;
    color: $purple;
    margin-bottom: 0px;
    line-height: 20px;
  }
  p{
    font-size: 12px;
    color: $purple;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  i{
    color: $opacity;
  }
}
// NEW POPUP
.map-pop-02{
  width: 258px;
  border-radius: 7px;
  box-shadow: $shadow;
  background-color: #fafbfb;
  padding: 0px 0px 4px 0px;

  .headmap{
    min-height: 40px;
    border-radius: 7px 7px 0px 0px;
    background: $opacity01;
    font-size: 14px;
    color: $opacity;
    padding: 12px 15px;
    text-transform: uppercase;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
  // h4{
  //   color: $opacity;
  //   font-size: 14px;
  //   padding: 10px 0px 0px 5px;
  // }
  .btn-transparent{
    padding: 8px 5px;
    width: 240px;
    text-align: left;
    height: 35px;
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid rgba(61, 46, 138, 0.07) !important;
    border-radius: 2px 2px 0px 0px;

    img{
      margin-right: 5px;
      margin-top: -13px;
    }
  }
  .layer-popup{
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 9px 0px 0px 9px;
  }
  .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active{
    background: rgba(61, 46, 138, 0.07) !important;
  }
  .ant-btn .anticon {
    float: right;
    margin-top: 3px;
    color: $opacity;
  }
  .map-pop-00, .map-pop-01{
    display: none;
  }
  .map-pop-03{
    display: inline-grid  !important;
    position: absolute;
    top: 43px;
  }
  .text-popup{
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
  .text-popup-00{
    width: 186px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
}
.mapboxgl-ctrl-group button{
  width: 32px !important;
  height: 32px !important;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url('../../Icons/icon-35.svg') !important;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url('../../Icons/icon-36.svg') !important;
  background-position: 52%;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    background-image: url('../../Icons/icon-74.svg') !important;
    background-size: 7px !important;
}
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none !important;
  // border: 1px solid #d9d9d9;
}
.mapboxgl-ctrl-group button:focus {
  box-shadow: none !important;
}
.mapboxgl-ctrl button:not(:disabled):hover {
    background-color: transparent !important;
}
.pop-card-map{
  .drop-head{
    min-height: 40px;
    border-radius: 1.3px 1.3px 0px 0px;
    background: $opacity01;
    font-size: 14px;
    color: $opacity;
    padding: 12px 15px;
    text-transform: uppercase;
    line-height: 16px;
  }
  .ant-popover-inner-content{
    padding: 0px;
    width: 220px;
  }
  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0px solid #e8e8e8;
    border-radius: 4px;
  }
  .ant-menu-item, .ant-menu-submenu-title, .ant-menu-item-disabled {
    border-top: 1px solid $opacity01 !important;
  }
  .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-top: 0px;
  }
  .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-bottom: 0px !important;
  }
  .ant-menu, .ant-menu-item:hover, .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: $purple;
  }
}
// MAP
.head-m{
  margin-bottom: 20px;
  a{
    color: $purple00;
    font-size: 22px;
  }
  a:hover {
    color: $purple00;
  }
  .span-header {
    color: $purple00;
    font-size: 22px;
    cursor: pointer;
  }
  button{
    background: transparent;
    border: 0px;
    box-shadow: none;
  }
  .btn-mm{
    border-right: 1px solid $opacity00;
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    text-decoration: none !important;
    background: transparent !important;
  }
  button:hover, button:focus, button:active, button.active {
    text-decoration: none !important;
    background: transparent !important;
    box-shadow: none;
    outline: none;
  }
  .img-h{
    opacity: 1;
  }
  .ant-btn:hover .img-h, .ant-btn:focus .img-h, .ant-btn:active .img-h, .ant-btn.active .img-h {
    display: none;
  }
  .ant-btn:hover .img-a, .ant-btn:focus .img-a, .ant-btn:active .img-a, .ant-btn.active .img-a {
   display: inline-block !important;
  }
  .ant-btn:hover, .ant-btn:focus {
    border-color: $opacity00;
  }
}

.auto-complete-map{
    margin-top: -4px;
    margin-left: 1px;
    color: $black !important;
  .ant-select{
    width: 100% ;
    max-width: 302px;
    min-width: 90px;
    border-bottom: 1.5px solid rgba(37, 24, 99, 0.3);
  }
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder, .ant-input{
    color: $black !important;
    font-size: 21.5px !important;
    margin-left: -12px !important;
    margin-right: -2px !important;
    height: 30px;
  }
  .ant-select-auto-complete.ant-select .ant-input {
    border: none;
    padding: 0px;
  }
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled){
    color: $opacity !important;
  }
  .ant-select-dropdown-menu-item{
    padding: 7.5px 10px 8px 10px;
    margin: 0px 100px;
    text-align: left;
    font-size: 14px;
    color: $black !important;
    border-bottom: 1px solid $opacity01;
  }
  .ant-select-dropdown-menu-item-ative:not(.ant-select-dropdown-menu-item-disabled),
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled){
    color: #e6f7ff !important;
    font-weight: bold;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 20px !important;
  }
  .auto-complete-map .ant-select-auto-complete.ant-select .ant-input {
    border: none !important;;
    padding: 0 !important;;
  }
  
  // .ant-input{
  //   resize: horizontal;
  //   width: 90px !important;
  // }
  // .ant-input:active {
  //   width: auto !important;
  // }
  // .ant-input:focus {
  //   min-width: 200px !important;
  // }
  .ant-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.0);
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    right: 52px;
    color: $black !important;
    font-size: 16px;
  }
  .rotate-icon{
    transform: rotate(180deg);
    transition: all 0.5s;
  }
  .anticon{
    transition: all 0.5s;
  }
}
.ant-select-item-option{
  padding: 7.5px 10px 8px 10px;
  margin: 0px 10px;
  text-align: left;
  font-size: 14px;
  color: $black !important;
  border-bottom: 1px solid $opacity01;
}
.ant-select-item-option-active{
  background-color: #e1f1f6 !important;
  color: $black !important;
  font-weight: 500;
}

.ant-input-clear-icon {
  position: absolute;
  right: 0px;
}
.head-filter {
  .ant-input {
    width: 246px;
    height: 28px;
    border-radius: 4px;
    border: 1.3px solid rgba(37,24,99,.1);
    color: $black;
  }
  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    color: rgba(0,0,0,.75);
    margin-left: -30px;
    z-index: 100;
    padding: 3px;
    border: 0;
    width: 20px;
    height: 20px;
  }
  .ant-input-clear-icon {
    color: rgba(0,0,0,.25);
    margin-right: 30px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    vertical-align: 0;
  }
} 
.m-head {
  .ant-input-search-icon {
    position: absolute;
    margin-left: 0px;
  } 
}

@media (max-width: 1100px) {
  .map .measure-button { 
    top: 75px;
    right: 23px;
  }

}
// 1440x900

@media (min-width: 1200px) and (max-width: 1442px){ 
  .head-filter .ant-input-search .ant-input{
    width: 200px !important;
  }
  .head-filter .ant-input-search {
    width: 200px !important;
  }
}
// 1080x900
@media (min-width: 1000px) and (max-width: 1085px){ 
  .head-filter .ant-input-search .ant-input{
    width: 190px !important;
  }
  .head-filter .ant-input-search {
    width: 190px !important;
  }
}
// 2560x1440
@media (min-width: 2500px) and (max-width: 2799px){ 
  .head-filter .ant-input-search .ant-input{
    width: 307px !important;
  }
  .head-filter .ant-input-search {
    width: 307px !important;
  }
}


.head-filter{
  background: #f5f7ff;
  height: 50px;
  padding: 6px 15px;
  margin-left: -20px;
  margin-right: -20px;

  .ant-input-affix-wrapper {
    width: 307px;
    color: $purple;
    height: 35px;
    border-radius: 2px;
    background-color: $white;
    box-shadow: none;
  }
  .ant-input-search-icon {
    color: $purple;
  }
  .ant-input-affix-wrapper .ant-input {
    width: 307px;
  }
  
  .ant-dropdown-link{
    color: $purple00;
    text-align: left;
    font-size: 12px;
    padding: 18px 0px;
  }
  // .ant-dropdown-link:hover{
  //   color: $green;
  // }
  button{
    // border: none;
    background-color: white;
    // color: $purple00;
    font-size: 12px;
    box-shadow: none;
    transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #251863;
    height: 35px;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .circle { 
    background-color: #e0dfe7 !important;
    height: 18px; width: 18px; 
    border-radius: 50%;
    margin-left: 5px;
    margin-right: -3px;
  }
    
    .innercircle {
        position: relative;
        text-align: center;
        line-height: 0px;
     
    }
  button img{
    margin-right: 5px;
    // opacity: 0.5;
  }
  .ant-input:hover {
    border-color: $purple;
  }
  .ant-input:focus{
    box-shadow: none;
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $purple;
  }
  .ant-btn:hover > span, .ant-btn:hover{
    color: $green !important;
    background-color: transparent;
    border-color: none;
  }
  .ant-btn:focus{
    background: transparent;
  }
  button .img-filter{
    -webkit-mask: url('../../Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $opacity02;
    padding: 7px;
  }
  .ant-btn:hover > .img-filter{
    opacity: 1;
    -webkit-mask: url('../../Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $green !important;
    padding: 7px;
  }
  button .img-sortBy{
    background: url('../../Icons/ic_sort_by_active.svg') no-repeat center;
    height: 16px;
    width: 18px;
    padding: 7px;
  }
  .ant-btn:hover > .img-sortBy{
    background: url('../../Icons/ic_sort_by_hover.svg') no-repeat center;
    height: 16px;
    width: 18px;
    padding: 7px;
  }
  .sort-content {
    display: inline-block;
    // margin-right: 14px;

    .sort-buttons {
     margin-right: 5px;
     cursor: pointer;

      .img-filter00{
   //     -webkit-mask: url('../../Icons/icon-83.svg') no-repeat center;
        height: 18px;
        width: 18px;
        background: $opacity02;
        transition: width 2s;
        padding: 9px;
      }
    }
    .sort-buttons:hover > .img-filter00{
      opacity: 1;
   //   -webkit-mask: url('../../Icons/icon-83.svg') no-repeat center;
      height: 18px;
      width: 18px;
      background: $green !important;
      transform: rotate(180deg);
      transition: width 2s;
      padding: 9px;
    }

    .rotate-icon{
      transform: rotate(180deg) translate(0px, 2px) !important;
      transition: all 0.4s;
    }
    .normal-icon{
      transform: rotate(0deg) !important;
      transition: all 0.4s;
    }
  }
  .btn-borde{
    height: 37px;
    font-size: 14px !important;
    margin-right: 15px;
    margin-left: 10px;
  }
}
.sort-content:hover > .ant-dropdown-link{
  color: $green;
}
.sort-content:hover > .sort-buttons > .img-filter00{
  opacity: 1;
  //-webkit-mask: url('../../Icons/icon-83.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: $green !important;
  padding: 9px;
}
.apply-filter{
  border: 1px solid rgba(37, 24, 99, 0.1);
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  line-height: 14px;
  margin-top: -6px;
  position: relative;
  font-size: 12px;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }
  .progress {
    background: transparent;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 3px;
    width: 190px;
    position: absolute;
    bottom: 0px;
    left: -5px
  }
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: $green;
    height: 3px;
    width: 0;
    animation-iteration-count:infinite;
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
.apply-filter-no-effect{
  border: 1px solid rgba(37, 24, 99, 0.1);
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  line-height: 14px;
  margin-top: -6px;
  position: relative;
  font-size: 12px;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
.img-negative{
  background-image: url('../../Icons/icon-21.svg') !important;
}
.tabs-map{
  .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $purple !important;
    padding: 0px -10px 0px -10px!important;
    font-size: 15px !important;
    font-weight: 400 !important;
  }
  .ant-tabs-nav .ant-tabs-tab {
    padding: 15px 0px 15px 0px !important;
    margin: 0 20px 0 0;
    font-size: 15px;
    color: $opacity;
    font-weight: 400;
  }
  .ant-tabs-ink-bar {
    background-color: $purple !important;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $purple !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 10px;
    padding-left: 10px;
    color: $black !important;
    line-height: 30px;
    height: 54px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
    background: $white;
    margin-bottom: 10px;
  }
  .ant-collapse{
    border: none;
    background: transparent;
  }
  .ant-tabs-ink-bar {
    height: 2px !important;
    background-color: $purple;
    margin-bottom: 1.5px !important;
  }
  .ant-collapse-content {
    background-color: $opacity00;
    border-top: none;
  }
  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0 0 0px 0px;
  }
  .ant-collapse-content>.ant-collapse-content-box {
    padding: 20px 15px 0px 15px;
  }
}
.over-00{
  margin-top: -3px;
  margin-left: -6px;
  .ant-tabs-bar {
    margin: 0 15px 16px !important;
  }
}

.line-00{
  height: 7px;
}
.line-02{
  position: absolute;
  background: #e8e8e8;
  height: 2px;
  width: 22px;
  top: 11px;
  left: -40px;
}
.tab-head{
  display: flex;
  font-size: 14px;
  img{
    float: right;
    margin-top: 7px;
  }
  .ant-progress-success-bg, .ant-progress-bg {
    background-color: $green;
    height: 4px;
  }
  .ant-progress-line {
    position: absolute;
    width: 100%;
    font-size: 14px;
    top: 12px;
    left: 0px;
  }
  p{
    margin-top: -6px;
    margin-bottom: 0px;
  }
}
.infinite-scroll-component {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  // padding-bottom: 15px;
}
.list-h{
  display: flex;
  font-size: 14px;
  color: $green;
  width: 100%;
  padding: 10px;
}
.hastag{
  display: flex;
  display: none;
  h6{
    font-size: 14px;
    color: $purple;
    font-weight: 600;
    margin-right: 10px;
    min-width: 148px;
    margin-left: 20px;
    max-width: 185px;
  }
  .ant-tag {
    color: $opacity;
    font-size: 14px;
    display: inline-block;
    height: auto;
    background: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
  }
 .ant-tag .anticon-close {
    font-size: 10px !important;
    background: $opacity;
    border-radius: 50%;
    padding: 4px;
    color: $white;
    font-weight: 600;
    top: -1px;
    position: relative;
  }
}
// BORRAR ARRIBA

// NEW TAG Filter
.tag-filters{
  width: 230px;

  .tag-body{
    max-height: calc(100vh - 260px);
    height: auto;
    overflow-y: auto;
  }
  .ant-popover-inner-content{
    padding: 0px;
    padding-bottom: 0px;
  }
  .head{
    background: $opacity00;
    padding: 5px 10px;
    color: $purple00;
    font-size: 13px;

    img{
      margin-top: -1px;
    }
  }
  p{
    margin-bottom: 0px;
    border-top: 1px solid $opacity01;
    margin: 0px 5px;
    padding: 10px 5px;
    font-size: 13px;

    button{
      height: 15px;
      width: 15px;
      padding: 0px;
      margin: 0px;
      float: right;
    }
  }
}
.card-map{
  padding: 8px 8px 0px 8px;
  .card-title-s{
    height: 40px;
  }
  .ant-card-bordered {
    border: none;
  }
  .border-line-green{
    border: 4px solid transparent;
    border-radius: 10px 10px 6px 6px;
  }
  .ant-card{
    width: 100% !important;
    background: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-radius: 8px 8px 6px 6px;
    padding: 0px;
    margin: 0px;
  }
  .ant-card-hoverable:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border: none;
  }
  .ant-card-body {
    padding: 10px;
  }
  h4{
    font-size: 16px;
    color: $purple;
    margin-bottom: 0px;
    line-height: 18px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h6{
    font-size: 14px;
    color: $opacity;
    font-weight: 400;
    // margin-bottom: 2px;
  }
  h5{
    font-size: 16px;
    color: $purple;
  }
  h5 span{
    color: $opacity;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  hr{
    opacity: 0.5;
  }
  p{
    margin-bottom: 0px;
  }
  .btn-card, .btn-card:hover, .btn-card:focus, .btn-card:active, .btn-card.active{
    border: none;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 20px;
    height: 20px;
    line-height: 10px;
    opacity: 0.8;
    z-index: 9;
    width: 20px;
    padding: 0px 0px;
  }
  .btn-card label{
    position: relative;
    top: -5px;
  }
}
.menu-dropdown-map {
  margin-top: -10px;
  border-radius: 0px !important;
  padding: 6px 0px !important;
}
.ant-popover-placement-bottomLeft .ant-popover-arrow {
  margin-top: -10px !important;
  left: 12px;
}
.card-button-hover{
  position: relative;
  button{
    background-color: $dark;
    color: $white;
    font-size: 12px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button:hover, button:focus{
    background-color: $dark;
    color: $green;
  }
  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100% !important;
  border-radius: 6px 6px 0px 0px;
}
.card-button-hover:hover .image {
  opacity: 0.3;
}
.card-button-hover:hover .middle {
  opacity: 1;
}
.test-style {
  background-color: transparent;
  position: absolute;
  color: yellow;
  bottom: 0px;
  text-align: -webkit-right;
  z-index: 10;
  right: 320px;
}
.like-btn{
  position: absolute;
  right: 5px;
  bottom: 1px;

  button, button:hover, button:focus, button:active{
    background: rgba(0, 0, 0, 0.5);
    border:none;
    padding: 2px;
    height: 26px;
    width: 26px;
  }
  button .like-img{
    background-image: url('../../Icons/icon-81.svg') !important;
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
  .ant-btn:hover > .like-img, .ant-btn:focus > .like-img,
  .ant-btn:active > .like-img, .ant-btn.active > .like-img{
    background-image: url('../../Icons/icon-82.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
  button .like-img-on{
    background-image: url('../../Icons/icon-82.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
  .ant-btn:hover > .like-img, .ant-btn:focus > .like-img,
  .ant-btn:active > .like-img, .ant-btn.active > .like-img{
    background-image: url('../../Icons/icon-82.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
}

// END MAP

// FILTERS MAP
hr.linedropdown {
  align-content: center;
  margin-right: auto;
  opacity: 0.2;
  margin-top: 14px;
  /* margin-bottom: 24px; */
  /* border: 1.5px solid; */
  border-radius: 5px;
  margin-left: auto;
  width: 40%;
  background-color: #4a4a4a8a;
  border: 1.2px solid #4a4a4a8a;
}
hr.filters-line {
  opacity: 0.1;
  margin-bottom: 24px;
  border: 1.5px solid;
  border-radius: 5px;
  background-color: #4a4a4a8a;
  border: 1.5px solid #4a4a4a8a;
}
.filt-00{
  margin-bottom: 18px;
  h5{
    font-size: 14px;
    color: $purple;
    // text-transform: uppercase;
  }
  .filt-s{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: $opacity;
    line-height: 22px;
  }
  span{
    color: $purple;
    border-color: #9f9fad;
    // border-width: 2px;
    align-items: center;
  }
  p{
    margin-bottom: 4px;
  }
  label{
    font-size: 12px;
    color: $opacity;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: $purple;
  }
  .ant-radio-inner::after {
    background-color: $purple;
  }
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: $purple;
  }
  .ant-select-selection--single {
    height: 38px;
  }
  .ant-select-selection__rendered {
    line-height: 36px;
    color: $opacity;
  }
  .ant-select-selection:hover {
    border-color: $purple;
  }
  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: $purple;
    box-shadow: none;
  }
  h5 img{
    cursor: pointer;
    margin-top: -3px;
  }
}
.filt-h5{
  font-size: 14px;
  color: $opacity;
  text-transform: uppercase;

  img{
    cursor: pointer;
    margin-top: -3px;
  }
}
.popoveer-00{
  font-size: 12px;
  max-width: 200px;
}
.check-scroll{
  height: 120px;
  overflow-y: auto;
  margin-right: 20px;
}
.chart-filter-title {
  font-size: 15px !important;
  color: #131436 !important;
}
.svg-scroll{
  height: 150px;
  overflow-y: auto;
  margin-right: 20px;
}
.tremap-popup {
  text-align: center;
  font-size: 12px;
  border-color: #e9e8ef;
  border-style: solid;
}
.popup-chart {
  text-align: center;
  font-size: 12px;
  border-color: #e9e8ef;
  border-style: solid;
}
.horizontal-axis-label {
  font-size: 12px;
  text-align: center;
}
@media only screen and (min-width: 1600px){
  .svg-scroll{
    height: 220px !important;
  }
  .horizontal-axis-label {
    font-size: 16px !important;
  }
  .popup-chart {
    font-size: 30px !important;
  }
  .tremap-popup {
    font-size: 20px !important;
  }
  .chart-filter-title {
    font-size: 18px !important;
    color: #131436 !important;
  }
}
@media only screen and (min-width: 2000px){
  .svg-scroll{
    height: 260px !important;
  }
  .horizontal-axis-label {
    font-size: 19px !important;
  }
}
@media only screen and (min-width: 3000px){
  .svg-scroll{
    height: 450px !important;
  }
  .horizontal-axis-label {
    font-size: 29px !important;
  }
  .popup-chart {
    font-size: 30px !important;
  }
  .tremap-popup {
    font-size: 40px !important;
  }
}

.filter-title {
  margin-bottom: -5px !important;
}
.tree-chart {
  padding-left: 8px;
  padding-right: 8px;
}
.horizontal-text {
  font-size: 12px;
}
.rheostat-input {
  width: 80% !important;
  max-width: 150px;
}
.svg-top-pad {
  margin-top: -5px;
}
.filter-menu{
  .ant-select-dropdown-menu {
    max-height: 160px !important;
  }
}
.title-filter-map{
  display: none;
}
.fr-area, .mhfd-mobile, .fr-area-p{
  display: none;
}
.poup-map-mobile{
  display: none;
}
.map-pop-00, .map-pop-01, .map-pop-02{
  display: inline-block;
}

// FILTERS MAP


.zoomvaluemap {
  z-index: 20;
  position: absolute;
  bottom: 9px;
  right: 45px;
  color: white;
  opacity: 0.7;
}


.img-measure-00{
  -webkit-mask: url('../../Icons/fi_play-circle.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}
.img-measure-01{
  -webkit-mask: url('../../Icons/noun-line.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}
.img-measure-png-01 {
  src: url('../../Icons/icon-line.png') no-repeat center;
  height: 18px;
  width: 18px;
  margin-bottom: 2px;
}
.img-measure-02{
  background: url('../../Icons/noun-polygon.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}
.img-measure-png-02{
  src: url('../../Icons/icon-polygon.png') no-repeat center;
  height: 18px;
  width: 18px;
  margin-bottom: 2px;
}
.img-measure-03{
  -webkit-mask: url('../../Icons/u_qrcode-scan.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}
.img-measure-04{
  -webkit-mask: url('../../Icons/fi_trash-2.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}
.img-measure-05{
  -webkit-mask: url('../../Icons/fi_x-circle.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: black;
  margin-bottom: 2px;
}

.measurecontainer {
  min-width: 125px;
  width: 280px;
  max-width: 330px;
  height: auto;
  border-radius: 10px;
  box-shadow: $shadow;
  background-color: #fafbfb;

  // width: 300px;
  // height: 100px;
  // z-index: 2000;
  // position: absolute;
// MEASURE 
.measure-block{
  border-radius: 7px;
  box-shadow: $shadow;
  background-color: #fafbfb;
  padding: 0px 0px 4px 0px;

  .headmap{
    text-align: left;
    min-height: 40px;
    border-radius: 7px 7px 0px 0px;
    background: #fafbfb;
    font-size: 14px;
    padding: 16px 10px;
    padding-left: 25px;
    padding-bottom: 5px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
  .bodymap{
    text-align: center;
    padding: 10px 10px;
    color:#11093C;
    .label {
      color:$opacity;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .bodymapvalues{
      text-align: left;
      padding: 5px 25px;
      display: grid;
      align-content: center;
      justify-content: start;
      align-items: baseline;
      justify-items: start;
      font-size: 11px;
      .button-cancel {
        position: inherit;
      }
      .button-finish {
        position: inherit;
      }
      .paragraph{
        padding-top: 15px;
      }
  }
  .paragraph {
    font-size: 12px;
    text-align: left;
    padding: 5px 25px;
    align-content: center;
    justify-content: start;
    align-items: baseline;
    justify-items: start;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .button-c {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
}//container


.listofelements {
  overflow-y: auto;
  max-height: 155px;
}
.img-circle {
  opacity: 1;
  -webkit-mask: url('../../Icons/circlecomment.svg') no-repeat center;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 7px;
  margin-bottom: 3px;
}
.img-circle.selected { 
    content: url("../../Icons/ic-ok.svg");
}

.close-measure-button {
  background: url('../../Icons/ic_close-white.svg') no-repeat center;
  height: 10px !important;
  width: 10px !important;
  font-size: large;
  font-family: monospace;
  position: absolute;
  right: 18px !important;
  top: 19px !important;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}