@use  '../Theme/styles';
@import "../Theme/styles.scss";
// NAVBAR
.card-dropdown{
  width: 220px;
    max-height: 290px;
    overflow-y: scroll;
    background: #FFFFFF;
    border: 1px solid #E3E5E5;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
    border-radius: 4px;
  .ant-dropdown-menu-item-group-title {
    margin-bottom: 5px !important;
  }
  .ant-dropdown-menu-item-active {
    background: rgba(37, 24, 99, 0.03) !important;
    color: #2e2753 !important;
    font-weight: 500 !important;
  }
}
.ant-radio-input:focus+.ant-radio-inner, .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner {
  border-color: #251863;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #251863;
}
.ant-radio-inner:after {
  background-color: #251863;
}
.card-dropdown::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.card-dropdown::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.card-dropdown::-webkit-scrollbar-thumb {
  background: $purple00;
  border-radius: 10px;
}
.ant-tabs-tabpane::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ant-tabs-tabpane::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.ant-tabs-tabpane::-webkit-scrollbar-thumb {
  background: $purple00;
  border-radius: 10px;
}

.logo {
  width: 225px;
  height: 30px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 14px 0px;
}
.header {
  height: 58px;
  padding: 0 20px !important;
  line-height: 58px !important;
  background: $dark !important;
  .ant-badge-count {
    z-index: auto;
    min-width: 6px;
    height: 9px;
    padding: 1px 3px;
    color: #fff;
    font-weight: 400;
    font-size: 7px;
    line-height: 6px;
    white-space: nowrap;
    text-align: center;
    background: #ff0000;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #06242d;
    margin-top: 10px;
  }
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background: $dark !important;
}
.popoveer-notification-box{
  .ant-popover-arrow{
    display: none;
  }
  .ant-popover-inner{
    margin-top: -9px;
  }
  .ant-popover-placement-bottom .ant-popover-arrow {
    display: none;
  }
}
.header{
  .popoveer-notification-box{
    .ant-popover-arrow{
      display: none;
    }
    .ant-popover-placement-bottom .ant-popover-arrow {
      display: none;
    }
  }
  .ll-00{
    color: $white;
    background: $green;
    border-radius: 50%;
    padding: 5px 5.23px;
    margin-right: 5px;
  }
  .ll-img {
    height: 24px;
    width: 24px;
    border-radius: 15px;
    margin-right: 5px;
  }
  .ll-0{
    width: 2px;
    background: #ffffff;
    margin-top: 14px;
    margin-bottom: 6px;
    padding: 11px 0.5px;
    opacity: 0.5;
    margin-left: 20px;
    cursor: auto;
  }
  a{
    color: $white;
    // padding: 18px 0px;
  }
  a:hover{
    color: $white;
  }
  .anticon{
    color: $white;
    opacity: 0.5;
    font-size: 10px;
  }
  h6{
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 16px;
    font-weight: normal;
  }
  .ant-menu-dark.ant-menu-horizontal {
    float: right;
    width: 22vw;
    margin-right: -10px !important;
  }
  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
    background-color: transparent;
  }
  .ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
    background-color: transparent;
  }
}

.login-dropdown {
  text-align: left;
  font-size: 12px;
}
.login-dropdown:hover {
  background: $white;
  color: $green;
  font-weight: bold;
}
.menu-login-dropdown {
  background: $white;
  margin-top: -20px;
  border-radius: 0px !important;
  padding: 6px 0px;
}
.ant-dropdown-menu-item{
  color: #1e1748 !important;
  font-size: 14px !important;
  margin: 3px;
  border-radius: 5px;
  // opacity: 0.6;
  font-weight: 400 !important;
}
.ant-dropdown-menu-item-active{
  background: #f7f7f9 !important;
  color: #11093c;
  margin: 3px;
  border-radius: 5px;
  /* font-weight: bold; */
  font-weight: 400;
  opacity: 1;
}
.menu-density{
  .ant-dropdown-menu-item-active {
    background: rgb(247 247 249) !important;
    color: #1e1748 !important;
    font-weight: 500 !important;
  }
  .ant-dropdown-menu-item-active {
    background: rgb(247 247 249) !important;
    color: #1e1748 !important;
    font-weight: 500 !important;
  }
}
.drop-menu-header{
  .ant-dropdown-menu-submenu-popup {
    margin-top: -16px;
  }
  .ant-dropdown-menu {
    border-radius: 5px !important;
  }
}
.menu-mhfd-dis{
  margin: 0px !important;
  color: #11093c !important;
  opacity: 1 !important;
  margin-top: -4px !important;
  background-color: rgba(37, 24, 99, 0.08) !important;
  border-radius: 5px 5px 0px 0px !important;
  padding: 7px 11px;
}
// .menu-drop-sub-sub{
//   .ant-dropdown-menu-submenu-popup {
//     margin-top: -16px;
//   }
// }
// .ant-dropdown-menu-submenu-popup {
//   margin-top: -8px;
//   background-color: red;
// }
// .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-popup .ant-dropdown-menu .ant-dropdown-menu-light .ant-dropdown-menu-submenu-placement-rightTop  {
//   margin-top: -16px;
//   background-color: red;
// }
.ant-dropdown-menu-submenu-popup{
  .ant-dropdown-menu::-webkit-scrollbar {
  width: 5px !important;
  }
  /* Track */
  .ant-dropdown-menu::-webkit-scrollbar-track {
    border-radius: 10px !important;
  }
  
  /* Handle */
  .ant-dropdown-menu::-webkit-scrollbar-thumb {
    background: $purple00 !important;
    border-radius: 10px !important;
  }
} 


.ant-dropdown-menu-submenu-popup .ant-dropdown-menu   {
  margin-top: -8px;
  border-radius: 5px;
  margin-left: 7px;
  max-height: 227px;
  overflow-y: auto;
}
// .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-popup   {
//   margin-top: -16px;
//   background-color: red;
// }
// .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-popup .ant-dropdown-menu   {
//   margin-top: -16px;
//   background-color: red;
// }
// .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-popup .ant-dropdown-menu .ant-dropdown-menu-light  {
//   margin-top: -16px;
//   background-color: red;
// }
// .menu-drop{
//   margin-top: -8px;
// }
.menu-drop-sub{
  background-color: #FFFFFF !important;
  color: #1e1748 !important;
  opacity: 0.6 !important;
  font-weight: 400 !important;
  margin: -5px -7px;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 5px;
}
.menu-drop-sub:hover{
  background-color: #f7f7f900 !important;
  color: #11093C !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.menu-sub-drop {
  opacity: 1 !important;
  padding: 4.5px 10px !important;
}
.menu-active{
  background-color: rgb(247, 247, 249) !important;
  color: rgb(17, 9, 60) !important;
  opacity: 1 !important;
}
.tutorial{
  .ant-modal-mask {
    background-color: rgb(0 0 0 / 65%) !important;
  }
  .btn-question{
    -webkit-mask: url('../../Icons/icon-27.svg') no-repeat center;
    height: 24px;
    background: $white;
    padding: 0px 15px; 
  }
  .btn-question:hover{
    opacity: 1;
    -webkit-mask: url('../../Icons/icon-27.svg') no-repeat center;
    height: 22px;
    background: $green !important;
  }
  .logo-00{
    position: absolute;
    left: 0px;
    margin-bottom: 30px;
    padding-left: 24px;
    img{
      width: 140px;
    }
  }
  .ant-modal-footer{
    display: none;
  }
  p{
    font-size: 12px;
    margin-bottom: 10px;
    color: $purple00;
  }
  .ant-tabs-nav{
    padding-top: 25px;
  }
  .ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
    left: 0px;
    width: 5px !important;
  }
  .ant-tabs-ink-bar{
    background-color: $green;
    width: 5px !important;
  }
  .ant-modal-body{
    margin-top: -18px;
    padding-left: 0px;
    border-radius: 6px;
    height: 540px;
  }
  .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    text-align: left;
  }
  .ant-tabs .ant-tabs-left-bar .ant-tabs-tab, .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
    margin: 0px 0 8px 0;
    color: $purple00;
  }
  .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab:hover {
    color: $purple00;
  }
  .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $black !important;
  }
  .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, .ant-tabs-left>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, .ant-tabs-right>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab, .ant-tabs-right>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin-top: 10px;
  }
  .ant-tabs{
    color: $opacity;
  }
  .ant-tabs .ant-tabs-left-content {
    padding-left: 35px;
  }
  .content{
    height: 160px;
    overflow-y: auto;
    margin: 15px 0px;
    padding-right: 5px;
    text-align: justify;
  }
  h6{
    font-size: 16px;
    color: $purple00;
  }
  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: $purple00;
  }
  .ant-tabs .ant-tabs-left-bar .ant-tabs-nav-scroll, .ant-tabs .ant-tabs-right-bar .ant-tabs-nav-scroll {
    width: 192px;
  }
  .btn-purple{
    width: 140px;
    padding: 10px 0px;
    height: 40px;
    left: 210px;
  }
}
.notification-icon{
  -webkit-mask: url('../../Icons/icon-26.svg') no-repeat center;
  height: 24px;
  background: $white;
  padding: 5px 7px;
}
.notification-icon:hover{
  opacity: 1;
  -webkit-mask: url('../../Icons/icon-26.svg') no-repeat center;
  height: 24px;
  background: $green !important;
}
.tutorial-carousel{
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  margin-left: 31px;
  .ant-modal-mask {
    background-color: rgb(0 0 0 / 65%) !important;
  }
  .ant-modal-content{
    background: rgb(0 0 0 / 0%);
    top: 15px;
    height: 100%;
    box-shadow: none;
  }
  .ant-modal-body{
    padding: 0px;
  }
  .footer-next{
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;

    .btn-green{
      height: 35px;
      border: none;
      background: #28C499;
      color: $white;
      padding: 0px 25px;
    }
    h4{
      color: $white;
      font-size: 18px;
    }
  }
  .ant-carousel .slick-dots{
    display: none !important;
  }
  // .ant-modal-close {
  //   right: 12%;
  // }
 .ant-modal-close-x {
    color: white !important;
  }
  .tuto-01{
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    .tuto-02, .tuto-03, .tuto-04, .tuto-05, .tuto-06,
    .tuto-07, .tuto-08, .tuto-09, .tuto-10, .tuto-11,
    .tuto-12, .tuto-13, .tuto-14, .tuto-15, .tuto-16,
    .tuto-17, .tuto-18, .tuto-19, .tuto-20, .tuto-21,
    .tuto-22, .tuto-23, .tuto-24, .tuto-25, .tuto-26,
    .tuto-27, .tuto-28, .tuto-29, .tuto-30, .tuto-31,
    .tuto-32, .tuto-33, .tuto-34, .tuto-35, .tuto-36,
    .tuto-37, .tuto-38, .tuto-39, .tuto-40, .tuto-41,
    .tuto-42, .tuto-43, .tuto-44, .tuto-45, .tuto-46,
    .tuto-47, .tuto-48, .tuto-49, .tuto-50, .tuto-51{
      position: absolute;
      text-align: center;
      width: 300px;
      p{
        font-size: 14px;
      }
    }
    p{
      color: $white;
    }
    .tuto-02{
      top: 96px;
      left: 35px;

      p{
        padding: 30px 0px 0px 30px;
      }
    }
    .tuto-03{
      top: 425px;
      left: 35px;

      p{
        padding: 30px 0px 0px 30px;
      }
    }
    .tuto-04{
      bottom: 0px;
      left: 35px;
      p{
        padding: 30px 0px 0px 30px;
      }
    }
    .tuto-05{
      top: calc(50% - -27px);
      right: 40%;
      p{
        padding: 35px 0px 0px 30px;
      }
      img{
        right: 0px;
      }
    }
    .tuto-06{
      top: 50px;
      right: 20px;

      p{
        padding: 50px 0px 0px 0px;
      }
      .img-t-01{
        left: 50px;
      }
      .img-t-02{
        right: 35px;
      }
    }
    .tuto-07{
      top:52px;
      left:  82%;
      width: 250px;

      p{
        padding: 30px 0px 0px 10px;
      }
    }
    .tuto-08{
      top: 150px;
      right: 36%;

      p{
        padding: 35px 0px 0px 0px;
      }
      img{
        right: 0px;
      }
    }
    .tuto-09{
      top: 215px;
      right:  calc(28% - 42px);
      width: 250px;
      p{
        padding: 35px 0px 0px 0px;
      }
      img{
        right: 65px;
      }
    }
    .tuto-10{
      top: 230px;
      right: 0px;
      width: 250px;

      p{
        padding: 35px 10px 0px 0px;
      }
      img{
        left: 90px;
      }
    }
    .tuto-11{
      top: calc(60% - -27px);
      right: 35%;
      p{
        padding: 35px 0px 0px 30px;
      }
      img{
        right: 0px;
      }
    }
    .tuto-12{
      top: 115px;
      left: 15px;
      width: 250px;
      p{
        padding: 45px 0px 0px 0px;
      }
      img{
        left: 100px;
      }
    }
    .tuto-13{
      top: 100px;
      left: 235px;
      width: 250px;
      p{
        padding: 30px 0px 0px 30px;
      }
      img{
        left: 100px;
      }
    }
    .tuto-14{
      top: 30%;
      left: 40%;
      p{
        padding: 35px 0px 0px 30px;
      }
      .img-card{
        left: -240px;
        top: 20px;
      }
    }
    .tuto-15{
      bottom: 68px;
      left: 110px;
      width: 210px;
      p{
        padding: 30px 0px 0px 0px;
      }
    }
    .tuto-16{
      top: calc(60% - -27px);
      right: 35%;
      p{
        padding: 35px 0px 0px 30px;
      }
      img{
        right: 0px;
      }
    }
    .tuto-17{
      top: 96px;
      left: -17px;
      width: 293px;
      p{
        padding: 16px 0px 0px 57px;
      }
    }
    .tuto-18{
      top: 397px;
      left: 23px;
      width: 304px;
      text-align: initial;
      p{
        padding: 16px 0px 0px 30px;
        padding-left: 8px;
        text-align: center;
      }
    }
    .tuto-19{
      top: calc(50vh + 30px);
      right: 32%;
      width: 316px;
      p{
        padding: 16px 0px 0px 0px;
      }
    }
    .tuto-20{
      top: 364px;
      right: 38px;
      width: 295px;
      p{
        padding: 16px 0px 0px 0px;
      }
    }
    .tuto-21{
      top: 126px;
      left: 28px;
      width: 276px;
      text-align: initial;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
      }
    }
    .tuto-22{
      bottom: 179px;
      left: 94px;
      width: 183px;
      text-align: initial;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-23{
      bottom: 82px;
      left: 94px;
      width: 183px;
      text-align: initial;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-24{
      left: 436px;
      width: 248px;
      /* text-align: initial; */
      top: 40vh;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-25{
      top: 105px;
      left: 47.5vw;
      width: 139px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-26{
      top: 55vh;
      right: 67px;
      width: 255px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-27{
      top: 87px;
      left: 38.5%;
      width: 139px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-28{
      bottom: 20px;
      left: 21.5vw;
      width: 166px;
      p{
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-29{
      top: 52vh;
      left: 206px;
      width: 204px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-30{
      top: 228px;
      left: 41vw;
      width: 184px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-31{
      top: 88px;
      right: 14.5vw;
      width: 253px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-32{
      top: 245px;
      right: 11.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-33{
      top: 132px;
      left: 33.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-34{
      top: 226px;
      right: 6.5vw;
      width: 218px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-35{
      bottom: 32px;
      right: 10.5vw;
      width: 218px;
      p{
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-36{
      right: 8.5vw;
    top: 242px;
    width: 224px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-37{
      top: 85px;
      left: 51.5vw;
      width: 266px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-38{
      top: 85px;
      right: 100px;
      width: 170px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-39{
      top: 206px;
      left: 186px;
      width: 309px;
      p{
        padding: 16px 0px 0px 67px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-40{
      top: 25px;
      right: 211px;
      width: 218px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-41{
      top: 302px;
      left: 221px;
      width: 175px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-42{
      top: 221px;
      right: 189px;
      width: 237px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-43{
      bottom: 157px;
      left: 285px;
      width: 430px;
      p{
        padding: 16px 0px 0px 130px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-44{
      bottom: 281px;
      right: 312px;
      width: 250px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-45{
      top: 313px;
      left: 380px;
      width: 265px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-47{
      right: 41.5vw;
      /* text-align: inherit; */
      top: 232px;
      width: 280px;
      p{
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-48{
      right: 56.5vw;
      text-align: inherit;
      top: 83px;
      width: 280px;
      p{
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
  }
}
// RESPONSIVE MOBILE
@media (max-width: 575.98px) {
  .header{
    display: none;
  }
}
@media(min-width: 1300px) and (max-width: 1400px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 19.5vw !important;
  }
}
@media(min-width: 1400px) and (max-width: 1500px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 18vw !important;
  }
}
@media(min-width: 1500px) and (max-width: 1600px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 17vw !important;
  }
}
@media(min-width: 1600px) and (max-width: 1700px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 16vw !important;
  }
}
@media(min-width: 1700px) and (max-width: 1800px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 15.5vw !important;
  }
}
@media(min-width: 1800px) and (max-width: 1900px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 15vw !important;
  }
}
@media(min-width: 1900px) and (max-width: 2000px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 14vw !important;
  }
}
@media(min-width: 2000px) and (max-width: 2100px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 14vw !important;
  }
}
@media(min-width: 2100px) and (max-width: 2200px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 13vw !important;
  }
}
@media(min-width: 2200px) and (max-width: 2300px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 12vw !important;
  }
}
@media(min-width: 2300px) and (max-width: 2400px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 12vw !important;
  }
}
@media(min-width: 2400px) and (max-width: 2500px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 12vw !important;
  }
}
@media(min-width: 2500px) and (max-width: 2600px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 11vw !important;
  }
}
@media(min-width: 2500px) and (max-width: 2100px){
  .ant-menu-dark.ant-menu-horizontal {
    width: 11vw !important;
  }
}
@media (min-width: 2200px) and (max-width: 2999px){
  .header{
    .ant-menu-dark.ant-menu-horizontal {
      width: 11vw;
    }
  }
}
@media (min-width: 3000px) and (max-width: 3999px){
  .header{
    .ant-menu-dark.ant-menu-horizontal {
      width: 11vw;
      margin-right: 30px !important;
    }
  }
}
@media(min-width: 1900px) and (max-width: 2549px){
  .menu-drop-sub{
    font-size: 16px !important;
    padding: 5px 10px !important;
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    font-size: 16px;
  }
  .menu-drop{
    width: 211px !important;
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      font-size: 16px !important;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  .ant-dropdown-menu-item {
    font-size: 14px !important;
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 6px 12px;
  }
  .tuto-01{
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    .tuto-02, .tuto-03, .tuto-04, .tuto-05, .tuto-06,
    .tuto-07, .tuto-08, .tuto-09, .tuto-10, .tuto-11,
    .tuto-12, .tuto-13, .tuto-14, .tuto-15, .tuto-16,
    .tuto-17, .tuto-18, .tuto-19, .tuto-20, .tuto-21,
    .tuto-22, .tuto-23, .tuto-24, .tuto-25, .tuto-26,
    .tuto-27, .tuto-28, .tuto-29, .tuto-30, .tuto-31,
    .tuto-32, .tuto-33, .tuto-34, .tuto-35, .tuto-36,
    .tuto-37, .tuto-38, .tuto-39, .tuto-40, .tuto-41,
    .tuto-42, .tuto-43, .tuto-44, .tuto-45, .tuto-46,
    .tuto-47, .tuto-48, .tuto-49, .tuto-50, .tuto-51{
      p{
        font-size: 16px !important;
      }
      img{
        height: 47px !important ;
      }
    }
    .tuto-17{
      top: 96px !important;
      left: -25px !important;
      width: 324px !important;
    }
    .tuto-18{
      top: 397px !important;
      left: 23px !important;
      width: 356px !important;
    }
    .tuto-19{
      right: 34% !important;
      width: 316px !important;
    }
    .tuto-20{
      top: 434px !important;
      right: 80px !important;
      width: 329px !important;
    }
    .tuto-21{
      top: 128px !important;
      left: 28px !important;
      width: 308px !important;
    }
    .tuto-22{
      bottom: 162px !important;
      width: 229px !important;
      p{
        padding: 16px 0px 0px 30px !important;
      }
    }
    .tuto-23{
      bottom: 67px !important;
      width: 206px !important;
      p{
        padding: 16px 0px 0px 42px !important;
      }
    }
    .tuto-24{
      width: 290px !important;
    }
    .tuto-25{
      left: 50vw !important;
      width: 162px !important;
    }
    .tuto-26{
      top: 42.5vh !important;
      width: 301px !important;
    }
    .tuto-27{
      left: 35.5% !important;
      width: 189px !important;
    }
    .tuto-28{
      bottom: 28px !important;
      left: 22.5vw !important;
      width: 198px !important;
    }
    .tuto-29{
      top: 52vh;
      left: 206px;
      width: 204px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-30{
      top: 228px;
      left: 41vw;
      width: 184px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-31{
      top: 88px;
      right: 14.5vw;
      width: 253px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-32{
      top: 245px;
      right: 11.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-33{
      top: 132px;
      left: 33.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-34{
      top: 226px;
      right: 6.5vw;
      width: 218px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-35{
      bottom: 32px;
      right: 10.5vw;
      width: 218px;
      p{
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-36{
      right: 8.5vw;
    top: 242px;
    width: 224px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-37{
      left: 52.5vw !important;
      width: 277px !important;
    }
    .tuto-38{
      right: 123px !important;
      width: 187px !important;
    }
    .tuto-39{
      top: 229px !important;
      left: 14.5% !important;
      width: 344px !important;
    }
    .tuto-40{
      right: 217px !important;
      width: 233px !important;
    }
    .tuto-41{
      top: 349px !important;
      left: 321px !important;
    }
    .tuto-42{
      top: 243px !important;
      right: 537px !important;
      width: 259px !important;
    }
    .tuto-43{
      top: 465px !important;
      left: 367px !important;
      width: 484px !important;
    }
    .tuto-44{
      top: 407px !important;
      right: 458px !important;
      width: 281px !important;
    }
    .tuto-45{
      top: 354px !important;
      left: 477px !important;
      width: 291px !important;
    }
    .tuto-47{
      right: 41.5vw;
      /* text-align: inherit; */
      top: 232px;
      width: 280px;
      p{
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-48{
      right: 59.5vw !important;
      width: 326px !important;
      top: 85px !important;
    }
  }
}
@media(min-width: 2550px) and (max-width: 3799px){
  .tutorial{
    .ant-tabs-tab {
      font-size: 22px;
    }
    .ant-modal-body {
      height: 816px;
    }
    .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane, .ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
      text-align: center;
      img{
        width: 724px;
      }
    }
    .content{
      text-align: initial;
    }
    .btn-purple {
      left: 308px;
    }
  }
  .menu-drop-sub{
    font-size: 20px !important;
    padding: 4.5px 10px !important;
  }
  .card-dropdown{
    width: 235px;
  }
  .piney-text{
    .ant-dropdown-menu-title-content{
      span{
        font-size: 18px !important;
      }
      img{
        height: 34px !important;
        width: 34px !important;
      }
    }
  }
  .menu-drop-sub{
    font-size: 18px;
    padding: 5.5px 10px;
  }
  .ant-dropdown-menu-title-content{
    padding: 4px 0px !important;
  }
  .menu-drop{
    width: 261px !important;
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      font-size: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
      span{
        font-size: 20px !important;
      }
    }
  }
  .ant-dropdown-menu-item {
    font-size: 16px !important;
    .ant-dropdown-menu-title-content{
      span{
        font-size: 18px !important;
      }
      img{
        height: 34px !important;
        width: 34px !important;
      }
    }
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 7px 12px;
  }
  .tuto-01{

    .tuto-02, .tuto-03, .tuto-04, .tuto-05, .tuto-06,
    .tuto-07, .tuto-08, .tuto-09, .tuto-10, .tuto-11,
    .tuto-12, .tuto-13, .tuto-14, .tuto-15, .tuto-16,
    .tuto-17, .tuto-18, .tuto-19, .tuto-20, .tuto-21,
    .tuto-22, .tuto-23, .tuto-24, .tuto-25, .tuto-26,
    .tuto-27, .tuto-28, .tuto-29, .tuto-30, .tuto-31,
    .tuto-32, .tuto-33, .tuto-34, .tuto-35, .tuto-36,
    .tuto-37, .tuto-38, .tuto-39, .tuto-40, .tuto-41,
    .tuto-42, .tuto-43, .tuto-44, .tuto-45, .tuto-46,
    .tuto-47, .tuto-48, .tuto-49, .tuto-50, .tuto-51{
      p{
        font-size: 18px !important;
      }
      img{
        height: 49px !important ;
      }
    }
    .tuto-17{
      top: 96px !important;
      left: -25px !important;
      width: 324px !important;
    }
    .tuto-18{
      top: 397px !important;
      left: 23px !important;
      width: 392px !important;
    }
    .tuto-19{
      right: 34% !important;
      width: 370px !important;
    }
    .tuto-20{
      top: 439px !important;
      right: 80px !important;
      width: 410px !important;
    }
    .tuto-21{
      top: 128px !important;
      left: 28px !important;
      width: 344px !important;
    }
    .tuto-22{
      bottom: 154px !important;
      width: 247px !important;
    }
    .tuto-23{
      bottom: 54px !important;
      width: 228px !important;
    }
    .tuto-24{
      width: 331px !important;
      left: 26% !important;
    }
    .tuto-25{
      left: 52vw !important;
      width: 186px !important;
    }
    .tuto-26{
      top: 44.5vh !important;
      width: 338px !important;
    }
    .tuto-27{
      left: 35.5% !important;
      width: 189px !important;
    }
    .tuto-28{
      bottom: 21px !important;
      left: 22.5vw !important;
      width: 226px !important;
    }
    .tuto-29{
      top: 52vh;
      left: 206px;
      width: 204px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-30{
      top: 228px;
      left: 41vw;
      width: 184px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-31{
      top: 88px;
      right: 14.5vw;
      width: 253px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-32{
      top: 245px;
      right: 11.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-33{
      top: 132px;
      left: 33.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-34{
      top: 226px;
      right: 6.5vw;
      width: 218px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-35{
      bottom: 32px;
      right: 10.5vw;
      width: 218px;
      p{
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-36{
      right: 8.5vw;
    top: 242px;
    width: 224px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-37{
      left: 52.5vw !important;
      width: 313px !important;
    }
    .tuto-38{
      right: 135px !important;
      width: 222px !important;
    }
    .tuto-39{
      top: 261px !important;
      left: 15% !important;
      width: 394px !important;
    }
    .tuto-40{
      right: 224px !important;
      width: 269px !important;
    }
    .tuto-41{
      top: 409px !important;
      left: 414px !important;
      width: 229px !important;
    }
    .tuto-42{
      top: 277px !important;
      right: 576px !important;
      width: 313px !important;
    }
    .tuto-43{
      top: 545px !important;
      left: 567px !important;
      width: 527px !important;
    }
    .tuto-44{
      top: 453px !important;
      right: 276px !important;
      width: 326px !important;
    }
    .tuto-45{
      top: 419px !important;
      left: 674px !important;
      width: 323px !important;
    }
    .tuto-47{
      right: 41.5vw;
      /* text-align: inherit; */
      top: 232px;
      width: 280px;
      p{
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-48{
      right: 65.5vw !important;
      width: 363px !important;
      top: 94px !important;
    }
  }
}
@media(min-width: 3800px) and (max-width: 5999px){
  .new-style-drop-navbar {
    margin-top: 0px !important; 
    padding: 12px 0px !important;
    .ant-dropdown-menu-title-content {
      padding: 4px 0px !important;
      font-size: 28px !important;
      margin: 0px 9px;
    }
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      margin: 0px 8px !important;
      border-radius: 13px !important;
    }
  }
  .tutorial{
    .ant-tabs-tab {
      font-size: 37px;
    }
    .ant-modal-body {
      height: 1375px;
    }
    .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane, .ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
      text-align: center;
      img{
        width: 1043px;
      }
    }
    .content{
      text-align: initial;
    }
    .btn-purple {
      left: 511px;
    }
  }
  .popoveer-notification-box{
    .ant-popover-inner{
      margin-top: 6px !important;
    }
  }
  .menu-drop-sub{
    font-size:26px !important;
    padding: 7px 10px !important;
  }
  .card-dropdown{
    width: 336px;
  }
  .piney-text{
    .ant-dropdown-menu-title-content{
      span{
        font-size: 18px !important;
      }
      img{
        height: 34px !important;
        width: 34px !important;
      }
    }
  }
  .menu-drop-sub{
    font-size: 18px;
    padding: 9px 10px;
  }
  .menu-drop{
    width: 279px !important;
    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      font-size: 26px !important;
      padding-top: 18px !important;
      padding-bottom: 18px !important;
      span{
        font-size: 26px !important;
      }
    }
  }
  .ant-dropdown-menu-item {
    font-size: 20px !important;
    padding: 15px 10px !important;
    .ant-dropdown-menu-title-content{
      span{
        font-size: 22px !important;
      }
      img{
        height: 34px !important;
        width: 34px !important;
        margin-right: 10px !important;
      }
    }
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 7px 12px;
  }
  .header{
    .ll-00 {
      padding: 8px 8.23px;
      margin-right: 14px;
      font-size: 18px;
      margin-left: 13px;
    }
  }
  .tuto-01{

    .tuto-02, .tuto-03, .tuto-04, .tuto-05, .tuto-06,
    .tuto-07, .tuto-08, .tuto-09, .tuto-10, .tuto-11,
    .tuto-12, .tuto-13, .tuto-14, .tuto-15, .tuto-16,
    .tuto-17, .tuto-18, .tuto-19, .tuto-20, .tuto-21,
    .tuto-22, .tuto-23, .tuto-24, .tuto-25, .tuto-26,
    .tuto-27, .tuto-28, .tuto-29, .tuto-30, .tuto-31,
    .tuto-32, .tuto-33, .tuto-34, .tuto-35, .tuto-36,
    .tuto-37, .tuto-38, .tuto-39, .tuto-40, .tuto-41,
    .tuto-42, .tuto-43, .tuto-44, .tuto-45, .tuto-46,
    .tuto-47, .tuto-48, .tuto-49, .tuto-50, .tuto-51{
      p{
        font-size: 31px !important;
      }
      img{
        height: 70px !important ;
      }
    }
    .tuto-17{
      top: 136px !important;
      left: -139px !important;
      width: 735px !important;
      p{
        padding: 16px 0px 0px 224px;
      }
    }
    .tuto-18{
      top: 593px !important;
      left: 55px !important;
      width: 677px !important;
    }
    .tuto-19{
      right: 32% !important;
      width: 623px !important;
      top: calc(50vh + 55px) !important;
    }
    .tuto-20{
      top: 33vh !important;
      right: 181px !important;
      width: 683px !important;
    }
    .tuto-21{
      top: 221px !important;
      left: 69px !important;
      width: 607px !important;
    }
    .tuto-22{
      bottom: 178px !important;
      width: 461px !important;
      left: 154px !important;
    }
    .tuto-23{
      bottom: 40px !important;
      width: 445px !important;
      left: 154px !important;
    }
    .tuto-24{
      width: 540px !important;
      left: 23% !important;
    }
    .tuto-25{
      left: 51vw !important;
      width: 347px !important;
      top: 156px !important;
    }
    .tuto-26{
      top: 33.5vh !important;
      width: 580px !important;
      right: 120px !important;  
    }
    .tuto-27{
      left: 36% !important;
      width: 307px !important;
      top: 120px !important;
    }
    .tuto-28{
      bottom: 31px !important;
      left: 22.5vw !important;
      width: 410px !important;
    }
    .tuto-29{
      top: 52vh;
      left: 206px;
      width: 204px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-30{
      top: 228px;
      left: 41vw;
      width: 184px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-31{
      top: 88px;
      right: 14.5vw;
      width: 253px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-32{
      top: 245px;
      right: 11.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-33{
      top: 132px;
      left: 33.5vw;
      width: 218px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-34{
      top: 226px;
      right: 6.5vw;
      width: 218px;
      text-align: end;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-35{
      bottom: 32px;
      right: 10.5vw;
      width: 218px;
      p{
        padding: 0px 0px 16px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-36{
      right: 8.5vw;
    top: 242px;
    width: 224px;
      p{
        padding: 16px 0px 0px 0px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-37{
      left: 51.5vw !important;
      width: 532px !important;
      top: 125px !important;
    }
    .tuto-38{
      right: 90px !important;
      width: 355px !important;
      top: 130px !important;
    }
    .tuto-39{
      top: 314px !important;
      left: 15.5% !important;
      width: 602px !important;
    }
    .tuto-40{
      right: 362px !important;
      width: 492px !important;
      top: 39px !important;
    }
    .tuto-41{
      top: 481px !important;
      left: 627px !important;
      width: 397px !important;
    }
    .tuto-42{
      top: 330px !important;
      right: 837px !important;
      width: 497px !important;
    }
    .tuto-43{
      top: 632px !important;
      left: 734px !important;
      width: 811px !important;
    }
    .tuto-44{
      top: 851px !important;
      right: 939px !important;
      width: 546px !important;
    }
    .tuto-45{
      top: 485px !important;
      left: 885px !important;
      width: 548px !important;
    }
    .tuto-47{
      right: 41.5vw;
      /* text-align: inherit; */
      top: 232px;
      width: 280px;
      p{
        padding: 16px 0px 0px 61px;
        text-align: center;
        margin: 0px;
      }
    }
    .tuto-48{
      right: 62.5vw !important;
      width: 834px !important;
      top: 122px !important;
    }
  }
}