@use  '../Theme/styles';
@import "../Theme/styles.scss";
// CAPITAL
.projects {
  color: #11093c;
  .text-default{
    opacity: 0.34;
  }
  .ant-modal-body{
    padding: 0px;
  }
  .ant-modal-close{
    display: none;
  }
  .ant-modal-footer{
    display: none;
  }
  .head-project {
    padding: 0px 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    p{
      font-size: 14px;
      margin-bottom: 0px;
      color: $opacity;
      margin-top: 0px;
    }
    .project-title{
      width: -webkit-fill-available;
      padding-right: 10px;
      .project-name-icons{
        display: flex;
        margin-bottom: 7px;
        margin-right: 40px;
        .ico-title{
          display: flex;
          color: #b3aec9;
          font-size: 24px;
          align-items: center;
          margin-top: -3px;
          img{
            opacity: 0.5;
            height: 22px;
            margin-left: 10px;
          }
          img:active, img:hover{
            opacity: 1;
          }
          .heart, .heart:hover, .heart:active{
            color:#f5575c;
          }
          .btn-transparent{
            padding: 0px;
            height: auto;
            color: #b7b4c4 !important;
            font-size: 24px;
          }
        }
      }
    }
    .project-name{
      border: none;
      width: 100%;
      font-size: 24px;
      color: #11093C;
      word-wrap: break-word;
      resize: none;
      line-height: 27px;
      font-weight: 500;
      p{
        margin-top: 4px;
      }
    }
    .project-sub-name{
      margin-top: -7px;
      margin-left: 4px;
    }
    .project-type{
      text-align: right;
      display: flex;
      justify-content: right;
      height: min-content;
      align-items: center;
      height: min-content;
      .hh-img{
        margin-left: 8px;
      }
      .drop-espace{
        min-width: 115px;
        border: 1px solid #eae8f0;
        border-radius: 5px;
        padding: 3px 12px;
        font-size: 12px;
        width: max-content;
        a{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px;
          margin-left: 0px !important;
          p{
            padding-right: 8px;
          }
        }
      }
    }
    ::placeholder {
      color: $purple00;
      opacity: 1;
    }
    .threedots {
      position: absolute;
      top: 0;
      right: -15px;
      transition: right 0.2s;
    }
    .input-sizer {
      display: inline-grid;
      vertical-align: top;
      align-items: center;
      position: relative;
      font-size: 18px;
      border: none;
      color: $purple00;

      &.stacked {
        padding: 0.5em;
        align-items: stretch;

        &::after, input{
          grid-area: 2 / 1;
        }
      }

      &::after, input {
        width: auto;
        min-width: 1em;
        grid-area: 1 / 2;
        font: inherit;
        margin: 0;
        resize: none;
        background: none;
        appearance: none;
        border: none;
        max-width: 430px;
        height: 25px;
      }
      &::after {
        content: attr(data-value) " ";
        visibility: hidden;
        white-space: pre-wrap;
      }

      &:focus-within {
        input:focus {
          outline: none;
          border-bottom: 1px solid $green;
        }
      }
    }
    .btn-transparent{
      height:25px;
    }
  }
  .header-tab{
    display: flex;
    margin: 0px 23px;
    border-bottom: 1px solid #eae8f0;
    margin-top: 22px;
    .tab{
      color: $purple00;
      margin: 0px;
      padding-bottom: 10px;
      font-weight: 400;
      margin-right: 28px;
      opacity: 0.6;
      font-size: 12px;
    }
    .active-tab{
      border-bottom: 3px solid $purple00;
      font-weight: 500;
      opacity: 1;
    }
  }
  .body-project{
    padding: 10px 20px;
    height: calc(100vh - 214px);
    overflow-y: auto;
    h5{
      font-size: 13px;
      text-transform: uppercase;
      color: $purple00;
      .requiered {
        color: #df3232;
      }

      img{
        margin-top: -3px;
      }
      .btn-transparent{
        padding: 0px 3px;
      }
    }
    .sub-title-project{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
      h5, p{
        margin: 0px
      }
      .requestor-information{
        margin-top: 32px;
      }
      .location{
        margin-top: 12px;
      }
      .delete-upload{
        color: red;
      }
      .bottomn-heder {
        color: #000000;
        margin-left: 10px;
        transition: all .0s cubic-bezier(.645, .045, .355, 1);
      
        .ic-document {
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          margin-right: 5px;
          content: url("../../../public/Icons/ic-document.svg");
        }
      }
      .bottomn-heder:hover,
      .bottomn-heder:active,
      .bottomn-heder:focus-visible,
      .bottomn-heder:visited {
        color: #29c499 !important;
        border-color: #29c499;
        transition: all .0s cubic-bezier(.645, .045, .355, 1);

        .ic-document {
          transition: all .3s cubic-bezier(.645, .045, .355, 1);
          margin-right: 5px;
          content: url("../../../public/Icons/ic-document-active.svg") !important;
        }
      }
    }
    .sub-title-project-upload{
      align-items: baseline;
      .group-btn{
        // margin-top: 24px;
        margin-bottom: 16px;
      }
    }
    .span-project-text{
      padding-bottom: 15px;
    }
    .checkbox-body-project{ 
      padding-right: 10px;
      padding-top: 10px;
    }
   
    .title-actions{
      margin-top: 15px;
    }
    .icon-actions{
      margin-bottom: 2px;
    }
    .create-information{
      margin-bottom: -25px;
    }
    .create-required{
      margin-bottom: -25px;
      padding-top: 5px;
    }
    .requiered-text {
      text-align: end;
      font-size: 12px;
      color: #000;
      .requiered {
        color: #df3232;
      }
    }
    .information-description{
      margin-top: 20px;
    }
    .title-geometry{
      margin-top: 10px;
    }
    .title-financial{
      margin-top: 20px;
    }    
    .sub-project{
      .title-sub-project{
        font-weight: 600;     
      }
    }
    .location-information{
      #required-location{
        color: #df3232;
      }
    }
    .upload-sections{
      .upload-documents{
        .title-upload{
          margin-top: 5px;
          .text-upload{
            margin-bottom: -25px;
            align-self: center;
          }
          .icon-upload{
            margin-left: 5px;
          }
          .add-upload{
            margin-bottom: -25px;
            text-align: end;
            .delete-upload{
              color: red;
            }
          }
        }
        .subtitle-upload{
          padding: 8px;
          margin-top: 25px;
          .subtext-upload{
            margin-bottom: -25px;
            .uploaded-span{
              color: #11093C;
            }
          }
        }
        .table-upload-documents{
          padding: 8px;
          margin-top: 40px;
          margin-left: 0px;
          padding-left: 0px;
        }
      }

    }
    .sub-title{
      font-size: 10px;
      color: $opacity;

      img{
        margin: -2px 0px 0px 2px;
      }
    }
    .icon-cost{
      margin-bottom: 2px;
    }
    textarea.ant-input{
      margin-bottom: 32px;
      min-height: 36px;
      padding: 6px 11px;
    }
    .section-gemetry{
      margin-left: 16px;
      p{
        opacity: 0.6;
        margin-bottom: 12px;
      }
      .section-county{
        width: 50%;
        margin-bottom: 16px;
      }
      .text-radio-btn{
        font-size: 12px;
        color:$purple00;
        opacity: 0.6;
      }
      .sub-sub-title-projects{
        margin-top: 10px;
      }
    }
    .table-project{
      margin-bottom: 20px;
      .tag-active{
        background: rgba(41, 196, 153, 0.20);
        border-radius: 19px;
        padding: 2px 11px;
        display: flex;
        justify-content: center;
        color: #29C499;
      }
      .ico-delete{
        color: #cfced8;
      }
      .ico-delete:hover{
        color: #11093C;
      }
      .total-cost{
        font-weight: 700;
      }
      .input-independent{
        border: none;
        background: transparent;
        color: $purple00;
        border: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
      }
      .input-independent:focus{
        border-bottom: 1.5px solid $green;
        border-radius: 0px;
      }
      .row-geometry-total{
        td{
          padding-left: 20px !important;
        }
      }
      .row-geometry-body{
        background: #f5f7ff;
        td{
          padding-left: 20px !important;
        }
      }
      .row-geometry-title{
        td {
          padding: 11px 4px !important;
        }
      }
      .ant-pagination{
        display: none;
      }
      .ant-table {
        border-radius: 5px;
        border: 1px solid #d9d9d9;
      }
      .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before{
        background-color: transparent;
      }
      .ant-table-thead > tr > th {
        color: #11093C;
        font-weight: 700;
        background: #ffffff;
        font-size: 12px;
        padding: 3px 8px;
        border-bottom: 1px solid #d9d9d9;
      }
      .ant-table-column-sorter {
        color: #11093C;
      }
      .ant-table-tbody>tr>td {
        border-bottom: 1px solid #f0f0f0;
        color: #11093C;
        font-family: Ubuntu;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        border: none;
        padding: 11px 8px;
      }
    }
    .table-geometry{
      .ant-table-thead > tr > th {
        padding-left: 20px !important;
      }
    }
    .ant-input{
      border: solid 1px $opacity04;
    }
    .ant-select-selection-selected-value {
      max-width: 97%;
    }
    .ant-select-selection{
      text-align: left;
      width: 100%;
      height: 44px;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      color: rgba(17, 9, 60, 0.5);
      border: solid 1.3px $opacity04;
      background: #ffffff;
      font-weight: lighter;
      box-shadow: none;
    }
    .ant-select-selection--single .ant-select-selection__rendered {
      height: 40px;
      margin: 0px;
    }
    .ant-select-selection__rendered{
      line-height: 42px;
    }
    .ant-select-arrow{
      color: $purple;
    }
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
      color: $opacity;
    }
    .tab-titles{
      display: flex;
      font-size: 12px;
      color: $opacity;
    }
    .draw{
      height: 80px;
      text-align: center;
      border: 1px dashed $opacity04;
      margin: 10px 0px 25px 0px;
      padding: 18px 0px;
      color: $opacity;
      display: block;

      p{
        font-size: 13px;
        margin-bottom: 0px;
      }
      .icon-draw{
        margin-bottom: 2px;
        height: 0px;
        width: 0px;
        background: $purple;
        transition: width 2s;
        padding: 9px;
      }
      .icon-draw-01{
        height: 0px;
        width: 0px;
        background: $purple;
        transition: width 2s;
        padding: 13px;
      }
    }
    .draw:hover, .draw:focus, .draw:active, .draw.active{
      border: 1px dashed $green;
      color: $green;
    }
    .draw:hover > .icon-draw, .draw:focus > .icon-draw, .draw:active > .icon-draw, .draw.active > .icon-draw{
      background: $green;
    }
    .draw:hover > .icon-draw-01, .draw:focus > .icon-draw-01,
    .draw:active > .icon-draw-01, .draw.active > .icon-draw-01{
      background: $green;
    }
    hr{
      border: 1px dashed $opacity04;
    }
    .cost-project{
      color: $opacity;
      font-size: 12px;

      b{
        color: $purple00;
      }
    }
    .overcost-capital{
      margin-bottom: 10px;
    }
    .sub-project{
      .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: transparent !important;
      }
      .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: transparent !important;
      }
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 5px !important;
        align-self: center;
        height: 20px; 
      }

      font-size: 12px;
      color: $purple00;
      p{
        font-size: 12px;
        color: $purple00;
        margin-bottom: 0px;
      }
      .ant-input{
        border: none;
        padding: 4px 0px;
        font-size: 12px;
      }
      .ant-input:focus{
        border-bottom: 1.5px solid $green;
        border-radius: 0px;
      }
      .ant-select-selection {
        height: 25px;
        font-size: 12px;
        border: none;
        width: 55px;
        padding: 0px;
        color: $purple00;
      }
      .ant-select-selection--single .ant-select-selection__rendered{
        height: 25px;
      }
      .ant-select-selection__rendered{
        line-height: 23px;
      }
      .ant-timeline-item{
        color: $purple00;

        label{
          color: $purple00;
          padding-left: 32px;
        }
      }
      .ant-timeline-item-content{
        margin: 0px;
      }
      .ant-timeline-item{
        padding: 0px !important;
      }
      .ant-timeline-item-head{
        border-color: $purple !important;
        background-color: $purple;
        margin-left: 15px;
      }
      .ant-timeline-item-tail{
        left: 19px;
      }
    }
    .btn-green{
      width: 115px;
      margin-bottom: 25px;
    }
    .ant-upload.ant-upload-select {
      display: block;
    }
    .ant-upload{
      button{
        width: 100%;
        height: 80px;
        border: 1px dashed $opacity04;
        margin: 5px 0px 15px 0px;
      }
      p{
        font-size: 13px;
        color: $opacity;
        margin-bottom: 0px;
      }
    }
    .title-galery{
      display: flex;
      font-size: 12px;
      color: $opacity;
    }
    .card-image{
      display: flex;
      background: $light-purple;
      margin: 0px -20px 6px -20px;
      padding: 12px 20px 8px 20px;

      p{
        font-size: 12px;
        color: $purple00;
        margin-bottom: 0px;
        margin: -2px 0px -6px 0px;
      }
      p:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }
      label{
        font-size: 9px;
        color: $opacity02;
      }
    }
    .tab-head-project{
      display: flex;
      font-size: 12px;
      color: $purple00;
      line-height: 15px;
      padding-right: 7px;
      .tab-cost{
        padding-left: 15px;
      }
      .tab-cost-independent{
        padding-left: 38px;
      }
      .cost-position{
        padding-left: 29px; 
      }
    }
    .tab-body-project{
      display: flex;
      font-size: 12px;

      .ant-timeline{
        width: 100%;
      }
      label{
        padding-left: 18px;
      }
      .btn-transparent{
        height: 20px;

        img{
          margin-top: -3px;
        }
      }
      .second{
        color: rgb(17 9 60);

        .ant-input{
          border: none;
          padding: 5px 0px;
          font-size: 12px;
          background: transparent;
          height: 20px;
          width: 80%;
        }
        .ant-input:focus{
          border-bottom: 1.5px solid #28C499;
          border-radius: 0px;
        }
      }
      .third{
        color: $opacity;
        padding-left: 15px;

        .ant-input{
          border: none;
          padding: 5px 0px;
          font-size: 12px;
          background: transparent;
          height: 20px;
          width: 100%;
         }
         .ant-input::placeholder {
           color: $purple;
           opacity: 1
         }
        .ant-input:focus{
          border-bottom: 1.5px solid #28C499;
          border-radius: 0px;
        }
      }
      .fourth{
        text-align: right;

        button{
          padding: 0px;
          height: 19px;
        }
      }
    }
    .ant-collapse{
      border: none;
      margin: 10px -20px;
      background-color: $white;
    }
    .ant-collapse-content{
      border-top: none;
      background: rgba(245, 247, 255, 0.4);
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
      height: 40px;
      padding: 12px 20px;
      overflow: hidden;
      background: $light-purple;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
      float: left;
      width: 100%;
    }
    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
      margin-bottom: 5px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 15px 20px 0px 20px;
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      border: 1px solid $opacity;
      padding: 2px;
      color: $opacity;
    }
    .ant-timeline-item {
      padding: 0px 0 10px;
      font-size: 12px;
      color: rgb(17 9 60);

      .ant-input{
        border: none;
        padding: 5px 0px;
        font-size: 12px;
        background: transparent;
        height: 20px;
        width: 200px;
      }
      .ant-input:focus{
        border-bottom: 1.5px solid $green;
        border-radius: 0px;
      }
    }
    .ant-timeline-item-content {
      top: -4px;
    }
    .ant-timeline-item-last > .ant-timeline-item-content {
      min-height: 16px;
    }
    .ant-timeline-item-last{
      padding: 0px;
    }
    .ant-timeline-item-head-orange{
      color: $orange !important;
      border-color: $orange !important;
      background: $orange !important;
    }
    .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus{
      border: none;
      color: $green;
      padding: 0px;
      margin-bottom: 15px;
      box-shadow: none;
      font-size: 12px;

      .anticon{
        font-size: 18px;
      }
    }

    // STUDY
    .streams{
      font-size: 12px;
      color: $opacity;

      .amount{
        color: $purple;
      }
      .ant-timeline-item-head{
        border-color: $purple !important;
        background-color: $purple !important;
      }
    }

    // ACQUISITION AND SPECIAL
    .btn-location,.btn-location:hover{
      border: 1px solid $green;
      color: $green;
      height: 30px;
      // width: 115px;
      font-size: 12px;
      margin-top: 27px;
    }

    //DISCUTIOM

    .discution-body{
      height: calc(100% - 50px);
      overflow: auto;
    }
  }
  .switch-option{
    font-size: 10px;
    color: $opacity;
    line-height: 24px;

    span{
      float: right;
    }
    .ant-switch-checked {
      background-color: $green;
    }
  }
  .footer-project{
    text-align: right;
    background: $white;
    padding: 15px 20px;
    border-top: solid 1px $opacity01;
    border-radius: 0px 0px 4px 0px;

    button{
      height: 44px;
      margin-left: 10px;
    }
    .btn-purple:hover, .btn-purple:focus{
      border-bottom: 4px solid $green !important;
    }
  }
  #map3{
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px;
  }
  .map{
    margin: 1px !important;
    height: calc(100vh - 20px);

    .mapboxgl-ctrl-group {
      left: 20px;
      position: absolute;
      width: 25px;
      bottom: 30px;
    }
    .mapboxgl-ctrl-bottom-right {
      width: 100%;
    }
    .mapboxgl-ctrl-scale {
      left: 55px;
      position: absolute;
      bottom: 30px;
      width: auto !important;
      border: none;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
// .menu-large{
//   width: 200px !important;
// }
.menu-medium{
  width: 100px !important;
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: transparent !important;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: transparent !important;
  }
}
.sponsor-select{
  .ant-select-selection{
    height: auto !important;
  }
  .ant-select-selection--multiple .ant-select-selection__placeholder {
    margin-left: 0px;
  }
  .ant-select-selection--multiple .ant-select-selection__rendered {
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 26px !important;
  }
  .ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
    height: 24px;
    margin: 1px 2px 1px 0px !important;
    line-height: 22px;
    margin-left: -2px;
  }
  .ant-select-selection--multiple .ant-select-selection__choice__content{
    font-size: 12px;
  }
 .ant-select-selection {
    padding: 8px 15px !important;
  }
}
// 1920x1080 DISPLAY
@media (min-width: 900px) and (max-width: 1899px){
  .col-cost-geom {
    margin-left: -15px;
  }
}
@media (min-width: 1500px) and (max-width: 1599px){
  .tab-cost{
    padding-left: 29px !important;
  }
  .tab-cost-independent{
    padding-left: 38px !important;
  }
}
@media (min-width: 1600px) and (max-width: 1699px){
  .tab-cost{
    padding-left: 47px !important;
  }
  .tab-cost-independent{
    padding-left: 23px !important;
  }
}
@media (min-width: 1700px) and (max-width: 1899px){
  .tab-cost{
    padding-left: 46px !important;
  }
  .tab-cost-independent{
    padding-left: 25px !important;
  }
}
@media (min-width: 1900px) and (max-width: 2499px){
  // CAPITAL
  .tab-cost{
    padding-left: 57px !important;
  }
  .tab-cost-independent{
    padding-left: 25px !important;
  }
  .projects{
    width: 1466px !important;

    .head-project{
      padding: 20px 20px 10px 20px;

      .input-sizer {
        font-size: 24px !important;
        &::after, input {
          max-width: 575px;
          height: 35px;
        }
      }
      p{
        font-size: 18px !important;
      }
      .btn-transparent{
        height: 35px;

        img{
          height: 22px;
        }
      }
    }
    .body-project{
      height: calc(100vh - 275px);
      h5{
        font-size: 18px;
        .requiered {
          color: #df3232;
        }
      }
      .requiered-text {
        text-align: end;
        font-size: 12px;
        color: #000;
        .requiered {
          color: #df3232;
        }
      }
      .required-text{
        font-size: 14px;
      }
      .sub-title {
        font-size: 13px !important;
      }
      textarea.ant-input {
        height: 125px;
        font-size: 18px;
      }
      .ant-select-selection {
        height: 58px;
        font-size: 18px;
      }
      .ant-select-selection--single .ant-select-selection__rendered {
        height: 54px;
      }
      .ant-select-selection__rendered {
       line-height: 54px;
      }
      .draw{
        height: 105px;
        padding: 27px 0px;
        img {
          height: 24px;
        }
        p{
          font-size: 18px;
        }
      }
      .tab-titles{
        font-size: 16px !important;
      }

      .tab-head-project{
        font-size: 16px !important;
      }
      .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        height: 54px;
        padding: 19px 20px;
      }
      .tab-body-project{
        font-size: 16px !important;

        .second{
          color: rgb(17 9 60);

          .ant-input {
            font-size: 16px;
            padding: 8px 0px;
          }
        }
        .third{
          color: $purple00;
          padding-left: 0px !important;

          .ant-input {
            font-size: 16px;
            padding: 8px 0px;
          }
        }
        .fourth{
          button {
            height: 25px;
            top:-5px;

            img{
              height: 16px;
            }
          }
        }
      }
        .ant-timeline-item{
          font-size: 16px !important;

            .ant-input {
              font-size: 16px;
              width: 300px;
              padding: 8px 0px;
              color:#11093c;
            }
        }
        .ant-timeline-item-content {
          top: -7px;
        }
        .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus {
          font-size: 14px !important;
        }
        .cost-project, .sub-project {
          font-size: 16px !important;
        }
        .overcost-capital{
          margin-bottom: 20px;
        }
        .sub-project{
          .ant-input {
            font-size: 16px !important;
          }
          p{
            font-size: 16px;
          }
          .ant-select-selection {
            font-size: 16px;
            width: 65px;
          }
          .ant-timeline-item{
            padding-bottom: 10px !important;
          }
          .ant-timeline-item{
            label{
              padding-left: 35px;
            }
          }
        }
        .btn-green {
          width: 150px;
          font-size: 16px;
          height: 40px;
        }
        .ant-upload{
          button {
           height: 105px;
           box-shadow: none;

           img{
             height: 24px;
           }
         }
         p{
           font-size: 18px;
         }
       }
       .title-galery{
         font-size: 16px;
       }
       .card-image{
         img{
           height: 37px;
         }
         p{
           font-size: 16px;
         }
         label{
           font-size: 12px;
         }
         .btn-transparent{
           img{
             height: 20px;
           }
         }
       }
       .switch-option{
         font-size: 14px;
         line-height: 38px;
       }
       // STUDY
       .streams{
         font-size: 16px;
       }

       // ACQUISITION AND SPECIAL
       .ant-table-thead > tr > th {
         font-size: 16px;
         padding: 4px 16px;
       }
       .ant-table-bordered .ant-table-tbody > tr > td{
         font-size: 16px;
         padding: 12px 16px;
       }
       .btn-location,.btn-location:hover{
         height: 40px;
         width: 150px;
         font-size: 16px;
         margin-top: 40px;
       }
    }
    .footer-project{
      button{
        height: 58px;
        font-size: 18px;
        padding: 0px 30px;
      }
    }
  }
  .sponsor-select{
    .ant-select-selection {
      padding: 15px 15px !important;
    }
  }
}

// 2560x1440 DISPLAY
@media (min-width: 2500px) and (max-width: 2999px){
// CAPITAL
  .tab-cost{
    padding-left: 66px !important;
  }
  .tab-cost-independent{
    padding-left: 25px !important;
  }
  .projects{
    width: 1955px !important;
    .head-project{
      padding: 20px 20px 10px 20px;

      .input-sizer {
        font-size: 32px !important;

        &::after, input {
          max-width: 778px;
          height: 45px;
        }
      }
      button img{
        height: 30px;
        margin-top: 8px;
      }
      p{
        font-size: 24px !important;
      }
      .hh-img {
       margin-top: 8px;
       height: 30px;
     }
     .btn-transparent{
       height: 45px;

       img{
         height: 28px;
       }
     }
    }
    .body-project{
      height: calc(100vh - 300px);
      .sub-project .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        width: 100px !important;
       }
      .ant-select-selector {
        padding: 6px 13px !important;
        margin: 10px 0px !important;
       
       }
      #sponsorid{
        .ant-select-selector {
          padding: 25px 16px !important;
          margin: 10px 0px !important;
         }
       }
      .project-name{
        font-size: 32px !important;
        line-height: 39px !important;
        height: 48px !important;
      }
      .uploaded-span{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 26px;
      }
      .requiered-text{
        font-size: 18px !important;
      }
      .bottomn-heder{
        padding: 10px 22px;
        height: auto;
        font-size: 22px;
        .ic-document{
          height: 20px !important;
          margin-right: 10px !important;
        }
      }
      .span-project-text{
        font-size: 16px;
      }
      h5{
        font-size: 26px;
        margin: 20px 0px !important;

        img{
          height: 24px;
        }
      }
      .required-text{
        font-size: 14px;
      }
      .sub-title {
        font-size: 20px !important;

        img{
          height: 20px;
        }
      }
      textarea.ant-input {
        height: 165px;
        font-size: 24px !important;
        padding: 10px 15px;
        line-height: 28px !important;
      }
      .ant-select-selection {
        height: 74px;
        font-size: 24px;
      }
      .ant-select-selection--single .ant-select-selection__rendered {
        height: 74px;
      }
      .ant-select-selection__rendered {
       line-height: 78px;
      }
      .draw{
        height: 140px;
        padding: 36px 0px;
        margin-bottom: 25px;
        border: 2px dashed $opacity04;

        img {
          height: 32px;
        }
        p{
          font-size: 24px;
          img {
            height: 20px;
          }
        }
      }
      .tab-titles{
        font-size: 21px !important;
      }

      .tab-head-project{
        font-size: 21px !important;
        line-height: 1;
      }
      .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        height: 70px;
        padding: 25px 20px;
      }
      .tab-body-project{
        font-size: 21px !important;

        .second{
          .ant-input {
            font-size: 21px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .third{
          padding-left: 0px !important;
          .ant-input {
            font-size: 21px;
            padding: 8px 0px;
            width: 80%;
            height: 38px;
          }
        }
        .fourth{
          width: inherit;

          button {
            height: 37px;
            top: -8px;
            display: flex;
            align-items: flex-end;

            img{
              height: 20px;
            }
          }
        }
      }
        .ant-timeline-item{
          font-size: 24px !important;
          line-height: 26px !important;

          img{
            height: 20px;
          }
          .ant-input {
            font-size: 21px;
            width: 300px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .ant-timeline-item-content {
          height: 40px !important;
          top: -9px;
        }
        .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus {
          font-size: 21px !important;
        }
        .btn-transparent-green .anticon, .btn-transparent-green:hover .anticon, .btn-transparent-green:focus .anticon {
          font-size: 21px;
        }
        .cost-project, .sub-project {
          font-size: 21px !important;
        }
        .overcost-capital{
          margin-bottom: 25px;
        }
        .sub-project{
          .ant-input {
            font-size: 24px !important;
            line-height: 26px !important;
          }
          p{
            font-size: 24px !important;
            line-height: 26px !important;
            margin: 12px 0px;
            img{
              height: 18px;
            }
          }
          .ant-select-selection {
            font-size: 21px;
            width: 80px;
          }
          .ant-timeline-item{
            padding-bottom: 10px !important;
          }
          .ant-timeline-item{
            label{
              padding-left: 40px;
            }
          }
        }
        .btn-green {
          width: 200px;
          font-size: 21px;
          height: 54px;
        }
        .ant-upload{
          button {
           height: 140px;
           box-shadow: none;
           border: 2px dashed $opacity04;

           img{
             height: 32px;
           }
         }
         p{
           font-size: 24px;
         }
       }
       .title-galery{
         font-size: 21px;
         margin-bottom: 8px;
       }
       .card-image{
         img{
           height: 50px;
         }
         p{
           font-size: 21px;
         }
         label{
           font-size: 16px;
         }
         .btn-transparent{
           height: 50px;

           img{
             height: 26px;
           }
         }
         .ant-checkbox-inner {
           width: 28px;
           height: 28px;
         }
         .ant-checkbox-inner::after {
            top: 50%;
            left: 27%;
            width: 8.714286px;
            height: 13.142857px;
          }
       }
       .switch-option{
         font-size: 18px;
         line-height: 38px;
       }
       // STUDY
       .streams{
         font-size: 21px;
       }

       // ACQUISITION AND SPECIAL
       .ant-table-thead > tr > th {
         font-size: 21px;
         padding: 6px 16px;
       }
       .ant-table-bordered .ant-table-tbody > tr > td{
         font-size: 21px;
         padding: 16px 16px;
       }
       .btn-location,.btn-location:hover{
         height: 54px;
         width: 205px;
         font-size: 21px;
         margin-top: 52px;
       }
    }
    .footer-project{
      button{
        height: 78px;
        font-size: 24px;
        padding: 0px 50px;
        margin-left: 23px;
      }
    }
  }
  .ant-select-dropdown-menu-item{
    font-size: 18px !important;
  }
  .sponsor-select{
    .ant-select-selection {
      padding: 23px 15px !important;
    }
    .ant-select-selection--multiple .ant-select-selection__choice__content {
      font-size: 20px;
    }
  }
}


.project-name:focus{
  border-bottom: 1.6px solid $green !important;
  border-radius: 0px;
}


@media (min-width: 2500px) and (max-width: 2999px){
  .ant-modal .new-project {
    width: 1500px !important;
  }
}

@media (min-width: 3000px) and (max-width: 5999px){
// CAPITAL
  .tab-cost{
    padding-left: 66px !important;
  }
  .tab-cost-independent{
    padding-left: 25px !important;
  }
  .projects{
    width: 2514px !important;
    .head-project{
      padding: 35px 35px 10px 35px;

      .input-sizer {
        font-size: 32px !important;

        &::after, input {
          max-width: 778px;
          height: 45px;
        }
      }
      button img{
        height: 30px;
        margin-top: 8px;
      }
      p{
        font-size: 24px !important;
      }
      .hh-img {
       margin-top: 8px;
       height: 30px;
     }
     .btn-transparent{
       height: 45px;

       img{
         height: 28px;
       }
     }
    }
    .body-project{
      height: calc(100vh - 300px);
      font-size: 28px !important;
      line-height: 32px !important;
      padding: 20px 35px;
      .sub-project .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        width: 112px !important;
       }
       .ant-select-selector {
        padding: 6px 0px !important;
        margin: 10px 0px !important;
       }
      #sponsorid{
        .ant-select-selector {
          padding: 25px 16px !important;
          margin: 10px 0px !important;
         }
       }
      .project-name{
        font-size: 32px !important;
        line-height: 39px !important;
        height: 48px !important;
      }
      .uploaded-span{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 26px;
      }
      .requiered-text{
        font-size: 23px !important;
      }
      .bottomn-heder{
        padding: 10px 22px;
        height: auto;
        font-size: 28px;
        .ic-document{
          height: 24px !important;
          margin-right: 15px !important;
        }
      }
      .span-project-text{
        font-size: 26px !important;
      }
      h5{
        font-size: 30px;
        margin: 42px 0px !important;

        img{
          height: 24px;
        }
      }
      .required-text{
        font-size: 30px;
      }
      .sub-title {
        font-size: 28px !important;

        img{
          height: 20px;
        }
      }
      textarea.ant-input {
        height: 217px !important;
        font-size: 30px !important;
        padding: 15px 15px;
      }
      .ant-select-selection {
        height: 74px;
        font-size: 24px;
      }
      .ant-select-selection--single .ant-select-selection__rendered {
        height: 74px;
      }
      .ant-select-selection__rendered {
       line-height: 78px;
      }
      .draw{
        height: 140px;
        padding: 40px 0px;
        margin-bottom: 25px;
        border: 2px dashed $opacity04;

        img {
          height: 50px !important;
        }
        p{
          font-size: 28px !important;
          img {
            height: 26px !important;
          }
        }
      }
      .tab-titles{
        font-size: 28px !important;
      }

      .tab-head-project{
        font-size: 28px !important;
        line-height: 1;
      }
      .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        height: 70px;
        padding: 25px 20px;
      }
      .tab-body-project{
        font-size: 28px !important;

        .second{
          .ant-input {
            font-size: 28px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .third{
          padding-left: 0px !important;
          .ant-input {
            font-size: 28px;
            padding: 8px 0px;
            width: 80%;
            height: 38px;
          }
        }
        .fourth{
          width: inherit;

          button {
            height: 37px;
            top: -8px;
            display: flex;
            align-items: flex-end;

            img{
              height: 26px;
            }
          }
        }
      }
        .ant-timeline-item{
          font-size: 28px !important;
          line-height: 36px !important;

          img{
            height: 20px;
          }
          .ant-input {
            font-size: 28px;
            width: 300px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .ant-timeline-item-content {
          top: -9px;
          height: 52px !important;
        }
        .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus {
          font-size: 28px !important;
        }
        .btn-transparent-green .anticon, .btn-transparent-green:hover .anticon, .btn-transparent-green:focus .anticon {
          font-size: 28px;
        }
        .cost-project, .sub-project {
          font-size: 28px !important;
        }
        .overcost-capital{
          margin-bottom: 25px;
        }
        .sub-project{
          .ant-input {
            font-size: 30px !important;
            line-height: 35px !important;
          }
          p{
            font-size: 30px !important;
            line-height: 36px !important;
            margin: 25px 0px;
            img{
              height: 24px;
            }
          }
          .ant-select-selection {
            font-size: 28px;
            width: 80px;
          }
          .ant-timeline-item{
            padding-bottom: 10px !important;
          }
          .ant-timeline-item{
            label{
              padding-left: 40px;
              font-size: 30px;
            }
          }
        }
        .btn-green {
          width: 200px;
          font-size: 28px;
          height: 54px;
        }
        .ant-upload{
          button {
           height: 140px;
           box-shadow: none;
           border: 2px dashed $opacity04;

           img{
             height: 32px;
           }
         }
         p{
           font-size: 24px;
         }
       }
       .title-galery{
         font-size: 21px;
         margin-bottom: 8px;
       }
       .card-image{
         img{
           height: 50px;
         }
         p{
           font-size: 21px;
         }
         label{
           font-size: 16px;
         }
         .btn-transparent{
           height: 50px;

           img{
             height: 26px;
           }
         }
         .ant-checkbox-inner {
           width: 28px;
           height: 28px;
         }
         .ant-checkbox-inner::after {
            top: 50%;
            left: 27%;
            width: 8.714286px;
            height: 13.142857px;
          }
       }
       .switch-option{
         font-size: 18px;
         line-height: 38px;
       }
       // STUDY
       .streams{
         font-size: 21px;
       }

       // ACQUISITION AND SPECIAL
       .ant-table-thead > tr > th {
        font-size: 30px !important;
        padding: 17px 16px;
       }
       .ant-table-bordered .ant-table-tbody > tr > td{
         font-size: 21px;
         padding: 16px 16px;
       }
       .btn-location,.btn-location:hover{
         height: 54px;
         width: 205px;
         font-size: 21px;
         margin-top: 52px;
       }
    }
    .footer-project{
      button{
        height: 99px;
        font-size: 30px;
        padding: 0px 50px;
        margin-left: 30px !important;
      }
    }
  }
  .ant-select-dropdown-menu-item{
    font-size: 18px !important;
  }
  .sponsor-select{
    .ant-select-selection {
      padding: 23px 15px !important;
    }
    .ant-select-selection--multiple .ant-select-selection__choice__content {
      font-size: 20px;
    }
  }
}


.project-name:focus{
  border-bottom: 1.6px solid $green !important;
  border-radius: 0px;
}

//
.modal-confirm {
  width: 430px !important;

  /* Default close button */
  .ant-modal-close {
    display: none;
  }

  /* Body of the Modal */
  .ant-modal-body {
    padding: 0;
  }

  /* Moldal's Footer */
  .ant-modal-footer {
    display: none;
  }

  h2 {
    color: $purple00;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .btn-danger {
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: #FA4659;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    border: none;
    font-weight: bold;
  }

  .btn-danger:hover,
  .btn-danger:focus {
    border-bottom: 4px solid #E5E5E5 !important;
  }

  .btn-purple {
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $purple;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    border: none;
  }

  .btn-purple:hover,
  .btn-purple:focus {
    border-bottom: 4px solid $green !important;
  }

  .btn-borde {
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $white;
    font-size: 14px;
    color: $opacity;
    margin-top: 10px;
    border: 1px solid $opacity01;
    margin-right: 15px;
  }

  .title {
    font-size: 10px !important;
  }

  .infomation {
    font-size: 12px !important;
  }

.detailed {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;

  .ant-carousel .slick-list {
    height: auto;
  }

  .ant-carousel .slick-dots {
    display: none !important;
    padding-bottom: 50px !important;
  }

  .header-body-modal {
    color: #11093C;
    opacity: 0.6;
    margin: 15px 13px;    
    font-size: 20px !important;    
  }

  .header-body-modal-active {
    color: #11093C;
    opacity: 1;
    border-bottom: 2px solid #11093C;
    padding-bottom: 8px;
    margin-bottom: 1px;
  }

  .ant-tabs-bottom>.ant-tabs-nav,
  .ant-tabs-bottom>div>.ant-tabs-nav,
  .ant-tabs-top>.ant-tabs-nav,
  .ant-tabs-top>div>.ant-tabs-nav {
    margin: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: 10000;
  }

  .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
    margin-left: 41px;
  }

  .tabs-map .ant-tabs-nav .ant-tabs-tab {
    font-size: 14px;
  }

}
} 


.modal-confirm{
  width: 795px !important;
  h1{
    font-size: 34px !important;
    line-height: 45px !important;
  }
  .detailed-h{
    font-size: 28px !important;
    line-height: 42px !important;
     button{
      font-size: 32px !important;
      line-height: 36px !important;
      padding: 32px !important;
      margin: 22px 0px;
      height: auto !important;
    }
    .btn-transparent{
      padding: 0px 12px !important;
      margin-top: 19px !important;
      img{
        height: 24px !important;
      }
    }
  }
}
