@import "../Theme/styles.scss";
@use 'styles';
// CAPITAL
.projects{
  .ant-modal-body{
    padding: 0px;
  }
  .ant-modal-close{
    display: none;
  }
  .ant-modal-footer{
    display: none;
  }
  .head-project{
    padding: 10px 20px;

    ::placeholder {
      color: $purple00;
      opacity: 1;
    }
    .input-sizer {
      display: inline-grid;
      vertical-align: top;
      align-items: center;
      position: relative;
      font-size: 18px;
      border: none;
      color: $purple00;

      &.stacked {
        padding: 0.5em;
        align-items: stretch;

        &::after, input,{
          grid-area: 2 / 1;
        }
      }

      &::after, input {
        width: auto;
        min-width: 1em;
        grid-area: 1 / 2;
        font: inherit;
        margin: 0;
        resize: none;
        background: none;
        appearance: none;
        border: none;
        max-width: 300px;
        height: 25px;
      }
      &::after {
        content: attr(data-value) " ";
        visibility: hidden;
        white-space: pre-wrap;
      }

      &:focus-within {
        input:focus {
          outline: none;
          border-bottom: 1px solid $green;
        }
      }
    }
    p{
      font-size: 14px;
      margin-bottom: 0px;
      color: $opacity;
      margin-top: 4px;
    }
    .btn-transparent{
      height:25px;
    }
    .tag-name{
      background: $light-purple;
      border-radius: 20px;
      text-align: center;
      font-size: 12px;
      color: $purple;
      min-width: 105px;
      width: 105px;
      padding: 10px 5px;
      margin-right: 5px;
      position: relative;
      top: 6px;
      letter-spacing: -0.8px;
    }
    .hh-img{
      margin-top: 8px;
    }
  }
  .body-project{
    padding: 10px 20px;
    height: calc(100vh - 200px);
    overflow-y: auto;

    h5{
      font-size: 13px;
      text-transform: uppercase;
      color: $purple00;

      img{
        margin-top: -3px;
      }
      .btn-transparent{
        padding: 0px 5px;
      }
    }
    .sub-title{
      font-size: 10px;
      color: $opacity;

      img{
        margin: -2px 0px 0px 2px;
      }
    }
    textarea.ant-input{
      margin-bottom: 10px;
    }
    .ant-input{
      border: solid 1px $opacity04;
    }
    .ant-select-selection{
      text-align: left;
      width: 100%;
      height: 44px;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      color: rgba(17, 9, 60, 0.5);
      border: solid 1.3px $opacity04;
      background: #ffffff;
      font-weight: lighter;
      box-shadow: none;
    }
    .ant-select-selection--single .ant-select-selection__rendered {
      height: 40px;
      margin: 0px;
    }
    .ant-select-selection__rendered{
      line-height: 42px;
    }
    .ant-select-arrow{
      color: $purple;
    }
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
      color: $opacity;
    }
    .tab-titles{
      display: flex;
      font-size: 12px;
      color: $opacity;
    }
    .draw{
      height: 80px;
      text-align: center;
      border: 1px dashed $opacity04;
      margin: 10px 0px 15px 0px;
      padding: 18px 0px;
      color: $opacity;
      display: block;

      p{
        font-size: 13px;
        margin-bottom: 0px;
      }
      .icon-draw{
        margin-bottom: 2px;
        height: 0px;
        width: 0px;
        background: $purple;
        transition: width 2s;
        padding: 9px;
      }
      .icon-draw-01{
        height: 0px;
        width: 0px;
        background: $purple;
        transition: width 2s;
        padding: 13px;
      }
    }
    .draw:hover, .draw:focus, .draw:active, .draw.active{
      border: 1px dashed $green;
      color: $green;
    }
    .draw:hover > .icon-draw, .draw:focus > .icon-draw, .draw:active > .icon-draw, .draw.active > .icon-draw{
      background: $green;
    }
    .draw:hover > .icon-draw-01, .draw:focus > .icon-draw-01,
    .draw:active > .icon-draw-01, .draw.active > .icon-draw-01{
      background: $green;
    }
    hr{
      border: 1px dashed $opacity04;
    }
    .cost-project{
      color: $opacity;
      font-size: 12px;

      b{
        color: $purple00;
      }
    }
    .sub-project{
      font-size: 12px;
      color: $purple00;
      p{
        font-size: 12px;
        color: $purple00;
        margin-bottom: 0px;
      }
      .ant-input{
        border: none;
        padding: 4px 0px;
        font-size: 12px;
      }
      .ant-input:focus{
        border-bottom: 1.5px solid $green;
        border-radius: 0px;
      }
      .ant-select-selection {
        height: 25px;
        font-size: 12px;
        border: none;
        width: 55px;
        padding: 0px;
        color: $purple00;
      }
      .ant-select-selection--single .ant-select-selection__rendered{
        height: 25px;
      }
      .ant-select-selection__rendered{
        line-height: 23px;
      }
      .ant-timeline-item{
        color: $purple00;

        label{
          color: $purple00;
          padding-left: 32px;
        }
      }
      .ant-timeline-item-content{
        margin: 0px;
      }
      .ant-timeline-item{
        padding: 0px !important;
      }
      .ant-timeline-item-head{
        border-color: $purple !important;
        background-color: $purple;
        margin-left: 15px;
      }
      .ant-timeline-item-tail{
        left: 19px;
      }
    }
    .btn-green{
      width: 115px;
      margin-bottom: 25px;
    }
    .ant-upload.ant-upload-select {
      display: block;
    }
    .ant-upload{
      button{
        width: 100%;
        height: 80px;
        border: 1px dashed $opacity04;
        margin: 5px 0px 15px 0px;
      }
      p{
        font-size: 13px;
        color: $opacity;
        margin-bottom: 0px;
      }
    }
    .title-galery{
      display: flex;
      font-size: 12px;
      color: $opacity;
    }
    .card-image{
      display: flex;
      background: $light-purple;
      margin: 0px -20px 6px -20px;
      padding: 12px 20px 8px 20px;

      p{
        font-size: 12px;
        color: $purple00;
        margin-bottom: 0px;
        margin: -2px 0px -6px 0px;
      }
      label{
        font-size: 9px;
        color: $opacity02;
      }
    }
    .tab-head-project{
      display: flex;
      font-size: 12px;
      color: $purple00;
      line-height: 15px;
    }
    .tab-body-project{
      display: flex;
      font-size: 12px;

      .ant-timeline{
        width: 100%;
      }
      label{
        padding-left: 18px;
      }
      .btn-transparent{
        height: 20px;

        img{
          margin-top: -3px;
        }
      }
      .second{
        color: $opacity;

        .ant-input{
          border: none;
          padding: 5px 0px;
          font-size: 12px;
          background: transparent;
          height: 20px;
          width: 80%;
        }
        .ant-input:focus{
          border-bottom: 1.5px solid #28C499;
          border-radius: 0px;
        }
      }
      .third{
        color: $purple00;

        .ant-input{
          border: none;
          padding: 5px 0px;
          font-size: 12px;
          background: transparent;
          height: 20px;
          width: 100%;
         }
         .ant-input::placeholder {
           color: $purple;
           opacity: 1
         }
        .ant-input:focus{
          border-bottom: 1.5px solid #28C499;
          border-radius: 0px;
        }
      }
      .fourth{
        text-align: right;

        button{
          padding: 0px;
          height: 19px;
        }
      }
    }
    .ant-collapse{
      border: none;
      margin: 10px -20px;
      background-color: $white;
    }
    .ant-collapse-content{
      border-top: none;
      background: rgba(245, 247, 255, 0.4s);
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
      height: 40px;
      padding: 12px 20px;
      background: $light-purple;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
      float: left;
      width: 100%;
    }
    .ant-collapse > .ant-collapse-item {
      border-bottom: none;
      margin-bottom: 5px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 15px 20px;
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      border: 1px solid $opacity;
      padding: 2px;
      color: $opacity;
    }
    .ant-timeline-item {
      padding: 0px 0 10px;
      font-size: 12px;
      color: $opacity;

      .ant-input{
        border: none;
        padding: 5px 0px;
        font-size: 12px;
        background: transparent;
        height: 20px;
        width: 200px;
      }
      .ant-input:focus{
        border-bottom: 1.5px solid $green;
        border-radius: 0px;
      }
    }
    .ant-timeline-item-content {
      top: -4px;
    }
    .ant-timeline-item-last > .ant-timeline-item-content {
      min-height: 16px;
    }
    .ant-timeline-item-last{
      padding: 0px;
    }
    .ant-timeline-item-head-orange{
      color: $orange !important;
      border-color: $orange !important;
      background: $orange !important;
    }
    .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus{
      border: none;
      color: $green;
      padding: 0px;
      margin-bottom: 15px;
      box-shadow: none;
      font-size: 12px;

      .anticon{
        font-size: 18px;
      }
    }

    // STUDY
    .streams{
      font-size: 12px;
      color: $opacity;

      .amount{
        color: $purple;
      }
      .ant-timeline-item-head{
        border-color: $purple !important;
        background-color: $purple !important;
      }
    }

    // ACQUISITION AND SPECIAL
    .ant-table-thead > tr > th {
      color: $opacity;
      font-weight: 400;
      background: $light-purple;
      font-size: 12px;
      padding: 3px 16px;
      border-bottom: none;
    }
    .ant-pagination{
      display: none;
    }
    .ant-table-bordered .ant-table-tbody > tr > td{
      font-size: 12px;
      color: $purple;
      padding: 8px 16px;
    }
    .btn-location,.btn-location:hover{
      border: 1px solid $green;
      color: $green;
      height: 30px;
      // width: 115px;
      font-size: 12px;
      margin-top: 27px;
    }
  }
  .switch-option{
    font-size: 10px;
    color: $opacity;
    line-height: 24px;

    span{
      float: right;
    }
    .ant-switch-checked {
      background-color: $green;
    }
  }
  .footer-project{
    text-align: right;
    background: $white;
    padding: 15px 20px;
    border-top: solid 1px $opacity01;
    border-radius: 0px 0px 4px 0px;

    button{
      height: 44px;
      margin-left: 10px;
    }
  }
  #map3{
    height: 100% !important;
    border-radius: 4px 0px 0px 4px;
  }
  .map{
    margin: 0px !important;
    height: calc(100vh - 54px);

    .mapboxgl-ctrl-group {
      left: 20px;
      position: absolute;
      width: 25px;
      bottom: 30px;
    }
    .mapboxgl-ctrl-bottom-right {
      width: 100%;
    }
    .mapboxgl-ctrl-scale {
      left: 55px;
      position: absolute;
      bottom: 30px;
      width: auto !important;
      border: none;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
.menu-large{
  width: 200px !important;
}
.menu-medium{
  width: 100px !important;
}
.sponsor-select{
  .ant-select-selection{
    height: auto !important;
  }
  .ant-select-selection--multiple .ant-select-selection__placeholder {
    margin-left: 0px;
  }
  .ant-select-selection--multiple .ant-select-selection__rendered {
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 30px !important;
  }
  .ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
    height: 24px;
    margin: 1px 0px !important;
    line-height: 22px;
    margin-left: -2px;
  }
  .ant-select-selection--multiple .ant-select-selection__choice__content{
    font-size: 12px;
  }
 .ant-select-selection {
    padding: 6px 15px !important;
  }
}
// 1920x1080 DISPLAY
@media (min-width: 1900px) and (max-width: 2499px){
  // CAPITAL
  .projects{
    width: 1466px !important;

    .head-project{
      padding: 20px 20px 10px 20px;

      .input-sizer {
        font-size: 24px !important;
        &::after, input {
          max-width: 405px;
          height: 35px;
        }
      }
      p{
        font-size: 18px !important;
      }
      .tag-name{
        font-size: 16px !important;
      }
      .btn-transparent{
        height: 35px;

        img{
          height: 22px;
        }
      }
    }
    .body-project{
      height: calc(100vh - 275px);
      h5{
        font-size: 18px;
      }
      .sub-title {
        font-size: 13px !important;
      }
      textarea.ant-input {
        height: 125px;
        font-size: 18px;
      }
      .ant-select-selection {
        height: 58px;
        font-size: 18px;
      }
      .ant-select-selection--single .ant-select-selection__rendered {
        height: 54px;
      }
      .ant-select-selection__rendered {
       line-height: 54px;
      }
      .draw{
        height: 105px;
        padding: 27px 0px;
        img {
          height: 24px;
        }
        p{
          font-size: 18px;
        }
      }
      .tab-titles{
        font-size: 16px !important;
      }

      .tab-head-project{
        font-size: 16px !important;
      }
      .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        height: 54px;
        padding: 19px 20px;
      }
      .tab-body-project{
        font-size: 16px !important;

        .second{
          color: $opacity;

          .ant-input {
            font-size: 16px;
            padding: 8px 0px;
          }
        }
        .third{
          color: $purple00;

          .ant-input {
            font-size: 16px;
            padding: 8px 0px;
          }
        }
        .fourth{
          button {
            height: 25px;
            top:-5px;

            img{
              height: 16px;
            }
          }
        }
      }
        .ant-timeline-item{
          font-size: 16px !important;

            .ant-input {
              font-size: 16px;
              width: 300px;
              padding: 8px 0px;
            }
        }
        .ant-timeline-item-content {
          top: -7px;
        }
        .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus {
          font-size: 14px !important;
        }
        .cost-project, .sub-project {
          font-size: 16px !important;
        }
        .sub-project{
          .ant-input {
            font-size: 16px !important;
          }
          p{
            font-size: 16px;
          }
          .ant-select-selection {
            font-size: 16px;
            width: 65px;
          }
          .ant-timeline-item{
            padding-bottom: 10px !important;
          }
          .ant-timeline-item{
            label{
              padding-left: 35px;
            }
          }
        }
        .btn-green {
          width: 150px;
          font-size: 16px;
          height: 40px;
        }
        .ant-upload{
          button {
           height: 105px;
           box-shadow: none;

           img{
             height: 24px;
           }
         }
         p{
           font-size: 18px;
         }
       }
       .title-galery{
         font-size: 16px;
       }
       .card-image{
         img{
           height: 37px;
         }
         p{
           font-size: 16px;
         }
         label{
           font-size: 12px;
         }
         .btn-transparent{
           img{
             height: 20px;
           }
         }
       }
       .switch-option{
         font-size: 14px;
         line-height: 38px;
       }
       // STUDY
       .streams{
         font-size: 16px;
       }

       // ACQUISITION AND SPECIAL
       .ant-table-thead > tr > th {
         font-size: 16px;
         padding: 4px 16px;
       }
       .ant-table-bordered .ant-table-tbody > tr > td{
         font-size: 16px;
         padding: 12px 16px;
       }
       .btn-location,.btn-location:hover{
         height: 40px;
         width: 150px;
         font-size: 16px;
         margin-top: 40px;
       }
    }
    .footer-project{
      button{
        height: 58px;
        font-size: 18px;
        padding: 0px 30px;
      }
    }
  }
}

// 2560x1440 DISPLAY
@media (min-width: 2500px) and (max-width: 2999px){
// CAPITAL
  .projects{
    width: 1955px !important;

    .head-project{
      padding: 20px 20px 10px 20px;

      .input-sizer {
        font-size: 32px !important;

        &::after, input {
          max-width: 540px;
          height: 45px;
        }
      }
      button img{
        height: 30px;
        margin-top: 8px;
      }
      p{
        font-size: 24px !important;
      }
      .tag-name{
        font-size: 21px !important;
      }
      .hh-img {
       margin-top: 8px;
       height: 30px;
     }
     .btn-transparent{
       height: 45px;

       img{
         height: 28px;
       }
     }
    }
    .body-project{
      height: calc(100vh - 300px);

      h5{
        font-size: 24px;

        img{
          height: 24px;
        }
      }
      .sub-title {
        font-size: 18px !important;

        img{
          height: 20px;
        }
      }
      textarea.ant-input {
        height: 165px;
        font-size: 24px;
      }
      .ant-select-selection {
        height: 74px;
        font-size: 24px;
      }
      .ant-select-selection--single .ant-select-selection__rendered {
        height: 74px;
      }
      .ant-select-selection__rendered {
       line-height: 78px;
      }
      .draw{
        height: 140px;
        padding: 36px 0px;
        margin-bottom: 25px;
        border: 2px dashed $opacity04;

        img {
          height: 32px;
        }
        p{
          font-size: 24px;
        }
      }
      .tab-titles{
        font-size: 21px !important;
      }

      .tab-head-project{
        font-size: 21px !important;
      }
      .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        height: 70px;
        padding: 25px 20px;
      }
      .tab-body-project{
        font-size: 21px !important;

        .second{
          .ant-input {
            font-size: 21px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .third{
          .ant-input {
            font-size: 21px;
            padding: 8px 0px;
            width: 80%;
            height: 38px;
          }
        }
        .fourth{
          width: inherit;

          button {
            height: 25px;
            top:-8px;

            img{
              height: 20px;
            }
          }
        }
      }
        .ant-timeline-item{
          font-size: 21px !important;

          img{
            height: 20px;
          }
          .ant-input {
            font-size: 21px;
            width: 300px;
            padding: 8px 0px;
            height: 38px;
          }
        }
        .ant-timeline-item-content {
          top: -9px;
        }
        .btn-transparent-green, .btn-transparent-green:hover, .btn-transparent-green:focus {
          font-size: 21px !important;
        }
        .btn-transparent-green .anticon, .btn-transparent-green:hover .anticon, .btn-transparent-green:focus .anticon {
          font-size: 21px;
        }
        .cost-project, .sub-project {
          font-size: 21px !important;
        }
        .sub-project{
          .ant-input {
            font-size: 21px !important;
          }
          p{
            font-size: 21px;
          }
          .ant-select-selection {
            font-size: 21px;
            width: 80px;
          }
          .ant-timeline-item{
            padding-bottom: 10px !important;
          }
          .ant-timeline-item{
            label{
              padding-left: 40px;
            }
          }
        }
        .btn-green {
          width: 200px;
          font-size: 21px;
          height: 54px;
        }
        .ant-upload{
          button {
           height: 140px;
           box-shadow: none;
           border: 2px dashed $opacity04;

           img{
             height: 32px;
           }
         }
         p{
           font-size: 24px;
         }
       }
       .title-galery{
         font-size: 21px;
         margin-bottom: 8px;
       }
       .card-image{
         img{
           height: 50px;
         }
         p{
           font-size: 21px;
         }
         label{
           font-size: 16px;
         }
         .btn-transparent{
           height: 50px;

           img{
             height: 26px;
           }
         }
         .ant-checkbox-inner {
           width: 28px;
           height: 28px;
         }
         .ant-checkbox-inner::after {
            top: 50%;
            left: 27%;
            width: 8.714286px;
            height: 13.142857px;
          }
       }
       .switch-option{
         font-size: 18px;
         line-height: 38px;
       }
       // STUDY
       .streams{
         font-size: 21px;
       }

       // ACQUISITION AND SPECIAL
       .ant-table-thead > tr > th {
         font-size: 21px;
         padding: 6px 16px;
       }
       .ant-table-bordered .ant-table-tbody > tr > td{
         font-size: 21px;
         padding: 16px 16px;
       }
       .btn-location,.btn-location:hover{
         height: 54px;
         width: 205px;
         font-size: 21px;
         margin-top: 52px;
       }
    }
    .footer-project{
      button{
        height: 78px;
        font-size: 24px;
        padding: 0px 50px;
      }
    }
  }
  .ant-select-dropdown-menu-item{
    font-size: 18px !important;
  }
}
