@use  '../Theme/styles';
@import "../Theme/styles.scss";

// SIDEBAR
.ant-layout-sider{
  background: $dark !important;

  img{
    margin-right: 10px !important;
  }
  li{
    margin-bottom: 15px !important;
    padding: 0 20px !important;
  }
  .ant-menu-submenu-title{
     padding:0px 20px !important;
   }
}
.dropdown-special-bottomLeft {
  top: 42px !important;
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0);
}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-vertical .ant-menu-item,
.ant-menu-dark.ant-menu-vertical-left .ant-menu-item,
.ant-menu-dark.ant-menu-vertical-right .ant-menu-item {
  padding: 0px 20px !important;
}
.img-a{
  display: none !important;
}
.img-h{
  height: 22px;
  //  opacity: 0.5;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
  color: $green !important;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: $green !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-a{
  display: inline-block !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-h{
  display: none;
}
.ant-layout-sider-trigger{
  background: $dark !important;
}
.ant-layout-sider-trigger .anticon-left{
  float: right;
  -webkit-transition: background 0.3s, width 0.2s;
  margin: 18px;
}
.ant-layout-sider-trigger .anticon-right{
  -webkit-transition: background 0.3s, width 0.2s;
}
.ant-menu-inline-collapsed{
  width: auto !important;
}
.menu-desktop{
  display: none;
}
.ant-menu-inline-collapsed-tooltip a {
  color: $black !important;
}
.ant-tooltip-inner {
  padding-top: 5px !important;
  background-color: white !important;
  border-radius: 5px;
  color: $dark !important;
  border: 0;
}

.ant-tooltip-arrow::before {
  border: 0;
  background-color: white !important;
}
.ant-tooltip-arrow-content{
  --antd-arrow-background-color: white;
  border: 0;
  margin-right: -0,4px;
}
.ant-tooltip-placement-right, .ant-tooltip-placement-rightBottom, .ant-tooltip-placement-rightTop {
  padding-left: 8px;
}
// RESPONSIVE MOBILE
@media (max-width: 575.98px) {
  .ant-layout-sider{
    flex: auto !important;
    max-width: inherit !important;
    min-width: min-content !important;
    width: 100% !important;
    position: fixed !important;
    bottom: 0px !important;
    z-index: 1000 !important;
    height: 58px !important;
  }
  .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left,
  .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ant-layout-sider-trigger {
    display: none;
  }
  .menu-mobile{
    display: none !important;
  }
  .menu-desktop{
    display: inline !important;
  }
  .ant-layout-sider img {
    margin-right: 0px !important;
    width: 22px;
  }
  .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 58px;
    line-height: 68px;
    margin-top: 0px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item,
  .ant-menu-dark.ant-menu-vertical .ant-menu-item,
  .ant-menu-dark.ant-menu-vertical-left .ant-menu-item,
  .ant-menu-dark.ant-menu-vertical-right .ant-menu-item {
    // width: 25%;
    text-align: center;
    display: flex !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-h , .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-a{
    display: none;
  }
  .ant-menu-dark .ant-menu-item-selected .anticon {
      color: $green;
  }
  .ant-layout-sider-has-trigger {
    padding-bottom: 0px;
  }
  .ant-menu-inline-collapsed > .ant-menu-item .anticon,
  .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon,
  .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon,
  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
    font-size: 24px;
  }
  .ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover,
  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a {
    line-height: 64px !important;
  }
  .ant-layout-sider-children button{
    background: transparent;
    border: none;
    padding: 0px;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.65);
  }
  .ant-layout-sider-children button:hover,.ant-layout-sider-children button:active,
  .ant-layout-sider-children button.active, .ant-layout-sider-children button:focus{
    color: $green;
    background: transparent;
    border: none;
    padding: 0px;
    box-shadow: none;
  }
}
