@use  '../Theme/styles';
@import "../Theme/styles.scss";

.user-management{
  padding: 20px;
  height: 100%;
  .ant-tabs-tabpane-active {
    // height: calc(100vh - 183px);
    height: auto !important;
    overflow-x: auto;
  }
}
.user-management-body{
  .select-type{
    color: rgb(17 9 60);
    font-size: 20px;
    .select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: #ffffff !important;
    }
    .select:not(.ant-select-customize-input) .ant-select-selector {
      position: relative;
      background-color: #fff;
      border: 1px solid #ffffff !important;
    }
  }
  .filter-user-management{
    background-color: #f9f8fa;
    padding: 5px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }
  .table-user-management::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .table-user-management::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .table-user-management::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .table-user-management{
    height: calc(100vh - 199px);
    overflow-y: auto !important;
    margin-top: 5px;
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
    .ico-arrow{
      color: #251863;
      margin-left: 6px;
    }
    .ant-table-thead>tr>th {
      color: #251863 !important;
      background: #ffffff;
    }
    .ant-pagination-item-active a {
      color: #251863;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 36px !important;
    }
    .ant-pagination-item-active {
      border-color: #251863;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
      background-color: rgb(0 0 0 / 0%);
    }
    .user-tab{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .ant-table-tbody>tr>td{
      border-bottom: transparent !important;
    }
    .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
      padding: 8px 16px;
    }
    .ant-table-tbody>tr>td {
      color: #413b64;
    }
    tr.ant-table-expanded-row:hover>td, tr.ant-table-expanded-row>td {
      background: #ffffff;
    }
    .span-admin {
      color: #251863;
      background-color: #eae8f0;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-manager{
      color: #251863;
      background-color: #eaf4fa;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-gov{
      color: #251863;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-Active{
      color: #40cba4;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #40cba4;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .span-Inactive{
      color: #ff0000;
      background-color: #ffe6e6;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff0000;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .profile-user{
      background-color: white;
      border: 1px solid #eae8f0;
      padding: 30px 40px;
      border-radius: 3px;
      color: #11093C;
      h1, h2, h3, h4, h5, h6 {
        color: rgb(29 22 70);
      }
    }
  }
  .table-activity-management::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .table-activity-management::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .table-activity-management::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .table-activity-management{
    height: calc(100vh - 199px);
    overflow-y: auto !important;
    margin-top: 5px;
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
    .ico-arrow{
      color: #251863;
      margin-left: 6px;
    }
    .ant-table-thead>tr>th {
      color: #251863 !important;
      background: #ffffff;
    }
    .ant-pagination-item-active a {
      color: #251863;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 36px !important;
    }
    .ant-pagination-item-active {
      border-color: #251863;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
      background-color: rgb(0 0 0 / 0%);
    }
    .user-tab{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .ant-table-tbody>tr>td{
      border-bottom: transparent !important;
    }
    .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
      padding: 8px 16px;
    }
    .ant-table-tbody>tr>td {
      color: #413b64;
    }
    tr.ant-table-expanded-row:hover>td, tr.ant-table-expanded-row>td {
      background: #ffffff;
    }
    .span-admin {
      color: #251863;
      background-color: #eae8f0;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-manager{
      color: #251863;
      background-color: #eaf4fa;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-gov{
      color: #251863;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-Active{
      color: #40cba4;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #40cba4;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .span-Inactive{
      color: #ff0000;
      background-color: #ffe6e6;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff0000;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .profile-user{
      background-color: white;
      border: 1px solid #eae8f0;
      padding: 30px 40px;
      border-radius: 3px;
      color: #11093C;
      h1, h2, h3, h4, h5, h6 {
        color: rgb(29 22 70);
      }
    }
  }
}
.profile-myprofile{
  background: #FFFFFF;
  border: 1px solid #E3E5E5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #11093C;
  text-align: center;
  height:  calc(100vh - 59px);
  overflow-y: hidden;
  h1{
    font-size: 16px;
    margin: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: rgb(29 22 70);
  }
  .color-sub{
    color: #11093C;
    opacity: 0.6;
  }
  .profile{
    height:  calc(100vh - 440px);
    overflow-y: auto;
  }
  .profile::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .profile::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .profile::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 25px !important;
    min-height: auto !important;
  }
  .foot-profile{
    position: absolute;
    /* z-index: 198; */
    bottom: 0px;
    width: 93%;
    background: white;
    padding: 10px 0px;
  }
}
.profile-myprofile::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.profile-myprofile::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.profile-myprofile::-webkit-scrollbar-thumb {
  background: $purple00;
  border-radius: 10px;
}
.card-style {
  overflow: hidden;
  color: rgb(29 22 70);
  h1, h2, h3, h4, h5, h6 {
    color: rgb(29 22 70);
  }
  .card-group{
    margin-top: 20px;
    margin-left: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .color-sub{
    color: #11093C;
    opacity: 0.6;
  }
  .avatar-group{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .tag-card{
    position: absolute;
    top: 0px;
    right: 3%;
    margin-bottom: 5px;
  }
  .card-dropdown{
    .ant-dropdown-menu-item-active {
      background: rgba(37, 24, 99, 0.03) !important;
      color: #2e2753 !important;
      font-weight: 500 !important;
    }
  }
}
.header-myprofile{
  background: #29c499;
  padding: 16px 20px;
  h2{
    margin: 0px;
    color: white;
  }
}