@use  '../Theme/styles';
@import "../Theme/styles.scss";

.user-management{
  padding: 20px;
  height: 100%;
  .ant-tabs-tabpane-active {
    // height: calc(100vh - 183px);
    height: auto !important;
    overflow-x: auto;
  }
}
.user-management-body{
  .select-type{
    color: rgb(17 9 60);
    font-size: 20px;
    .select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: #ffffff !important;
    }
    .select:not(.ant-select-customize-input) .ant-select-selector {
      position: relative;
      background-color: #fff;
      border: 1px solid #ffffff !important;
    }
  }
  .filter-user-management{
    background-color: #f9f8fa;
    padding: 5px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }
  .table-user-management::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .table-user-management::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .table-user-management::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .table-user-management{
    height: calc(100vh - 199px);
    overflow-y: auto !important;
    margin-top: 5px;
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
    .ico-arrow{
      color: #251863;
      margin-left: 6px;
    }
    .ant-table-thead>tr>th {
      color: #251863 !important;
      background: #ffffff;
    }
    .ant-pagination-item-active a {
      color: #251863;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 36px !important;
    }
    .ant-pagination-item-active {
      border-color: #251863;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
      background-color: rgb(0 0 0 / 0%);
    }
    .user-tab{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .ant-table-tbody>tr>td{
      border-bottom: transparent !important;
    }
    .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
      padding: 8px 16px;
    }
    .ant-table-tbody>tr>td {
      color: #413b64;
    }
    tr.ant-table-expanded-row:hover>td, tr.ant-table-expanded-row>td {
      background: #ffffff;
    }
    .span-admin {
      color: #251863;
      background-color: #eae8f0;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-manager{
      color: #251863;
      background-color: #eaf4fa;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-gov{
      color: #251863;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-Active{
      color: #40cba4;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #40cba4;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .span-Inactive{
      color: #ff0000;
      background-color: #ffe6e6;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff0000;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .profile-user{
      background-color: white;
      border: 1px solid #eae8f0;
      padding: 30px 40px;
      border-radius: 3px;
      color: #11093C;
      h1, h2, h3, h4, h5, h6 {
        color: rgb(29 22 70);
      }
    }
  }
  .table-activity-management::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .table-activity-management::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .table-activity-management::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .table-activity-management{
    height: calc(100vh - 199px);
    overflow-y: auto !important;
    margin-top: 5px;
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
    .ico-arrow{
      color: #251863;
      margin-left: 6px;
    }
    .ant-table-thead>tr>th {
      color: #251863 !important;
      background: #ffffff;
    }
    .ant-pagination-item-active a {
      color: #251863;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      min-height: 36px !important;
    }
    .ant-pagination-item-active {
      border-color: #251863;
    }
    .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
      background-color: rgb(0 0 0 / 0%);
    }
    .user-tab{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .ant-table-tbody>tr>td{
      border-bottom: transparent !important;
    }
    .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
      padding: 8px 16px;
    }
    .ant-table-tbody>tr>td {
      color: #413b64;
    }
    tr.ant-table-expanded-row:hover>td, tr.ant-table-expanded-row>td {
      background: #ffffff;
    }
    .span-admin {
      color: #251863;
      background-color: #eae8f0;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-manager{
      color: #251863;
      background-color: #eaf4fa;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-gov{
      color: #251863;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
    }
    .span-Active{
      color: #40cba4;
      background-color: #eafaf5;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #40cba4;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .span-Inactive{
      color: #ff0000;
      background-color: #ffe6e6;
      padding: 3px 8px;
      border-radius: 5px;
      display: inline-flex;
      .circulo {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff0000;
        margin-top: 7px;
        margin-right: 6px;
      }
    }
    .profile-user{
      background-color: white;
      border: 1px solid #eae8f0;
      padding: 30px 40px;
      border-radius: 3px;
      color: #11093C;
      h1, h2, h3, h4, h5, h6 {
        color: rgb(29 22 70);
      }
    }
  }
  .ant-checkbox-wrapper{
    width: 100%;
  }
}
.profile-myprofile{
  background: #FFFFFF;
  border: 1px solid #E3E5E5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #11093C;
  text-align: center;
  height:  calc(100vh - 59px);
  overflow-y: hidden;
  h1{
    font-size: 16px;
    margin: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: rgb(29 22 70);
  }
  .color-sub{
    color: #11093C;
    opacity: 0.6;
  }
  .profile{
    height:  calc(100vh - 440px);
    overflow-y: auto;
    .input-profile{
      height: 32px !important;
    }
  }
  .profile::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .profile::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .profile::-webkit-scrollbar-thumb {
    background: $purple00;
    border-radius: 10px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 25px !important;
    min-height: auto !important;
  }
  .foot-profile{
    position: absolute;
    /* z-index: 198; */
    bottom: 0px;
    width: 93%;
    background: white;
    padding: 10px 0px;
  }
}
.profile-myprofile::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.profile-myprofile::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.profile-myprofile::-webkit-scrollbar-thumb {
  background: $purple00;
  border-radius: 10px;
}
.card-style {
  overflow: hidden;
  color: rgb(29 22 70);
  h1, h2, h3, h4, h5, h6 {
    color: rgb(29 22 70);
  }
  .card-group{
    margin-top: 20px;
    margin-left: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .color-sub{
    color: #11093C;
    opacity: 0.6;
  }
  .avatar-group{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .tag-card{
    position: absolute;
    top: 0px;
    right: 3%;
    margin-bottom: 5px;
  }
  .card-dropdown{
    .ant-dropdown-menu-item-active {
      background: rgba(37, 24, 99, 0.03) !important;
      color: #2e2753 !important;
      font-weight: 500 !important;
    }
  }
}
.searches-myprofile{
  background: white;
  padding: 5px 15px;
  h1, h2, h3, h4, h5, h6, p {
    color: rgb(29 22 70);
  }
  h2{
    margin-left: 9px !important;
  }
  p{
    font-size: 14px;
  }
  h1{
    font-size: 16px;
    color: #000000;
  }
  .avatar-group{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .ant-switch-checked {
    background: #29c499;
  }
  .card-map{
    padding: 0px 8px 0px 0px;
    .infinite-scroll-component__outerdiv {
      width: 100%;
    }
    .card-title-s{
      height: 40px;
    }
    .ant-card-bordered {
      border: none;
    }
    .border-line-green{
      border: 4px solid transparent;
      border-radius: 10px 10px 6px 6px;
      padding-bottom: 0px !important;
      margin-bottom: 8px !important;
    }
    // .border-line-green:hover{
    //   border: 4px solid $green;
    //   border-radius: 10px 10px 6px 6px;
    //   padding-bottom: 0px !important;
    //   margin-bottom: 8px !important;
    // }
    .ant-card{
      width: 100% !important;
      background: $white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      border-radius: 8px 8px 6px 6px;
      padding: 0px;
      margin: 8px;
      border: 2px solid transparent;
    }
    .ant-card:hover{
      border: 2px solid $green;
    }
    .ant-card-hoverable:hover,  .ant-card-hoverable:active, .ant-card-hoverable:focus-visible, .ant-card-hoverable:focus, .ant-card-hoverable:visited{
      // box-shadow: 0 2px 10px $green !important;
      transition: 0s ease !important;
      border: 2px solid $green !important;
    }
    .ant-card-body {
      padding: 10px;
    }
    h4{
      font-size: 16px;
      color: $purple;
      margin-bottom: 0px;
      line-height: 18px;
      margin-bottom: 6px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    h6{
      font-size: 14px;
      color: $opacity;
      font-weight: 400;
      // margin-bottom: 2px;
    }
    h5{
      font-size: 16px;
      color: $purple;
    }
    h5 span{
      color: $opacity;
      font-size: 12px;
      font-weight: 400;
      line-height: 30px;
    }
    hr{
      opacity: 0.5;
    }
    p{
      margin-bottom: 0px;
    }
    .btn-card, .btn-card:hover, .btn-card:focus, .btn-card:active, .btn-card.active{
      border: none;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: none;
      position: absolute;
      right: 5px;
      top: 5px;
      color: white;
      font-size: 20px;
      height: 20px;
      line-height: 10px;
      opacity: 0.8;
      z-index: 9;
      width: 20px;
      padding: 0px 0px;
    }
    .btn-card label{
      position: relative;
      top: -5px;
    }
  }
}
.header-myprofile{
  background: #29c499;
  padding: 16px 20px;
  h2{
    margin: 0px;
    color: white;
  }
}
@media (min-width: 1900px) and (max-width: 2549px){
  .profile-myprofile{
    img{
      height: 125px !important;
      width: 125px !important;
    }
    h1{
      font-size: 18px !important;
    }
    p{
      font-size: 17px !important;
    }
    h2{
      font-size: 26px !important;
    }
    .profile{
      padding: 20px !important;
      height: calc(100vh - 504px) !important;
      .input-profile{
        height: 34px !important;
        font-size: 17px !important;
      }
    }
    .foot-profile{
      padding: 20px 0px !important
    }
    .btn-purple{
      width: 100%;
      font-size: 17px !important;
      padding: 10px !important;
      height: 45px !important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      height: 34px !important;
      font-size: 17px !important;
    }
  }
  .searches-myprofile{
    p {
      font-size: 16px !important;
    }
    h1{
      font-size: 18px !important;
    }
    .card-map{
      h4{
        font-size: 18px !important;
      }
      h6{
        font-size: 16px !important;
      }
      h5{
        font-size: 18px !important;
      }
      span{
        font-size: 16px !important;
      }
    }
  }
}
@media (min-width: 2555px) and (max-width: 3799px){
  .profile-myprofile{
    img{
      height: 170px !important;
      width: 170px !important;
    }
    h1{
      font-size: 26px !important;
    }
    p{
      font-size: 21px !important;
    }
    h2{
      font-size: 28px !important;
    }
    .profile{
      height: calc(100vh - 574px) !important;
      padding: 25px !important;
      .input-profile{
        height: 40px !important;
        font-size: 21px !important;
      }
    }
    .foot-profile{
      padding: 20px 0px !important
    }
    .btn-purple{
      width: 100%;
      font-size: 21px !important;
      padding: 10px !important;
      height: 50px !important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      height: 40px !important;
    }
  }
  .searches-myprofile{
    padding: 5px 20px !important;
    p {
      font-size: 21px !important;
    }
    h1{
      font-size: 24px !important;
    }
    .card-map{
      h4{
        font-size: 24px !important;
        line-height: 25px !important;
      }
      h6{
        font-size: 21px !important;
        margin-top: 14px;
        margin-bottom: 13px;
      }
      h5{
        font-size: 24px !important;
      }
      span{
        font-size: 21px !important;
      }
    }
  }
}
@media (min-width: 3800px) and (max-width: 5999px){
  .profile-myprofile{
    img{
      height: 200px !important;
      width: 200px !important;
    }
    h1{
      font-size: 31px !important;
    }
    p{
      font-size: 27px !important;
    }
    h2{
      font-size: 33px !important;
    }
    .profile{
      height: calc(100vh - 574px) !important;
      padding: 25px !important;
      .input-profile{
        height: 50px !important;
        border-radius: 20px !important;
        padding: 10px 15px !important;
        font-size: 27px !important;
      }
    }
    .foot-profile{
      padding: 40px 0px !important;
      bottom: 57px;
    }
    .btn-purple{
      width: 100%;
      font-size: 27px !important;
      padding: 10px !important;
      height: 64px !important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      height: 50px !important;
      padding: 10px 15px !important;
    }
  }
  .searches-myprofile{
    padding: 5px 20px !important;
    p {
      font-size: 27px !important;
    }
    h1{
      font-size: 30px !important;
    }
    .card-map{
      h4{
        font-size: 30px !important;
        line-height: 32px !important;
      }
      h6{
        font-size: 27px !important;
        margin-top: 23px;
        margin-bottom: 13px;
      }
      h5{
        font-size: 30px !important;
      }
      span{
        font-size: 27px !important;
      }
    }
  }
  .user-management-body{
    .ant-checkbox{
      margin-right: 20px !important;
    }
    .ant-checkbox-inner {
      width: 26px;
      height: 26px;
      // margin-right: 20px;
    }
    .ant-checkbox-inner:after {
      width: 9.714286px;
      height: 14.142857px;
    }
  }
}