@use  '../Theme/styles';
@import "../Theme/styles.scss";
.ant-notification-notice {
  border-bottom: 5px solid #29C499;
}
.ant-notification-notice-message {
  margin-bottom: 0px;
}
.work{
  overflow-y: hidden;
  .mapboxgl-map{
    height: 100% !important;
  }
  .map{
    .mapboxgl-ctrl-bottom-right{
      width: 100%;
    }
    .mapboxgl-ctrl-scale {
      left: 55px;
      position: absolute;
      bottom: 30px;
      width: auto !important;
      border: none;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.8);
    }
    .mapboxgl-ctrl-group {
      left: 20px;
      position: absolute;
      width: 25px;
      bottom: 30px;
    }
  }
  .btn-coll {
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 10px 0px 0px 10px !important;
  }
 //  .cost-wr {
 //    padding-top: 15px;
 //    position: absolute;
 //    bottom: 0px;
 //    background: $white;
 //    width: auto;
 // }
 .ant-timeline-item-tail {
    position: absolute;
    top: 6px;
    left: 4px;
    height: calc(100% - 4px);
    border-left: 1.5px solid #e8e8e8;
  }
}
.ant-timeline-item-last {
  .ant-timeline-item-tail {
    position: absolute;
    top: 6px;
    left: 4px;
    height: calc(100% - 4px);
    border-left: 1.5px solid #ff0000;
    display: none;
  }
}
.work-head, .work-body{
  background: $white;
}
.approved .mdi-circle::before {
  color: $green;
}
.not-approved .mdi-circle::before {
  color: $yellow;
}
.work-head{
  padding: 15px 20px 0px 15px;

  h2{
    color: $purple00;
    font-size: 21px;
    i{
      font-size: 16px;
      color: $green;
    }
  }
  .ant-btn-group{
    margin-left: 5px !important;
  }
  .btn-opacity{
    height: 38px;
    padding: 0px 8px;
  }
  .icon-bt{
    height: 4px;
    width: 24px;
    background: $purple;
    padding: 9px;
  }
  .btn-opacity:hover > .icon-bt{
    opacity: 1;
    height: 4px;
    width: 24px;
    background: $green !important;
    padding: 9px;
  }
  .ant-select-selection{
    border: none;
  }
  .ant-select-1{
    color: $opacity;
    width: 100% !important;
    min-width: 100px;
    max-width: 390px;
    width: 100%;
  }
  .ant-select-2{
    color: $opacity;
    min-width: 110px !important;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: $opacity;
    position: relative;
    background-color: $white;
    border: 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    box-shadow: none !important;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    margin-right: 8px !important;
  }
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled){
    background-color: #e6f7ff !important;
    font-weight: bold !important;
  }
  .ant-input{
    font-size: 21px;
    border: none;
    border-bottom: 1px solid $opacity01;
    border-radius: 0px;
    padding: 0px 11px;
  }
  .ant-input::placeholder{
    color: $purple00;
  }
  .ant-input:hover, .ant-input:focus {
    border-color: $purple;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 25px;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 0px;
    width: 25px;
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    right: 0px;
  }
}

.work-body{
  .btn-filter-d{
    position: absolute;
    top: 60px;
    right: 25px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
    z-index: 998;
  }
  .icon-bt{
    height: 4px;
    width: 24px;
    background: $purple;
    padding: 9px;
  }
  .btn-filter-d:hover > .icon-bt{
    opacity: 1;
    height: 4px;
    width: 24px;
    background: $green !important;
    padding: 9px;
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 20px 0 20px;
    font-size: 12px;
  }
  .col-bg{
    background: $light-purple;
    padding:7px 15px;
    margin-bottom: 5px;
    display: flex;
    height: 40px;
    width: 71vw;

    div{
      width: 160px;
      min-width: 160px;
      padding: 0px 10px;
      margin-right: 10px;
      line-height: 25px;
    }
  }
  .ant-tabs-tabpane-active{
    height: calc(100vh - 183px);
    overflow-x: auto;
  }
}
.work-table{
  display: flex;
  // overflow-x: auto;
  margin: 0px 0px 15px 15px;

  .col-wr{
    min-width: 160px;
    width: 160px;
    height: calc(100vh - 290px);
    // min-height: 515px;
    border-radius: 4px;
    background-color: $light-purple;
    margin-right: 10px;
    padding: 20px 6px 20px 6px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
  }
  .btn-transparent{
    padding: 0px;
    box-shadow: none;
    font-size: 12px;
    position: absolute;
    top: 0px;

    img{
      margin-right: 5px;
      height: 15px;
    }
  }
  .card-wr{
    width: 148px;
    height: 80px;
    box-shadow: 0 3px 5px 0 rgba(6, 36, 45, 0.06);
    background-color: $white;
    position: relative;
    padding: 5px 5px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 12px;
    color: $purple00;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    // position: fixed;
    // margin-bottom: 20px;
    // background: white;
    // z-index: 998;
  }
  h4{
    font-size: 14px;
    color: $purple00;
    width: 96%;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 93%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h6{
    font-size: 11px;
    color: $purple;
    font-weight: normal;
  }
  .dot-position{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
  .menu-wr{
    // position: absolute;
    // top: 5px;
    // right: 5px;
    float: right;
    margin-right: 2px;
    height: 18px;
    width: 4px;
  }
  .purple{
    background: $light-purple;
    font-size: 10px;
    color: $purple;
    padding: 2px 3px;
    border-radius: 20px;
    position: absolute;
    bottom: 3px;
    left: 5px;
  }
  .yellow{
    background: rgba(255, 221, 0, 0.3);
    font-size: 10px;
    color: #FF8938;
    padding: 2px 3px;
    border-radius: 20px;
    position: absolute;
    bottom: 3px;
    right: 5px;
  }
}
.cost-wr{
  // position: absolute;
  // border-top: 8px solid #ffffff;
  // bottom: 20px;
  margin-top: 15px;
  // overflow-x: auto;
  color: $red;
  font-size: 12px;

  h5{
    font-size: 12px;
    color: $purple;
    margin-bottom: 0px;
    font-weight: 400;
    padding-left: 15px;
  }
  .ant-input, .ant-input-number{
    height: 25px;
    padding: 0px !important;
    color: $purple;
    font-size: 12px;
    line-height: 1.5;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $opacity01;
    background: transparent;
    width: 100% !important;
    min-width: 100% !important;
  }
  .ant-input-number-input, .ant-input-number-input-wrap{
    padding: 0px;
  }
  .ant-input-number-input-wrap{
    width: 100% !important;
    min-width: 100% !important;
    padding: 0px;
  }
  .ant-input-number-handler-wrap{
    display: none;
  }
  .ant-input-number-handler-down{
    border: none !important;
  }
  .ant-input-number-handler-up:hover, .ant-input-number-handler-wrap:hover .ant-input-number-handler {
    height: 50% !important;
  }
  .ant-input-number-handler-down:hover  {
    height: 50% !important;
  }
  .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner
  .ant-input-number-handler-down-inner:hover, .ant-input-number-handler-up-inner:hover,
  .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
  .ant-input-number-handler:hover .ant-input-number-handler-down-inner{
    color: $purple00;
  }
  .ant-input-number{
    top: -3px;
  }
  .ant-input:hover, .ant-input:focus, .ant-input-number:hover, .ant-input-number:focus {
    box-shadow: none;
    border-color: $green;
  }
  .ant-input::placeholder{
    color: $purple;
  }
  .tab-head-project{
    display: flex;
    font-size: 12px;
    color: $purple00;
    line-height: 15px;

    div{
      width: 160px;
      min-width: 160px;
      padding: 0px 8px;
      margin-right: 10px;
    }
    label{
      padding-left: 5px;
    }
  }
  .tab-body-line{
    display: flex;
    font-size: 12px;
    color: $purple00;
    line-height: 15px;
    margin-left: -18px;

    div{
      width: 160px;
      min-width: 160px;
      padding: 0px 13px;
      margin-right: 10px;
    }
  }
  .tab-body-project{
    display: flex;
    font-size: 12px;

    .ant-timeline{
      width: 100%;
    }
    label{
      padding-left: 15px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
  .ant-collapse{
    border: none;
    background-color: $white;
    width: 71vw;
  }
  .ant-collapse-content{
    border-top: none;
    background: rgba(245, 247, 255, 0.4);
  }
  .ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header{
    height: 40px;
    padding: 12px 15px;
    background: $light-purple;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: left;
    align-self: center;
    width: 100%;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    box-shadow: none !important;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
    margin-bottom: 5px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 15px 15px;
    // height: 40px;
    background-color: #f9faff;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .ant-collapse-header .ant-collapse-header-collapsible-only {
    background-color: #F5F7FF;
  }
  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    border: 1px solid $opacity;
    padding: 2px;
    color: $opacity;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: block;
  }
  .ant-timeline-item {
    padding: 0px 0 10px;
    font-size: 12px;
    color: $opacity;
  }
  .ant-timeline-item-content {
    top: -4px;
  }
  .ant-timeline-item-last > .ant-timeline-item-content {
    min-height: 16px;
  }
  .ant-timeline-item-last{
    padding: 0px;
  }
  .streams{
    font-size: 12px;
    color: $opacity;
    .ant-timeline-item-head{
      border-color: $purple !important;
      background-color: $purple !important;
      width: 8px !important;
      height: 8px !important;
      border-radius: 50%;
    }
    .ant-timeline-item-head-green {
      color: $green !important;
      border-color: $green !important;
      background: $green !important;
    }
    .ant-timeline-item-head-orange{
      color: $orange !important;
      border-color: $orange !important;
      background: $orange !important;
    }
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: none;
  }
}
.work-footer{
  text-align: right;
  background: $white;
  padding: 15px 20px;
  border-top: solid 1px $opacity01;

  button{
    height: 44px;
    margin-left: 10px;
  }
}
.btn-scroll, .btn-scroll:hover, .btn-scroll:focus{
  border: none !important;
  background-color: $opacity01 !important;
  box-shadow: none !important;
  position: absolute !important;
  top: calc(50% - 27px);
  right: 0px;
  padding: 0px !important;
  width: 25px;
  height: 40px !important;
  border-radius: 0px !important;
  z-index: 998;
  color: $purple !important;
}
.work-popover{
  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
  }
  .ant-popover-inner-content {
    padding: 0px 16px;
  }
  .ant-popover-content{
    width: 135px;
  }
}
.popover-dollars{
  left: '1573px' !important;
}
// MODAL EDIT
.work-modal-edit{
  .ant-modal-header {
    padding: 15px 20px 0px 20px;
    border-bottom: none;
  }
  .ant-modal-title{
    color: $purple00;
  }
  p{
    font-size: 12px;
    margin-bottom: 0px;
    color: $opacity;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    right: 12px;
    left: inherit;
  }
  .ant-input, .ant-input-number, .ant-input-number-input{
    height: 44px;
    color: $purple00;
  }
  .ant-input-affix-wrapper, .ant-input-number{
    margin-bottom: 15px;
    width: 100%;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 11px;
    padding-right: 35px;
  }
  .ant-input-number:focus, .ant-input-number:hover, .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color: $purple;
    box-shadow: none !important;
  }
  .button-close, .button-close:hover, .button-close:focus{
    position: absolute;
    right: 35px;
    padding: 0px;
    height: 44px;
    border: none;
    background: transparent;
  }
  .ant-input-number-handler-wrap{
    display: none;
  }
  .ant-modal-close-x {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .anticon{
    color: $purple;
  }
  .ant-modal-footer {
    padding: 0px 20px 20px 20px;
    border-top: none;

    button{
      height: 48px;
      padding: 0px 50px;
      border-radius: 2px !important;
      font-size: 16px;
    }
  }
}

// Utilities
.work-utilities{
  h5{
    font-size: 16px;
    color: $purple00;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  .ant-drawer-header {
    padding: 15px 15px 0;
    border-bottom: none;

    .btn-transparent{
      float: right;
      height: 16px;
      padding: 0px;

      span{
       font-size: 16px;
       color: $purple00 !important;
      }
    }
    .ant-select-selection{
      border: none !important;
    }
    .ant-select{
      font-weight: 400;
      color: $opacity;
      // margin-left: 10px;
      min-width: 75px;
      max-width: 160px;
      font-size: 12px;
    }
  }
  .ant-drawer-body {
    padding: 15px;
  }
  h6{
    font-size: 14px;
    color: $purple00;
  }
  p{
    font-size: 10px;
    color: $opacity;
    margin-bottom: 5px;
  }
  .ant-dropdown-link, .ant-dropdown-link:hover, .ant-dropdown-link:focus{
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid $opacity01;
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
    color: $opacity;
    padding: 0px;
    .ant-select-selector {
      padding: 0px !important;
    }
    .ant-select-arrow {
      right: 0px !important;
    }
    .ant-select-item-option {
      margin: 0px !important;
      padding: 1px 10px;
    }

    .anticon{
      float: right;
      color: $purple;
      margin-right: 5px;
      font-size: 16px !important;
      margin-top: 3px;
    }
  }
  .note{
    color: $opacity;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid $opacity01;
    padding: 15px;
    height: 100px;
  }
  .footer-drawer{
    text-align: right;
    padding: 20px 0px;

    button{
      height: 44px;
      width: 110px;
    }
  }
  .graph{
    height: 240px;
    margin-bottom: 15px;
  }
  .graph-title {
    margin-top: 30px;
  }
  .svg-scroll-analytics {
    height: 240px;
    overflow-y: auto;
    margin-right: 20px;
    padding-top: 6px;
    padding-left: 6px;
    background-color: #F5F7FF;
    border-radius: 4px;
  }
  .ant-list-split .ant-list-item {
    border-bottom: 1px solid $opacity01;
  }
  .filter-plan{
    background: $light-purple;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .head-f-p{
    height: 45px;
    color: $purple00;
    font-size: 14px;
    border-bottom: 1px solid $opacity01;
    padding: 12px 15px;
  }
  .body-f-p{
    padding: 15px;
    height: 205px;
    overflow-y: auto;

    p{
      font-size: 12px !important;
      line-height: 14px;
      margin-bottom: 20px;

      span{
        float: right;
      }
    }
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: $opacity;
    position: relative;
    background-color: $white;
    border: 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    box-shadow: none !important;
  }
}
.status-dd-option {
  line-height: 14px !important;
}
.menu-utilities{
  h6{
    font-size: 14px;
    color: $purple00;
    margin-bottom: -5px;
  }
  p{
    font-size: 9px;
    color: $opacity;
    padding-left: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    white-space: normal;
    width: 257px;
    line-height: 10px;
  }
  i{
    font-size: 10px;
  }
  img{
    margin-left: 5px;
  }
  .ant-checkbox-wrapper {
    padding-right: 15px !important;
  }
  .ant-dropdown-menu-item-active{
    background: rgb(217, 242, 247) !important;
  }
}
.chat-r{
  // opacity: 0.5;
  // pointer-events:none;
  h5{
    font-size: 16px;
    color: $purple00;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  h5:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
  .active-title {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
  .chart-title{
    font-size: 16px;
    color: #11093c;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  h6{
    font-size: 14px;
    color: $purple00;
    margin-bottom: 0px;
    font-weight: normal;
  }
  p, span{
    font-size: 11px;
    color: $purple00;
    margin-bottom: 15px;
    margin-top: -3px;
  }
  img{
    margin-top: 2px;
  }
}
.chat-button {
  color: white;
  background-color: #251863;
  margin: 10px 0px 10px 10px;
  padding: 5px 25px 5px 25px;
  border-radius: 2px;
  border-color: transparent;
  span {
    font-size: 14px;
  }
}
.chat-text {
  height: 56px;
  width: 95%;
  border-color: #d9d9d9;
  border-radius: 2px;
  padding: 5px;
}
.chat-text:hover {
  border-color: $purple;
}
.chat-00{
  width: 100%;
  padding: 15px;
  height: 400px;
  border-radius: 4px;
  background-color: #ffffff;
  // margin-top: 15px;
  border: solid 1.5px #E3E3E9;
  .chat-head{
    height: 50px;
    border-radius: 4px 4px 0px 0px;
    background-color: #f5f7ff;
    font-size: 16px;
    color: $purple00;
    text-transform: uppercase;
    padding: 12px 15px;
    border-bottom: solid 1.3px $opacity01;
  }
  
  .chat-head img{
    margin-top: -3px;
  }
  .chat-body{
    border-bottom: solid 1.3px $opacity01;
    height: 300px;
    text-align: center;
    padding: 96px 40px;
  }
  .chat-footer{
    height: 50px;
    padding: 8px 15px;
  }
  .chat-body h6{
    font-size: 16px;
    color: $purple00;
    margin-bottom: 10px;
  }
  .chat-body p{
    font-size: 12px;
    color: $opacity;
  }
  .chat-footer .ant-input {
    padding: 4px 11px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin: 2px 0px;
  }
  .ant-input::placeholder{
    color: $purple;
  }
  .chat-body-text{
    overflow-y: scroll;
    height: 82%;
    padding-right: 7px;
    span {
      color: #76818B;
      padding-left: 3px;
      font-size: 9px;
    }
  }
  .chat-body-text::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chat-body-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f0f0f0; 
    border-radius: 10px;
  }
   
  /* Handle */
  .chat-body-text::-webkit-scrollbar-thumb {
    background: $purple; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .chat-body-text::-webkit-scrollbar-thumb:hover {
    background: $purple; 
  }
}
.chat-footer{
  img{
    margin-top: 0px;
  }
  .btn-send{
    font-size: 18.7px !important;
    color: $purple !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
    margin: 2px 0px;
  }
}
// GENERAL
.ant-drawer-mask{
  background-color: rgba(0, 0, 0, 0.0) !important;
}
.ant-drawer-left, .ant-drawer-right {
  top: 58px !important;
}
.ant-drawer .ant-drawer-content {
  height: calc(100vh - 58px) !important;
}
.ant-drawer-right .ant-drawer-content-wrapper {
  right: 0;
  width: 310px !important;
}
.hide-when-1 {
  display: none !important;
}
.ant-select-disabled .ant-select-selection {
  background-color: transparent !important;
}
.ant-input-disabled {
  color: #251863 !important;
}
.ant-input-affix-wrapper .ant-input-disabled ~ .ant-input-suffix .anticon {
  color: #251863 !important;
}
.ant-input-color {
  color: rgba(17, 9, 60, 0.5) !important;
}
.work-body .ant-tabs-tabpane-active {
  overflow-y: auto;
}
.button-createProject {
  padding-top: 18px !important;
}
.colum-hascreate {
  padding: 55px 6px 20px 6px !important;
}
.differential {
  padding-left: 20px !important;
}
// 1920x1080 DISPLAY
@media (min-width: 1900px) and (max-width: 2499px){
  // .hide-when-1 {
  //   display: inline-block !important;
  // }
  .differential {
    padding-left: 20px !important;
  }
  .button-createProject {
    padding-top: 15px !important;
  }
  .colum-hascreate {
    padding: 55px 6px 20px 6px !important;
  }
  .button-createProject {
    padding-top: 15px;
  }
  .work{
    .ant-timeline-item-tail {
       left: 3px !important;
     }
  }
  .work-head{
    h2{
      font-size: 27px;
      i{
        font-size: 21px;
      }
    }
    .ant-select{
      font-size: 18px;
      width: 130px;
    }
    .btn-opacity {
      height: 50px;
      padding: 0px 12px;
    }
    .ant-input-affix-wrapper{
      // width: 470px !important;
    }
    .ant-input{
      font-size: 27px !important;
      padding: 0px 11px;
      height: 40px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 30px;
    }
    .ant-select-1 {
      max-width: 470px;
    }
  }
  .ant-select-dropdown-menu-item{
    font-size: 18px !important;
  }
  .work-body{
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 25px 0 25px;
      font-size: 16px;
    }
    .ant-tabs-tabpane-active {
      height: calc(100vh - 196px);
    }
    .col-bg {
      height: 54px;
          padding: 14px 15px;

      div{
        min-width: 215px;
        width: 215px;
      }
    }
    .btn-filter-d {
      top: 75px;
    }
  }
  .work-table{
    h3 {
     font-size: 16px;
     width: 215px;
    }
    .col-wr {
      min-width: 215px;
      width: 215px;
      height: calc(100vh - 330px);
      // min-height: 685px;
      margin-top: 15px;
    }
    .btn-transparent {
      font-size: 16px;

      img{
        height: 18px;
      }
    }
    .card-wr {
      width: 203px;
      height: 110px;
    }
    h4 {
      font-size: 18px;
      line-height: 25px !important;
    }
    h6{
      font-size: 14px;
    }
    .purple, .yellow{
      font-size: 13px;
    }
  }
  .cost-wr{
    font-size: 16px;

    .ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header {
      height: 54px;
    }
    .tab-head-project{
      font-size: 16px;
      line-height: 30px;

      div{
        width: 215px;
        min-width: 215px;
      }
    }

    .tab-body-line {
      font-size: 16px;
      line-height: 18px;

      div{
        width: 215px;
        min-width: 215px;
      }
    }
    h5{
      font-size: 16px;
    }
    .ant-input, .ant-input-number{
      height: 30px;
      font-size: 16px;
    }
    .streams{
      .ant-timeline-item-head {
        width: 8px !important;
        height: 8px !important;
        margin-top: 3px;
      }
    }
  }
  .work-footer{
    button {
     height: 54px;
     font-size: 18px;
    }
  }
  // MODAL EDIT
  .work-modal-edit{
    width: 520px !important;

    .ant-modal-header {
      padding: 30px 25px 0px 25px;
    }
    .ant-modal-title{
      font-size: 22px;
      line-height: 24px;
    }
    .ant-modal-body{
      padding: 25px;
    }
    p{
      font-size: 16px;
    }
    .ant-input, .ant-input-number, .ant-input-number-input{
      height: 58px;
      font-size: 21px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 15px;
      padding-right: 40px;
    }
    .ant-input-affix-wrapper .ant-input-prefix :not(.anticon),
    .ant-input-affix-wrapper .ant-input-suffix :not(.anticon) {
      height: 20px;
    }
    .button-close, .button-close:hover, .button-close:focus{
      height: 58px;
    }
    .ant-modal-close-x {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 21px;
    }
    .ant-modal-footer {
      padding: 0px 25px 25px 25px;

      button{
        height: 64px;
        padding: 0px 50px;
        font-size: 24px;
      }
    }
  }
  // Utilities
  .work-utilities{
    h5{
      font-size: 21px;
    }
    .ant-drawer-header {
      padding: 25px 25px 0;

      .btn-transparent{
        span{
         font-size: 18px;
        }
      }
      .ant-select{
        font-size: 18px;
        // width: 100% !important;
        min-width: 90px;
        max-width: 210px;
      }
    }
    .ant-drawer-title img{
      height: 24px;
    }
    .ant-drawer-body {
      padding: 25px;
    }
    h6{
      font-size: 18px;
    }
    p{
      font-size: 14px;
      margin-bottom: 5px;
    }
    .ant-dropdown-link, .ant-dropdown-link:hover, .ant-dropdown-link:focus{
      margin-bottom: 25px;
      font-size: 18px;
      height: 40px;
    }
    .note{
      font-size: 16px;
      padding: 20px;
    }
    .graph{
      height: 350px;
    }
    .svg-scroll-analytics {
      height: 350px;
    }
    .footer-drawer{
      button{
        height: 58px;
        width: 150px;
        font-size: 18px;
      }
    }
    .filter-plan{
      height: 335px;
    }
    .head-f-p{
      height: 60px;
      font-size: 18px;
      padding: 16px 15px;
    }
    .body-f-p{
      height: 275px;
      overflow-y: auto;

      p{
        font-size: 16px !important;
        line-height: 18px;
        margin-bottom: 30px;
      }
    }
  }
  .menu-utilities{
    padding: 10px 0px !important;

    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
      padding: 10px !important
    }
    h6{
      font-size: 16px;
      margin-bottom: 0px;
    }
    p{
      font-size: 12px;
      padding-left: 18px;
      width: 345px;
      line-height: 12px;
    }
    i{
      font-size: 14px;
    }
    img{
      height: 10px;
    }
  }
  .chat-r{
    h6{
      font-size: 18px;
    }
    p, span{
      font-size: 14px;
      margin-bottom: 20px;
    }
    img{
      margin-top: 7px;
      // height: 45px;
    }
    .chat-body-text{
      span {
        font-size: 12px;
      }
    }
  }
  .chat-00{
    height: 530px;

    .chat-head{
      height: 65px;
      font-size: 21px;
      padding: 18px 15px;
    }
    .chat-head img{
      margin-top: -6px;
      height: 18px;
    }
    .chat-body{
      height: 400px;
      padding: 132px 40px;
    }
    .chat-footer{
      height: 65px;
      padding: 10px 15px;
    }
    .chat-body h6{
      font-size: 21px;
    }
    .chat-body p{
      font-size: 18px;
    }
    .chat-footer .ant-input {
      font-size: 18px;
      margin: 8px 0px;
    }
  }
  .chat-footer{
    img{
      margin-top: 0px;
    }
    .btn-send{
      font-size: 18.7px !important;
      margin: 8px 0px;
    }
  }
  .ant-drawer-right .ant-drawer-content-wrapper {
    width: 415px !important;
  }
}
// 2560x1440 DISPLAY
@media (min-width: 2500px) and (max-width: 2999px){
  // .hide-when-1 {
  //   display: inline-block !important;
  // }
  .differential {
    padding-left: 20px !important;
  }
  .button-createProject {
    padding-top: 15px !important;
  }
  .colum-hascreate {
    padding: 75px 6px 20px 6px !important;
  }
  .work{
    .ant-timeline-item-tail {
      top: 11px !important;
      left: 4px !important;
    }
  }
  .work-head{
    h2{
      font-size: 36px !important;
      i{
        font-size: 31px !important;
      }
    }
    .ant-select-2{
      color: $opacity;
      width: 155px !important;
      font-size: 21px;
    }
    .ant-select-1{
      font-size: 24px !important;
      width: 650px !important;
    }
    .btn-opacity {
      height: 68px !important;
      padding: 0px 18px !important;
    }
    .ant-input-affix-wrapper{
      width: 620px !important;
    }
    .ant-input{
      font-size: 36px !important;
      height: 52px !important;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 20px !important;
    }
    .ant-select-1 {
      max-width: 620px !important;
    }
  }
  .ant-select-dropdown-menu-item{
    font-size: 22px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .auto-complete-map {
    margin-top: 10px !important;
  }
  .work-body{
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 30px 0 30px !important;
      font-size: 21px !important ;
    }
    .ant-tabs-tabpane-active {
      height: calc(100vh - 224px) !important;
    }
    .col-bg {
      height: 70px !important;
      padding: 21px 15px !important;

      div{
        min-width: 285px !important;
        width: 285px !important;
      }
    }
    .btn-filter-d {
      top: 98px;
      right: 37px;
    }
  }
  .work-table{
    h3 {
     font-size: 21px !important;
     width: 285px !important;
    }
    .col-wr {
      min-width: 285px !important;
      width: 285px !important;
      height: calc(100vh - 360px) !important;
      // min-height: 915px;
      margin-right: 15px !important;
      padding: 20px 10px 20px 10px;
      margin-top: 10px !important;
    }
    .btn-transparent {
      font-size: 21px !important;
      top: 5px !important;

      img{
        height: 20px !important;
        margin-top: -3px !important;
      }
    }
    .card-wr {
      width: 265px !important;
      height: 135px !important;
      padding: 10px !important;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 24px !important;
      line-height: 26px !important;
    }
    h6{
      font-size: 19px !important;
    }
    .purple, .yellow{
      font-size: 17px !important;
    }
    .purple{
      bottom: 10px !important;
      left: 10px !important;
    }
    .yellow{
      bottom: 10px !important;
      right: 10px !important;
    }
    .menu-wr {
      top: 12px !important;
      right: 20px !important ;
      height: 50px !important;
      font-size: 25px;
    }
  }
  .cost-wr{
    font-size: 21px !important;

    .ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header {
      height: 70px !important;
    }
    .tab-head-project{
      font-size: 21px !important;
      line-height: 48px !important;

      div{
        width: 285px !important;
        min-width: 285px !important;
      }
    }

    .tab-body-line {
      font-size: 21px !important;
      line-height: 18px !important;

      div{
        width: 285px !important;
        min-width: 285px !important;
      }
    }
    h5{
      font-size: 21px !important;
    }
    .ant-input, .ant-input-number {
      height: 40px !important;
      font-size: 21px !important;
      margin-top: -5px !important;
    }
    .streams{
      .ant-timeline-item-head {
        width: 10px !important;
        height: 10px !important;
        margin-top: 3px !important;
      }
    }
    .ant-collapse-content > .ant-collapse-content-box {
      // height: 68px !important;
    }
  }
  .work-footer{
    button {
     height: 78px !important;
     font-size: 24px !important;
    }
  }
  .btn-scroll, .btn-scroll:hover, .btn-scroll:focus {
    width: 42px !important;
    height: 70px !important;
    font-size: 18px !important;
  }
  // MODAL EDIT
  .work-modal-edit{
    width: 694px !important;

    .ant-modal-header {
      padding: 50px 40px 0px 40px !important;
    }
    .ant-modal-title{
      font-size: 30px !important;
      line-height: 36px !important;
    }
    .ant-modal-body{
      padding: 40px !important;
    }
    p{
      font-size: 21px !important;
    }
    .ant-input, .ant-input-number, .ant-input-number-input{
      height: 78px !important;
      font-size: 28px !important;
    }
    .ant-input-affix-wrapper{
      margin-bottom: 25px !important;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 20px !important;
      padding-right: 50px !important;
    }
    .ant-input-affix-wrapper .ant-input-prefix :not(.anticon),
    .ant-input-affix-wrapper .ant-input-suffix :not(.anticon) {
      height: 25px !important;
    }
    .button-close, .button-close:hover, .button-close:focus{
      right: 55px !important;
      height: 78px !important;
    }
    .ant-modal-close-x {
      width: 50px !important;
      height: 50px !important;
      line-height: 50px !important;
      font-size: 24px !important;
    }
    .ant-modal-footer {
      padding: 0px 40px 40px 40px !important;

      button{
        height: 85px !important;
        padding: 0px 70px !important;
        font-size: 31px !important;
      }
    }
  }
  // Utilities
  .work-utilities{
    h5{
      font-size: 28px !important;
    }
    .ant-drawer-header {
      padding: 25px 25px 0 !important;

      .btn-transparent{
        span{
         font-size: 18px !important;
        }
      }
      .ant-select{
        font-size: 24px;
        min-width: 100px;
        max-width: 270px;
        margin-left: 10px;
      }
    }
    .ant-drawer-title img{
      height: 32px;
    }
    .ant-drawer-body {
      padding: 25px !important;
    }
    h6{
      font-size: 24px !important;
    }
    p{
      font-size: 18px !important;
      margin-bottom: 10px !important;
    }
    .ant-dropdown-link, .ant-dropdown-link:hover, .ant-dropdown-link:focus{
      margin-bottom: 25px !important;
      font-size: 24px !important;
      height: 50px !important;
    }
    .note{
      font-size: 21px !important;
      padding: 25px !important;
    }
    .graph{
      height: 450px;
    }
    .svg-scroll-analytics {
      height: 450px;
    }
    .footer-drawer{
      button{
        height: 78px !important;
        width: 195px !important;
        font-size: 24px !important;
      }
    }
    .ant-checkbox-inner{
      width: 25px !important;
      height: 25px !important;
    }
    .ant-checkbox-inner::after{
      left: 30% !important;
    }
    .filter-plan{
      height: 445px !important;
    }
    .head-f-p{
      height: 80px !important;
      font-size: 24px !important;
      padding: 22px 20px !important;
    }
    .body-f-p{
      padding: 20px !important;
      height: 365px !important;
      overflow-y: auto !important;

      p{
        font-size: 21px !important;
        line-height: 24px !important;
        margin-bottom: 40px !important;
      }
    }
  }
  .menu-utilities{
    padding: 12px 0px !important;

    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
      padding: 12px !important
    }
    h6{
      font-size: 21px !important;
      margin-bottom: 0px !important;
    }
    p{
      font-size: 16px !important;
      padding-left: 24px !important;
      width: 475px !important;
      line-height: 16px !important;
    }
    i{
      font-size: 18px !important;
    }
    img{
      height: 12px !important;
    }
  }
  .chat-r{
    h6{
      font-size: 24px !important;
    }
    p, span{
      font-size: 18px !important;
      margin-bottom: 20px !important;
    }
    img{
      margin-top: 0px !important;
      height: 60px !important;
    }
  }
  .chat-00{
    height: 710px !important;

    .chat-head{
      height: 90px !important;
      font-size: 28px !important;
      padding: 24px 25px !important;
    }
    .chat-head img{
      margin-top: -6px !important;
      height: 25px !important;
    }
    .chat-body{
      height: 530px !important;
      padding: 175px 40px !important;
    }
    .chat-footer{
      height: 90px;
      padding: 15px 25px !important;
    }
    .chat-body h6{
      font-size: 28px !important;
    }
    .chat-body p{
      font-size: 24px !important;
    }
    .chat-footer .ant-input {
      font-size: 24px !important;
      margin: 18px 0px !important;
    }
  }
  .chat-footer{
    img{
      margin-top: 0px !important;
    }
    .btn-send{
      font-size: 24px !important;
      margin: 16px 0px !important;
    }
  }
  .ant-drawer-right .ant-drawer-content-wrapper {
    width: 550px !important;
  }
  .work-popover{
    .ant-popover-inner-content {
      padding: 0px 20px !important;
    }
    .ant-popover-content{
      width: 215px !important;
    }
    .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item,
    .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: 54px !important;
      line-height: 54px !important;
    }
    img{
      width: 16px !important;
    }
    span {
      font-size: 21px !important;
    }
  }
}

.resetFilter:hover { 
  color: #6FC699;
}
@media (min-width: 0px) and (max-width: 600px){
  .work-utilities{
    .ant-drawer-body {
      overflow-y: scroll;
      height: 88%;
    }
  }
}