@import "styles.scss";
@use 'styles';

// LOADER
.loading {
  background: white;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.loading-overall {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}
@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #29c499;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  -webkit-filter: url(#goo);
          filter: url(#goo);
  box-shadow: 0 0 0 1px #29c499 inset;
}
.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
          animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #29c499;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}
// LOADER Map
.ant-spin-dot-item{
  display: none !important;
}

.ant-spin-nested-loading > div > .ant-spin{
  height: 100% !important;
  width: 100% !important;
}
.loading-01 {
  background: transparent;
  position: absolute !important;
  overflow: hidden;
  height: 100% !important;
  left: 0;
  top: 0;
  z-index: 50000 !important;
  max-height: none !important;
  .ant-spin-dot-spin {
    position: absolute !important;
    margin: -18px 0 0 -18px !important;
    border: 3.6px solid #29c499 !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    width: 36px !important;
    height: 36px !important;
    left: 50% !important;
    top: 50% !important;
    animation: loader-spin 2s linear infinite reverse !important;
    -webkit-filter: url(#goo) !important;
            filter: url(#goo) !important;
    box-shadow: 0 0 0 1px #29c499 inset !important;
  }
  .ant-spin-dot-spin:before {
    content: "" !important;
    position: absolute !important;
    -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite !important;
            animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite !important;
    background: #29c499 !important;
    -webkit-transform-origin: top center !important;
            transform-origin: top center !important;
    border-radius: 50% !important;
    width: 150% !important;
    height: 150% !important;
    top: 50% !important;
    left: -12.5% !important;
  }
}
