@use  'styles';
@import "styles.scss";

// GENERAL
html, body{
  height: 100%;
}
.ant-layout, #root{
  height: 100%;
}
.ant-layout{
  background: #f5f7ff !important;
}
body{
 font-family: $ubunto !important;
 overflow-y: hidden;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.mapborderradius {
  border-radius: 20px !important;
}
.ant-timeline-item-head-green {
  color: $green !important;
  border-color: $green !important;
  background: $green !important;
}
.ant-timeline-item-head-gray {
  color: $orange !important;
  border-color: $orange !important;
  background: $orange !important;
}
:focus {
  outline: none !important;
}
.scroll-filters {
  padding: 0px 20px;
}
.scroll-cards {
  overflow-y: auto;
  overflow-x: hidden;
}
.color-footer-problem {
  border-color: #FF342F !important
}
.ant-spin-blur::after {
  opacity: 0 !important;
  pointer-events: auto;
}
.ant-spin-blur {
  opacity: 1 !important;
}
.color-footer-watershed {
  border-color: #f2695c !important
}
.color-footer-service-area {
  border-color: #fd8b1a !important;
}
.color-footer-boundary {
  border-color: #826dba !important;
}
.ant-input:focus{
  box-shadow: none !important;
}
.ant-select-dropdown-menu-item{
  padding: 8px 10px 8px 10px !important;
  margin: 0px 10px;
  text-align: left;
  font-size: 14px;
  color: $purple00 !important;
  border-bottom: 1px solid $opacity01;
}
.ant-select-dropdown-menu-item-ative:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled){
  background: none;
  background-color: #e6f7ff !important;
  font-weight:bold;
}
.menu-item-custom .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white;
}
.menu-item-custom .js-mm-00 span:hover {
  color: #28C499 !important;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus, .ant-select-selection:active {
  border-color: none !important;
  box-shadow: none !important;
}
// margins
.marbot-4 {
  margin-bottom: 10px;
}
.btn-footer{
  text-align: right;
  margin: 10px 0px 15px 0px;

  .btn-borde{
    height: 37px;
    font-size: 14px !important;
    margin-right: 15px;
  }
  .btn-purple{
    font-size: 14px !important;
    height: 37px;
  }
}
// END GENERAL

// UPLOADER
.table-up-modal {
  background: rgb(255, 255, 255);
  height: auto;

  .ant-table-tbody > tr {
    background: $opacity00;
    border-radius: 4px;
    border-bottom: none;
    padding: 14px 16px;
  }
  .ant-table table {
    border-collapse: separate !important;
    border-spacing: 0px 10px !important;
  }
  .ant-table-tbody > tr > td{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.27px;
    color: #11093c;
    border-bottom: none;
    padding: 14px 16px;
  }
  .img-up{
    margin-right: 10px;
  }
  button{
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
  }
  .ant-table-thead > tr > th {
    background: transparent;
    border-bottom: none;
    padding: 0px 16px;
    color: rgba(17, 9, 60, 0.5);
    line-height: 10px;
  }
  .ant-pagination-item-active a {
   color: $white;
  }
  .ant-pagination-item-active {
    background: $green;
    border-color: $green;
  }
  .ant-table-thead > tr > th {
    background: transparent;
    border-bottom: none;
    padding: 0px 16px;
    color: rgba(17, 9, 60, 0.5);
    line-height: 10px;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: #251863;
  }
  .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background: transparent;
  }
  .ant-table-placeholder {
    border-radius: 0px;
  }
}
.upload{
  height: calc(100vh - 58px);
  overflow-y: auto;

  .head-up{
    height: auto;
    background: $white;
    padding: 35px 50px;
    .img-npf{
      margin-bottom: 0px;
    }
  }
  .table-up{
    background: rgb(255, 255, 255);
    height: auto;
    border-top: 17px solid rgba(37, 24, 99, 0.06);
    padding: 35px 50px;

    .ant-table-tbody > tr {
      background: $opacity00;
      border-radius: 4px;
      border-bottom: none;
      padding: 9px 16px;
    }
    .ant-table table {
      border-collapse: separate !important;
      border-spacing: 0px 10px !important;
    }
    .ant-table-tbody > tr > td{
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.27px;
      color: #11093c;
      border-bottom: none;
      padding: 9px 16px;
    }
    .img-up{
      margin-right: 10px;
    }
    button{
      background: none;
      border: none;
      box-shadow: none;
      padding: 0px;
    }
    .ant-table-thead > tr > th {
      background: transparent;
      border-bottom: none;
      padding: 0px 16px;
      color: rgba(17, 9, 60, 0.5);
      line-height: 10px;
    }
    .ant-pagination-item-active a {
     color: $white;
    }
    .ant-pagination-item-active {
      background: $green;
      border-color: $green;
    }
    .ant-table-thead > tr > th {
      background: transparent;
      border-bottom: none;
      padding: 0px 16px;
      color: rgba(17, 9, 60, 0.5);
      line-height: 10px;
    }
    .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
    .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
      color: #251863;
    }
    .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
      background: transparent;
    }
    .ant-table-placeholder {
      border-radius: 0px;
    }
  }
}
// END UPLOADER

// INPUT COLLAPSE
#demo-2{
  position: relative;
  margin-top: -10px;
  top: 7px;
  input[type=search] {
  	width: 15px;
  	padding-left: 10px;
  	color: transparent;
  	cursor: pointer;
  }
  input[type=search]:hover {
  	background-color: $opacity01;
  }
  input[type=search]:focus {
  	width: 100px;
  	padding-left: 25px;
  	color: #000;
  	background-color: $opacity01;
  	cursor: auto;
  }
  input::placeholder {
  	color: transparent;
  }
  input {
	outline: none;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
  	display: none;
  }
  input[type=search] {
  	background: $white url('../../Icons/icon-13.svg');
    background-repeat: no-repeat;
  	border: solid 1px $white;
    width: 25px;
    border-radius: 4px;
    background-position-y: 10px;
    background-position-x: 5px;
  	transition: all .5s;
    padding: 6px 5px;
  }
  input[type=search]:focus {
  	width: 120px;
  	background-color: $opacity01;
  }
}
// END INPUT COLLAPSE



// DETAILED MODAL
.detailed-modal {
  width: 1200px !important;

  /* Default close button */
  .ant-modal-close {
    display: none;
  }
  /* Body of the Modal */
  .ant-modal-body {
    padding: 0;
    // height: 800px;
  }
  /* Moldal's Footer */
  .ant-modal-footer {
    display: none;
  }
}
.detailed-version {
  width: 800px !important;

  /* Default close button */
  .ant-modal-close {
    display: none;
  }
  /* Body of the Modal */
  .ant-modal-body {
    padding: 0;
    // height: 800px;
  }
  /* Moldal's Footer */
  .ant-modal-footer {
    display: none;
  }
}
.detailed-upload {
  width: 760px !important;

  /* Default close button */
  .ant-modal-close {
    display: none;
  }
  /* Body of the Modal */
  .ant-modal-body {
    padding: 0;
    // height: 800px;
  }
  /* Moldal's Footer */
  .ant-modal-footer {
    display: none;
  }
}
// END DETAILED MODAL

// ALERTS AND MODALS
.alert-mm{
  .ant-alert-error {
    background-color: #fb3740;
    text-align: center;
    position: absolute;
    z-index: 500;
    width: calc(100% - 58px);
  }
  .ant-alert-message {
    color: $white;
  }
  .ant-alert-icon {
    color: $white !important;
  }
  .ant-alert-icon {
    right: 40px !important;
    left: inherit;
  }
  .ant-alert-success {
    background-color: $green;
    text-align: center;
    position: absolute;
    z-index: 500;
    width: calc(100% - 58px);
  }
}
.modal-confirm{
  h2{
    color: $purple00;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .ant-modal-body{
    text-align: center;
    padding: 25px 30px;
  }
  .ant-modal-footer{
    display: none;
  }
  .btn-danger {
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: #FA4659;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    border: none;
    font-weight: bold;
  }
  .btn-danger:hover, .btn-danger:focus {
    border-bottom: 4px solid #E5E5E5 !important;
  }
  .btn-purple{
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $purple;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    border: none;
  }
  .btn-purple:hover, .btn-purple:focus{
    border-bottom: 4px solid $green !important;
  }
  .btn-borde{
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $white;
    font-size: 14px;
    color: $opacity;
    margin-top: 10px;
    border: 1px solid $opacity01;
    margin-right: 15px;
  }
  .ant-modal-close{
    color: $purple;
    height: 40px;
    width: 40px;
  }
  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }
}
// END ALERTS AND MODALS

// CREATE A NEW PROJEC
.btn-creation01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10% 20px 10%;
  div {
    width: 220px;
    height: 200px;
    margin: 20px 25px 10px 25px;
  }
  Button {
    height: inherit;
    width: inherit;
    color: $opacity;
    border: 1px solid rgba(37, 24, 99, 0.1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: initial;
    padding: 0px;
    // width: 220px;
    // height: 200px;
  }
 .ant-btn:hover .img-h, .ant-btn:focus .img-h, .ant-btn:active .img-h, .ant-btn.active .img-h {
   display: none;
  }
 .ant-btn:hover .img-a, .ant-btn:focus .img-a, .ant-btn:active .img-a, .ant-btn.active .img-a {
  display: inline-block !important;
  }
  button span {
    margin: 35px 0;
  }
  Button:hover {
    background-color: $green;
    border: 1px solid rgba(5, 33, 41, 0.1);
    color: $white;
  }
  Button:focus {
    background-color: $green;
    border: 1px solid rgba(5, 33, 41, 0.1);
    color: $white;
  }
  Button .img-h{
    opacity: 0.8;
  }
}
// content-creation-new
.content-create {
  height: calc(100vh - 58px);
  background: rgba(37, 24, 99, 0.03) !important;
  overflow-y: auto;
  padding: 20px 19px 0 19px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  position: relative;

  .content-new01 {
    background-color: $white;
    height: 100%;
    box-shadow: 0 3px 13px 0 rgba(68, 58, 121, 0.12);
  }
}
.content-new01{
  overflow-y: auto;
  .ant-input-lg {
    height: 35px;
    padding: 6px 11px;
    font-size: 14px;
  }
  .ant-input:focus, .ant-input:hover, .ant-input:active, .ant-input.active  {
    border-color: $purple !important;
    outline: 0;
    box-shadow: none;
  }
  h1 {
   font-size: 28px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: $purple00;
   margin-top: 25px;
 }
}
.img-npf{
  margin-bottom: 20px;
  .ant-upload.ant-upload-drag p.ant-upload-text {
    margin: 0px;
    color: $opacity !important;
    font-size: 14px !important;
  }
  img{
    margin-bottom: 5px;
  }
  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: $purple;
  }
}
// styles creation project
.form01 {
  height: 62px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .ant-switch-inner{
    font-size: 11px;
  }
  .ant-switch-checked {
    background-color: $green;
  }
}
.form01-02{
  img {
    margin-left: 10px;
  }
  h3 {
   margin: 0;
   font-size: 14px;
   letter-spacing: 0.27px;
   color: $opacity;
 }
}
.label-new-form {
  display: flex;
  align-items: center;
  h3 {
   display: inline;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: inherit;
   letter-spacing: normal;
   color: $purple00;
   margin: 0;
 }
 label {
   font-size: 13.3px;
   font-stretch: normal;
   letter-spacing: normal;
   color: $opacity;
 }
 img {
   width: 19px;
   height: 19px;
   margin: 7px 0 7px 5px;
 }
}
.directions01 {
  color: $opacity;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.directions-img {
  transform: rotate(270deg);
  width: 20px;
  margin: 0 5px;
}
.directions-page {
  color: $purple00;
}
.project-comp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  span {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $green;
  }
  h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $purple00;
  }
}
.project-comp-btn {
  display: flex;
  align-items: flex-end;

  .mapboxgl-ctrl-group.mapboxgl-ctrl {
    margin-left: 5px;
    box-shadow: 0 0 0 0;

    .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon, .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon:hover,
    .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon:focus, .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon.active {
      background-image: url("../../Icons/icon-08.svg") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 0;
      box-shadow: none !important
    }
  }
  span {
    opacity: 0.15;
    color: $purple;
    width: 10px;
    text-align: center;
    margin: 1px 5px;
    font-weight: 100;
  }
}
.map-modal{
  height: 500px;
}
.table-create-bottom{
  .ant-table-tbody > tr:nth-child(2) > td{
    border-bottom: 1px solid #e8e8e8 !important;
  }
}
.table-create-pro{
  tbody > tr > td {
    background: rgba(61, 46, 138, 0.07);
    padding: 10px 17px;
    height: 55px;
    min-height: 50px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    margin-top: 10px;
    color: $purple00;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.27px;
    border-radius: 0px;
  }
  th {
    background-color: $white !important;
    border: none !important;
  }
  td {
   border-bottom: 13px solid $white !important;
 }
 img{
   float: right;
 }
 .ant-table-thead > tr > th{
   color: $opacity;
 }
}
.table-create-bottom{
  .ant-input {
    max-width: 92%;
    padding-left: 0px;
    border: none;
  }
  .ant-input:focus{
    border-color: none;
    box-shadow: none !important;
  }
  .ant-table-tbody > tr > td{
    border-bottom: none;
  }
  .footer-table{
    border-top: 1px solid #e8e8e8;
  }
}
.tag-upload {
  margin-top: 14px;
  margin-bottom: 14px;
  span {
    height: 35px;
    border-radius: 22.7px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.27px;
    color: $purple00;
  }
  i {
    border: 1px solid #cac7d9;
    border-radius: 50px;
    padding: 5px;
    height: 24px;
    width: 24px;
    background-color: #cac7d9;
    color: $white !important;
    font-weight: 600 !important;
    margin-left: 8px !important;
  }
}
.back-around{
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 10;

  button, button:hover, button:focus{
    border: none;
    background: transparent;
    color: $opacity;
    font-size: 16px;
    box-shadow: none;
  }
  img{
    transform: rotate(180deg);
    margin-right: 6px;
    margin-top: -2px;
  }
}
// table creation new project
.footer-table th{
  display: none;
}
.table-create-bottom{
  table th {
    font-size: 14px;
    padding: 20px 0 !important;
    background-color: $white !important;
    color: $opacity !important;
  }
  Table td {
    padding: 8.5px 0 !important;
    font-size: 14px;
  }
  Table td a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: $purple00;
  }
  Table td textarea {
   border: transparent;
 }
}
.numbers01-table {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: right;
  color: $purple00;
}
.all-npf{
  label{
    font-size: 12px;
    color: $opacity;
    margin-top: 10px;
  }
  .menu-item-text{
    padding: 0px 20px;
  }
}
//END CREATE A NEW PROJECT

// WORK REQUEST
.menu-card{
  width: 160px;
  height: 140px;
  left: -120px;

  .menu-card-item {
    color: $purple00;
    font-size: 13px;
  }

  li{
    margin: 0px 15px;
    padding: 10px 0px;
  }
}
.count{
  padding:20px;
  background: $white;
  height: calc(100vh - 58px);
  overflow-y: hidden;
}
.count-01{
  padding:25px;
  background: $white;
  height: calc(100vh - 58px);
  overflow-y: auto;

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
  }
}
// END WORK REQUEST

// WORK PLAN
.text-font-title {
  width: 53px;
  height: 18px;
  opacity: 0.6;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #11093c;
}
.text-font-percentage {
  width: 33px;
  height: 22px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #11093c;
}
.line {
  width: 1px;
  height: 253px;
  opacity: 0.1;
  border: solid 1.3px #251863;
}
.user-activity {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: #11093c;
}
.user-text {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  // font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: #11093c;
}
.user-cover {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  // font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: #4228C4;
  .cover {
    border-color: #4228C4;
    background-color: transparent;
    color: #4228C4;
    border-radius: 5px;
  }
  .cover-active {
    border-color: #4228C4;
    background-color: #4228C4;
    color: white;
    border-radius: 5px;
  }
}
.user-dowload {
  background-color: transparent;
  border-color: transparent;
}
.user-dowload:hover {
  background-color: transparent;
  border-color: transparent;
}
.user-type {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  // font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: #28C499;
  .type {
    color: #28C499;
    background-color: hsla(163, 66%, 46%, 0.078);
    border-radius: 5px;
    border-color: transparent;
  }
}
.user-name-upload {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: $purple;
}
.text-profile-projects {
  width: 91px;
  height: 24px;
  font-size: 16px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29c499;
  padding-right: 7px;
  padding-left: 8px;
}
.bottomn-heder {
  color: #000000;
  margin-left: 10px;
  transition: all .0s cubic-bezier(.645,.045,.355,1);
  .ant-btn:focus, .ant-btn:hover {
    color: #29c499 ;
    transition: all .0s cubic-bezier(.645,.045,.355,1);
    border-color: #29c499 ;
  }
  .ic-document {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    margin-right: 5px;
    content: url("../../../public/Icons/ic-document.svg");
  }
}
.bottomn-heder:hover, .bottomn-heder:active, .bottomn-heder:focus-visible, .bottomn-heder:visited{
  color: #29c499 ;
  border-color: #29c499 ;
  transition: all .0s cubic-bezier(.645,.045,.355,1);
  .ic-document {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    margin-right: 5px;
    content: url("../../../public/Icons/ic-document-active.svg") !important;
  }
}
.bottomn-heder:focus, .bottomn-heder::before, .bottomn-heder:focus-visible {
  color: #29c499;
  border-color: #29c499 ;
  transition: all .0s cubic-bezier(.645,.045,.355,1);
  .ic-document {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    margin-right: 5px;
    content: url("../../../public/Icons/ic-document-active.svg") !important;
  }
}
// DETAILED PROBLEM
.upload{
  // width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;
  padding-bottom: 30px;
  .ant-carousel .slick-list {
      height: auto;
  }
  .ant-carousel .slick-dots {
    display: block !important;
    padding-bottom: 50px !important;
  }
  .draw{
    height: 258px;
    width: 350%;
    text-align: center;
    border: 3px dashed $opacity04;
    margin: 10px 0px 15px 0px;
    padding: 18px 0px;
    color: $opacity;
    display: block;

    p{
      font-size: 13px;
      margin-bottom: 0px;
    }
    .icon-draw{
      margin-bottom: 2px;
      height: 0px;
      width: 0px;
      background: $purple;
      transition: width 2s;
      padding: 9px;
    }
    .icon-draw-01{
      height: 0px;
      width: 0px;
      background: $purple;
      transition: width 2s;
      padding: 13px;
    }
  }
  .draw:hover, .draw:focus, .draw:active, .draw.active{
    border: 3px dashed $green;
    color: $green;
  }
  .draw:hover > .icon-draw, .draw:focus > .icon-draw, .draw:active > .icon-draw, .draw.active > .icon-draw{
    background: $green;
  }
  .draw:hover > .icon-draw-01, .draw:focus > .icon-draw-01,
  .draw:active > .icon-draw-01, .draw.active > .icon-draw-01{
    background: $green;
  }
  hr{
    border: 1px dashed $opacity04;
  }
}
.detailed{
  // width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;

  .ant-carousel .slick-list {
      height: auto;
  }
  .ant-carousel .slick-dots {
    display: block !important;
    padding-bottom: 50px !important;
  }
}
.upload02{
  // width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;
  padding-bottom: 30px;
  .ant-carousel .slick-list {
      height: auto;
  }
  .ant-carousel .slick-dots {
    display: block !important;
    padding-bottom: 50px !important;
  }
  .draw{
    height: 255px;
    width: 300%;
    text-align: center;
    border: 3px dashed $opacity04;
    margin: 10px 0px 15px 0px;
    padding: 18px 0px;
    color: $opacity;
    display: block;

    p{
      font-size: 13px;
      margin-bottom: 0px;
    }
    .icon-draw{
      margin-bottom: 2px;
      height: 0px;
      width: 0px;
      background: $purple;
      transition: width 2s;
      padding: 9px;
    }
    .icon-draw-01{
      height: 0px;
      width: 0px;
      background: $purple;
      transition: width 2s;
      padding: 13px;
    }
  }
  .draw:hover, .draw:focus, .draw:active, .draw.active{
    border: 3px dashed $green;
    color: $green;
  }
  .draw:hover > .icon-draw, .draw:focus > .icon-draw, .draw:active > .icon-draw, .draw.active > .icon-draw{
    background: $green;
  }
  .draw:hover > .icon-draw-01, .draw:focus > .icon-draw-01,
  .draw:active > .icon-draw-01, .draw.active > .icon-draw-01{
    background: $green;
  }
  hr{
    border: 1px dashed $opacity04;
  }
}
.detailed{
  // width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;

  .ant-carousel .slick-list {
      height: auto;
  }
  .ant-carousel .slick-dots {
    display: block !important;
    padding-bottom: 50px !important;
  }
}
.detailed-h{
  // height: 80px !important;
  min-height: 80px;
  background: #f5f7ff;
  padding: 10px 20px;
  margin: 0px !important;

  h1{
    font-size: 21px;
    color: $purple00;
    margin-bottom: -5px;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    line-height: 22px;
    margin-bottom: 7px;
  }
  p{
    font-size: 14px;
    color: $opacity;
    margin-bottom: 0px;
  }
  .btn-transparent{
    padding: 0px 12px;
    margin: 8px 0px;
  }
  .btn-opacity,.btn-opacity:hover, .btn-opacity:focus{
    height: 40px;
    font-size: 13px;
    border-radius: 2px;
    text-align: center;
    padding: 11px 0px;
    margin-top: 6px;
    width: 120px;
    min-width: 120px;
    float: right;
    background: $white !important;
  }
}
.disabled-btn{
  opacity: 0.5;
  //pointer-events: none;
}
.status-d{
  padding: 6px 0px 6px 40px;

  label{
    font-size: 12px;
    color:$opacity;
    margin-bottom: -2px;
    width: 100%;
  }
  b{
    float: right;
    color: $purple;
  }
  .ant-progress-text{
    display: none;
  }
  .ant-progress-show-info .ant-progress-outer{
    margin-right: 0px;
    padding-right:0px;
  }
  .ant-progress-success-bg, .ant-progress-bg{
    background-color: $yellow;
  }
  .ant-progress-inner {
    background-color: $opacity01;
  }
}
.detailed-mm{
  font-size: 14px;
  color: $purple;
  border-left: 1.5px solid $opacity01;
  border-right: 1.5px solid $opacity01;
  height: 35px;
  min-height: 35px;
  padding: 8px 0px;
  margin: 8px 12px;
}
.detailed-b{
  .ant-carousel .slick-slide {
    text-align: center;
    // height: 450px;
    overflow: hidden;
  }
  .ant-carousel .slick-slide img{
    max-width: 100%;
    height: auto;
    display: inherit !important;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  // .ant-carousel{
  //   height: 450px;
  // }
  .chat-r{
    padding: 20px 25px;
  }
}
.detailed-c{
  // height: 450px;
  // background-image: url('../../Icons/bg-00.png');
  background-size: cover;
   img{
    position: relative !important;
    // margin-top: -20%;
  }
}
.detailed-info{
  padding: 20px 40px 0px 40px;
  font-size: 14px;
  label{
    color: $opacity;
  }
  p{
    color: $purple00;
    margin-bottom: 12px;
  }
}
.tabs-detailed{
  padding: 0px 40px 20px 40px;
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 21px 0px;
    color: $purple00;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-collapse{
    background-color: $white;
    border-radius: 0px;
    border: none;
  }
  .ant-collapse-content {
    border-top: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 0px;
  }
}
.detailed-map{
  width: 100%;
  height: 650px;
  border-radius: 4px;
  box-shadow: $shadow;
  // background-image: url('../../Icons/mapitash.png');
  position: relative;

  .btn-03, .btn-03:hover, .btn-03:focus, .btn-03:active, .btn-03.active {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 35px;
    color: #251863;
    font-size: 12px;
    z-index: 10;
  }
  .btn-03 img {
    margin-left: 8px;
  }
  .m-foo{
    width: 120px;
    height: 50px;
    border-radius: 4px;
    box-shadow: $shadow;
    background: $white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 6px 10px;
  }
  p{
    display: flex;
    font-size: 12px;
    color: $purple00;
    margin-bottom: 2px;
  }
  p span {
    width:15px;
    height:5px;
    margin-top: 6px;
  }
}
.solution-h{
  padding: 0px 20px;

  button{
    border: none;
    background-color: transparent;
    color: $opacity;
    font-size: 16px;
    box-shadow: none;
    text-align: left;
    padding: 0px;
  }
  img{
    margin-left: 5px;
  }
  button:hover, button:focus, button.active{
    border: none;
    background-color: transparent;
    color: $opacity;
    box-shadow: none;
    text-align: left;
    padding: 0px;
  }
}
.solution-b{
  background: $opacity00;
  padding: 14px 20px;
  height: 50px;
  min-height: 50px;
  font-size: 14px;
  border-radius: 4px;
  font-weight:400;
  margin-top: 5px;
  color: $purple;
}
.data-00{
  display: flex;
  font-size: 14px;
  color: $opacity;
  div{
    margin-right: 20px;
  }
  img{
    margin-top: -2px;
  }
}
.divider{
  display: flex;
}
.line-01{
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: $purple;
  margin: 12px 8px;
}
.problem-t{
  margin-top: -15px;
  .ant-table-tbody > tr > td{
    background: $opacity00;
    padding: 14px 20px;
    height: 50px;
    min-height: 50px;
    font-size: 14px;
    font-weight:400;
    margin-top: 10px;
    color: $purple;
    border-bottom: none;
  }
  .ant-table table {
    border-collapse: separate !important;
    border-spacing: 0px 5px !important;
  }
  .ant-table-tbody > tr{
    border-radius: 4px;
  }
  .ant-table-thead > tr > th {
    color: $opacity;
    background: none;
    border-bottom: none;
    font-weight: normal;
    font-size: 16px;
    padding: 0px 16px;
  }
  .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover{
    background: none;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: $purple;
  }
  .ant-table-thead > tr > th.ant-table-column-sort {
    background: none;
  }
  .ant-table-tbody > tr > td.ant-table-column-sort {
    background: $opacity00;
  }
  .ant-table-pagination.ant-pagination{
    display: none;
  }
}
.btn-close-mobile{
  display: none !important;
}
// END DETAILED PROBLEM

// OTHERS
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters:hover::before {
    background: rgba(0, 0, 0, 0.0) !important;
}
 .marker {
  background-size: cover;
  width: 30px;
  height: 40px;
  cursor: pointer;
 }
 .button-dropdown {
  background-color: $green !important;
  color: #ffffff !important;
  border: $green !important;
  white-space: inherit !important;
  height: auto !important;
  border-radius: 4px !important;
 }
 .text-button-dropdown {
  font-size: 14px !important;
  padding: 10px !important;
  display: block !important;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid rgba(61, 46, 138, 0.07) !important;
  color: #11093c !important;
 }
 // .dropdown-map-layers {
 //   left: 75px;
 // }
 .ant-dropdown-menu-item-group-title {
  //  color: #ff7600 !important;
   margin: 4px 0px -4px 0px!important;
  //  font-weight: bold;
 }
 .input-span {
   display: inline-block;
   width: calc(100% - 80px);
   outline: none;
   border: none;
   background-color: transparent;
 }
.rr-tt{
  display: none;
}
.icon-legend .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  display: block;
}
.input-maint .img-maint {
  position: absolute;
  margin-left: 9px;
  margin-top: 11px;
  height: 24px;
  width: 21px;
}
.error-404{
  text-align: center;
  color: $opacity;
}
.btn-map{
  display: none;
}
.ant-btn-disabled, .ant-btn.disabled, .ant-btn[disabled], .ant-btn-disabled:hover, .ant-btn.disabled:hover, .ant-btn[disabled]:hover, .ant-btn-disabled:focus, .ant-btn.disabled:focus, .ant-btn[disabled]:focus, .ant-btn-disabled:active, .ant-btn.disabled:active, .ant-btn[disabled]:active, .ant-btn-disabled.active, .ant-btn.disabled.active, .ant-btn[disabled].active {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
// OTHERS END
.ant-drawer{
  z-index: 999 !important;
}

.dropdown-container-filter {
  display: flex;
}

