@import "./Scss/styles.scss";
@use 'styles';

// GENERAL
html, body{
  height: 100vh;
}
body{
 font-family: $ubunto !important;
 overflow-y: hidden;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.ant-timeline-item-head-green {
  color: $green !important;
  border-color: $green !important;
  background: $green !important;
}
.ant-timeline-item-head-gray {
  color: $orange !important;
  border-color: $orange !important;
  background: $orange !important;
}
:focus {
  outline: none !important;
}
.scroll-filters {
  padding: 0px 20px;
}
.scroll-cards {
  overflow-y: auto;
  overflow-x: hidden;
}
.color-footer-problem {
  border-color: #FF342F !important
}
.ant-spin-blur::after {
  opacity: 0 !important;
  pointer-events: auto;
}
.ant-spin-blur {
  opacity: 1 !important;
}
.color-footer-watershed {
  border-color: #f2695c !important
}
.color-footer-service-area {
  border-color: #fd8b1a !important;
}
.color-footer-boundary {
  border-color: #826dba !important;
}
// margins
.marbot-4 {
  margin-bottom: 10px;
}
.btn-footer{
  text-align: right;
  margin: 10px 0px 15px 0px;

  .btn-borde{
    height: 37px;
    font-size: 14px !important;
    margin-right: 15px;
  }
  .btn-purple{
    font-size: 14px !important;
    height: 37px;
  }
}
// END GENERAL

// UPLOADER
.table-up-modal {
  background: rgb(255, 255, 255);
  height: auto;

  .ant-table-tbody > tr {
    background: $opacity00;
    border-radius: 4px;
    border-bottom: none;
    padding: 14px 16px;
  }
  .ant-table table {
    border-collapse: separate !important;
    border-spacing: 0px 10px !important;
  }
  .ant-table-tbody > tr > td{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.27px;
    color: #11093c;
    border-bottom: none;
    padding: 14px 16px;
  }
  .img-up{
    margin-right: 10px;
  }
  button{
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
  }
  .ant-table-thead > tr > th {
    background: transparent;
    border-bottom: none;
    padding: 0px 16px;
    color: rgba(17, 9, 60, 0.5);
    line-height: 10px;
  }
  .ant-pagination-item-active a {
   color: $white;
  }
  .ant-pagination-item-active {
    background: $green;
    border-color: $green;
  }
  .ant-table-thead > tr > th {
    background: transparent;
    border-bottom: none;
    padding: 0px 16px;
    color: rgba(17, 9, 60, 0.5);
    line-height: 10px;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: #251863;
  }
  .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
    background: transparent;
  }
  .ant-table-placeholder {
    border-radius: 0px;
  }
}
.upload{
  height: calc(100vh - 58px);
  overflow-y: auto;

  .head-up{
    height: auto;
    background: $white;
    padding: 35px 50px;
    .img-npf{
      margin-bottom: 0px;
    }
  }
  .table-up{
    background: rgb(255, 255, 255);
    height: auto;
    border-top: 17px solid rgba(37, 24, 99, 0.06);
    padding: 35px 50px;

    .ant-table-tbody > tr {
      background: $opacity00;
      border-radius: 4px;
      border-bottom: none;
      padding: 9px 16px;
    }
    .ant-table table {
      border-collapse: separate !important;
      border-spacing: 0px 10px !important;
    }
    .ant-table-tbody > tr > td{
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.27px;
      color: #11093c;
      border-bottom: none;
      padding: 9px 16px;
    }
    .img-up{
      margin-right: 10px;
    }
    button{
      background: none;
      border: none;
      box-shadow: none;
      padding: 0px;
    }
    .ant-table-thead > tr > th {
      background: transparent;
      border-bottom: none;
      padding: 0px 16px;
      color: rgba(17, 9, 60, 0.5);
      line-height: 10px;
    }
    .ant-pagination-item-active a {
     color: $white;
    }
    .ant-pagination-item-active {
      background: $green;
      border-color: $green;
    }
    .ant-table-thead > tr > th {
      background: transparent;
      border-bottom: none;
      padding: 0px 16px;
      color: rgba(17, 9, 60, 0.5);
      line-height: 10px;
    }
    .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
    .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
      color: #251863;
    }
    .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
      background: transparent;
    }
    .ant-table-placeholder {
      border-radius: 0px;
    }
  }
}
// END UPLOADER

// INPUT COLLAPSE
#demo-2{
  position: relative;
  margin-top: -10px;
  top: 7px;
  input[type=search] {
  	width: 15px;
  	padding-left: 10px;
  	color: transparent;
  	cursor: pointer;
  }
  input[type=search]:hover {
  	background-color: $opacity01;
  }
  input[type=search]:focus {
  	width: 100px;
  	padding-left: 25px;
  	color: #000;
  	background-color: $opacity01;
  	cursor: auto;
  }
  input::placeholder {
  	color: transparent;
  }
  input {
	outline: none;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
  	display: none;
  }
  input[type=search] {
  	background: $white url('/Icons/icon-13.svg');
    background-repeat: no-repeat;
  	border: solid 1px $white;
    width: 25px;
    border-radius: 4px;
    background-position-y: 10px;
    background-position-x: 5px;
  	transition: all .5s;
    padding: 6px 5px;
  }
  input[type=search]:focus {
  	width: 120px;
  	background-color: $opacity01;
  }
}
// END INPUT COLLAPSE



// DETAILED MODAL
.detailed-modal {
  width: 1200px !important;

  /* Default close button */
  .ant-modal-close {
    display: none;
  }
  /* Body of the Modal */
  .ant-modal-body {
    padding: 0;
    // height: 800px;
  }
  /* Moldal's Footer */
  .ant-modal-footer {
    display: none;
  }
}
// END DETAILED MODAL

// ALERTS AND MODALS
.alert-mm{
  .ant-alert-error {
    background-color: #fb3740;
    text-align: center;
  }
  .ant-alert-message {
    color: $white;
  }
  .ant-alert-icon {
    color: $white !important;
  }
  .ant-alert-icon {
    right: 40px !important;
    left: inherit;
  }
}
.modal-confirm{
  h2{
    color: $purple00;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
  }
  .ant-modal-body{
    text-align: center;
    padding: 25px 30px;
  }
  .ant-modal-footer{
    display: none;
  }
  .btn-purple{
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $purple;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    border: none;
  }
  .btn-borde{
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: $white;
    font-size: 14px;
    color: $opacity;
    margin-top: 10px;
    border: 1px solid $opacity01;
    margin-right: 15px;
  }
  .ant-modal-close{
    color: $purple;
    height: 40px;
    width: 40px;
  }
  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }
}
// END ALERTS AND MODALS

// CREATE A NEW PROJEC
.btn-creation01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10% 20px 10%;
  div {
    width: 220px;
    height: 200px;
    margin: 20px 25px 10px 25px;
  }
  Button {
    height: inherit;
    width: inherit;
    color: $opacity;
    border: 1px solid rgba(37, 24, 99, 0.1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: initial;
    padding: 0px;
    // width: 220px;
    // height: 200px;
  }
 .ant-btn:hover .img-h, .ant-btn:focus .img-h, .ant-btn:active .img-h, .ant-btn.active .img-h {
   display: none;
  }
 .ant-btn:hover .img-a, .ant-btn:focus .img-a, .ant-btn:active .img-a, .ant-btn.active .img-a {
  display: inline-block !important;
  }
  button span {
    margin: 35px 0;
  }
  Button:hover {
    background-color: $green;
    border: 1px solid rgba(5, 33, 41, 0.1);
    color: $white;
  }
  Button:focus {
    background-color: $green;
    border: 1px solid rgba(5, 33, 41, 0.1);
    color: $white;
  }
  Button .img-h{
    opacity: 0.8;
  }
}
// content-creation-new
.content-create {
  height: calc(100vh - 58px);
  background: rgba(37, 24, 99, 0.03) !important;
  overflow-y: auto;
  padding: 20px 19px 0 19px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  position: relative;

  .content-new01 {
    background-color: $white;
    height: 100%;
    box-shadow: 0 3px 13px 0 rgba(68, 58, 121, 0.12);
  }
}
.content-new01{
  overflow-y: auto;
  .ant-input-lg {
    height: 35px;
    padding: 6px 11px;
    font-size: 14px;
  }
  .ant-input:focus, .ant-input:hover, .ant-input:active, .ant-input.active  {
    border-color: $purple !important;
    outline: 0;
    box-shadow: none;
  }
  h1 {
   font-size: 28px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: $purple00;
   margin-top: 25px;
 }
}
.img-npf{
  margin-bottom: 20px;
  .ant-upload.ant-upload-drag p.ant-upload-text {
    margin: 0px;
    color: $opacity !important;
    font-size: 14px !important;
  }
  img{
    margin-bottom: 5px;
  }
  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: $purple;
  }
}
// styles creation project
.form01 {
  height: 62px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .ant-switch-inner{
    font-size: 11px;
  }
  .ant-switch-checked {
    background-color: $green;
  }
}
.form01-02{
  img {
    margin-left: 10px;
  }
  h3 {
   margin: 0;
   font-size: 14px;
   letter-spacing: 0.27px;
   color: $opacity;
 }
}
.label-new-form {
  display: flex;
  align-items: center;
  h3 {
   display: inline;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: inherit;
   letter-spacing: normal;
   color: $purple00;
   margin: 0;
 }
 label {
   font-size: 13.3px;
   font-stretch: normal;
   letter-spacing: normal;
   color: $opacity;
 }
 img {
   width: 19px;
   height: 19px;
   margin: 7px 0 7px 5px;
 }
}
.directions01 {
  color: $opacity;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.directions-img {
  transform: rotate(270deg);
  width: 20px;
  margin: 0 5px;
}
.directions-page {
  color: $purple00;
}
.project-comp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  span {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $green;
  }
  h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $purple00;
  }
}
.project-comp-btn {
  display: flex;
  align-items: flex-end;

  .mapboxgl-ctrl-group.mapboxgl-ctrl {
    margin-left: 5px;
    box-shadow: 0 0 0 0;

    .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon, .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon:hover,
    .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon:focus, .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon.active {
      background-image: url("/Icons/icon-08.svg") !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 0;
      box-shadow: none !important
    }
  }
  span {
    opacity: 0.15;
    color: $purple;
    width: 10px;
    text-align: center;
    margin: 1px 5px;
    font-weight: 100;
  }
}
.table-create-bottom{
  .ant-table-tbody > tr:nth-child(2) > td{
    border-bottom: 1px solid #e8e8e8 !important;
  }
}
.table-create-pro{
  tbody > tr > td {
    background: rgba(61, 46, 138, 0.07);
    padding: 10px 17px;
    height: 55px;
    min-height: 50px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    margin-top: 10px;
    color: $purple00;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.27px;
    border-radius: 0px;
  }
  th {
    background-color: $white !important;
    border: none !important;
  }
  td {
   border-bottom: 13px solid $white !important;
 }
 img{
   float: right;
 }
 .ant-table-thead > tr > th{
   color: $opacity;
 }
}
.table-create-bottom{
  .ant-input {
    max-width: 92%;
    padding-left: 0px;
    border: none;
  }
  .ant-input:focus{
    border-color: none;
    box-shadow: none !important;
  }
  .ant-table-tbody > tr > td{
    border-bottom: none;
  }
  .footer-table{
    border-top: 1px solid #e8e8e8;
  }
}
.tag-upload {
  margin-top: 14px;
  margin-bottom: 14px;
  span {
    height: 35px;
    border-radius: 22.7px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.27px;
    color: $purple00;
  }
  i {
    border: 1px solid #cac7d9;
    border-radius: 50px;
    padding: 5px;
    height: 24px;
    width: 24px;
    background-color: #cac7d9;
    color: $white !important;
    font-weight: 600 !important;
    margin-left: 8px !important;
  }
}
.back-around{
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 10;

  button, button:hover, button:focus{
    border: none;
    background: transparent;
    color: $opacity;
    font-size: 16px;
    box-shadow: none;
  }
  img{
    transform: rotate(180deg);
    margin-right: 6px;
    margin-top: -2px;
  }
}
// table creation new project
.footer-table th{
  display: none;
}
.table-create-bottom{
  table th {
    font-size: 14px;
    padding: 20px 0 !important;
    background-color: $white !important;
    color: $opacity !important;
  }
  Table td {
    padding: 8.5px 0 !important;
    font-size: 14px;
  }
  Table td a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: $purple00;
  }
  Table td textarea {
   border: transparent;
 }
}
.numbers01-table {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: right;
  color: $purple00;
}


.label-npf{
  label{
    font-size: 12px;
    color: $opacity;
  }
  .ant-input:hover, .ant-input:focus {
    border-color: $purple;
    border-right-width: 1px !important;
    box-shadow: none;
  }
}
.all-npf{
  label{
    font-size: 12px;
    color: $opacity;
    margin-top: 10px;
  }
  .menu-item-text{
    padding: 0px 20px;
  }
}
//END CREATE A NEW PROJECT

// WORK REQUEST
.draw-section {
  width: 100%;
  height: 110px;
  border-radius: 3px;
  border: solid 1.8px $opacity01;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h6 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    text-align: center;
    color: $purple00;
    opacity: 0.6;
  }
  img {
    height: 27px;
    margin: 12px 13px;
  }
}
.request{
  h2{
    font-size: 22px;
    color: $purple00;
    margin-bottom: 0px;
  }
  .btn-comment img{
    margin-right: 5px;
  }
  .btn-opacity{
    height: 40px;
    border-radius: 4px;
    background-color: $opacity00;
    border: none;
    color: $purple00;
    font-size: 14px;
    margin-left: 10px;
  }
  .btn-opacity img{
    margin-right: 6px;
    height: 12px;
    margin-top: -2px;
  }
  hr {
    border-bottom: dashed 1.3px #251863;
    border-width: 1px;
    opacity: 0.3;
    border-top: none;
    margin: 25px 0px 15px 0px;
    opacity: 0.5;
  }
}
.work-request{
  display: flex;
  overflow-x: auto;
  margin: 0px 20px;

  .col-wr{
    min-width: 213px;
    width: 213px;
    height: 687px;
    min-height: 687px;
    border-radius: 4px;
    background-color: $opacity00;
    margin: 0px 3.5px;
    padding: 40px 8px 20px 8px;
    position: relative;
    overflow-y: auto;
  }

  .col-hovered {
    background-color: #2418631c;
    border-style: dashed;
    border-color: $purple;
    border-width: 3px;
  }

  .btn-create, .btn-create:hover{
    background-color: transparent;
    border: none;
    padding: 0px;
    box-shadow: none;
    font-size: 14px;
    color: $purple00;
    position: absolute;
    top: 0px;
  }
  .btn-create img{
    margin-right: 5px;
  }
  .card-wr{
    width: 197px;
    height: 133px;
    box-shadow: 0 3px 5px 0 rgba(6, 36, 45, 0.06);
    background-color: $white;
    border-left: 4px solid $gray;
    position: relative;
    padding: 5px 5px;
    margin-bottom: 5px;
    cursor: grab;
  }
  .card-wr:active {
    cursor: grabbing;
  }
  h3{
    font-size: 16px;
    color: $purple00;
    text-transform: uppercase;
    text-align: center;
  }
  h4{
    font-size: 16px;
    color: $purple00;
  }
  h6{
    font-size: 14px;
    color: $purple;
  }
  .menu-wr{
    position: absolute;
    top: 8px;
    right: 5px;
  }
  p{
    position: absolute;
    bottom: 1px;
    margin-bottom: 0px;
    width: 183px;
    color: $opacity;
  }
  label{
    float: right;
  }

  .ant-select-selection {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $opacity01;
    font-size: 16px;
    color: $opacity;
    width: 160px;
  }
  .ant-select-selection:hover {
    border-color: $purple;
  }
  .ant-select-arrow{
    color: $purple;
    font-weight: bold;
  }
  .input-rr::placeholder{
    color: $opacity;
  }
}
.menu-card{
  width: 160px;
  height: 140px;
  left: -120px;

  .menu-card-item {
    color: $purple00;
    font-size: 13px;
  }

  li{
    margin: 0px 15px;
    padding: 10px 0px;
  }
}
.cost-wr{
  // margin-top: 20px;
  h5{
    font-size: 14px;
    color: $opacity;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .ant-input {
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $opacity01;
  }
  .ant-input:hover {
    border-color: $purple;
  }
  .ant-input:focus {
    box-shadow: none;
    border-color: $purple;
  }
  .input-pp::placeholder{
    color: $purple;
  }
  .input-rr::placeholder{
    color: $red;
  }
  .btn-purple{
    width: 170px;
    height: 45px;
    margin-top: 10px;
    float: right;
  }
  .btn-borde{
    margin-top: 20px;
    margin-right: 20px;
    width: 170px;
    height: 45px;
  }

  .cost-rows {
    padding: 8px;
    padding-right: 16px;
  }
}
// CHAT
.ant-drawer-right .ant-drawer-content-wrapper {
  right: 0;
  width: 400px !important;
}
.chat-r{
  opacity: 0.5;
  pointer-events:none;
  h5{
    font-size: 18px;
    color: $purple00;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .ant-drawer-body {
    padding: 20px 40px;;
  }
  h6{
    font-size: 14px;
    color: $purple00;
    margin-bottom: 0px;
    font-weight: normal;
  }
  p, span{
    font-size: 12px;
    color: $opacity;
    margin-bottom: 15px;
    margin-top: -3px;
  }
  img{
    margin-top: 2px;
  }
}
.chat-00{
  width: 100%;
  height: 420px;
  border-radius: 4px;
  background-color: $opacity00;
  margin-top: 15px;

  .chat-head{
    height: 50px;
    border-radius: 4px 4px 0px 0px;
    background-color: $opacity00;
    font-size: 18px;
    color: $purple00;
    text-transform: uppercase;
    padding: 12px 15px;
  }
  .chat-head img{
    margin-top: -3px;
  }
  .chat-body{
    border-bottom: solid 1.3px $opacity01;
    height: 320px;
    text-align: center;
    padding: 105px 50px;
  }
  .chat-footer{
    height: 50px;
    padding: 8px 15px;
  }
  .chat-body h6{
    font-size: 16px;
    color: $purple00;
    margin-bottom: 10px;
  }
  .chat-body p{
    font-size: 12px;
    color: $opacity;
  }
  .chat-footer .ant-input {
    padding: 4px 11px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin: 2px 0px;
  }
  .ant-input::placeholder{
    color: $purple;
  }
}
.chat-footer{
  img{
    margin-top: 0px;
  }
  .btn-send{
    font-size: 18.7px !important;
    color: $purple !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
    margin: 2px 0px;
  }
}
.count{
  padding:20px;
  background: $white;
  height: calc(100vh - 58px);
  overflow-y: hidden;
}
.count-01{
  padding:25px;
  background: $white;
  height: calc(100vh - 58px);
  overflow-y: auto;

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
  }
}
// END WORK REQUEST

// WORK PLAN
.work-p{
  padding: 20px;
  height: calc(100vh - 58px);
  overflow-y: auto;
}
.work-plan{
  .col-wr{
    min-width: 100%;
    width: 100%;
    height: 687px;
    min-height: 687px;
    border-radius: 4px;
    background-color: $opacity00;
    margin: 13px 3.5px 0px 3.5px;
    padding: 40px 8px 20px 8px;
    position: relative;
    overflow-y: auto;
  }
  .col-hovered {
    background-color: #2418631c;
    border-style: dashed;
    border-color: $purple;
    border-width: 3px;
  }
  .col-wr-01{
    min-width: 100%;
    width: 100%;
    height: 344px;
    min-height: 344px;
    border-radius: 4px;
    background-color: $opacity00;
    margin: 13px 3.5px 0px 3.5px;
    padding: 40px 8px 20px 8px;
    position: relative;
    overflow-y: auto;
  }
  .btn-create, .btn-create:hover{
    background-color: transparent;
    border: none;
    padding: 0px;
    box-shadow: none;
    font-size: 14px;
    color: $purple00;
    position: absolute;
    top: 0px;
  }
  .btn-create img{
    margin-right: 5px;
  }
  .card-wr{
    width: 100%;
    height: 133px;
    box-shadow: 0 3px 5px 0 rgba(6, 36, 45, 0.06);
    background-color: $white;
    border-left: 4px solid $gray;
    position: relative;
    padding: 5px 5px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 16px;
    color: $purple00;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
  }
  h4{
    font-size:16px;
    color: $purple00;
    line-height: 18px;
  }
  h6{
    font-size: 14px;
    color: $purple;
  }
  .menu-wr{
    position: absolute;
    top: 8px;
    right: 5px;
  }
  p{
    position: absolute;
    bottom: 1px;
    margin-bottom: 0px;
    width: 92%;
    color: $opacity;
  }
  label{
    float: right;
  }
  a, a:hover{
    color: $green;
    font-size: 12px;
    text-decoration: underline;
  }
  .ant-select-selection {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $opacity01;
    font-size: 16px;
    color: $opacity;
    width: 160px;
  }
  .ant-select-selection:hover {
    border-color: $purple;
  }
  .ant-select-arrow{
    color: $purple;
    font-weight: bold;
  }
  .input-rr::placeholder{
    color: $opacity;
  }
}
.work-pc{
  // min-width: 380px;
  // width: 380px;
  height: 687px;
  min-height: 687px;
  border-radius: 4px;
  background-color: $opacity00;
  margin: 0px 3.5px 0px 3.5px;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  .wp-chart{
    height: 50%;
  }
  h5{
    font-size: 16px;
    color: $purple00;
  }
}
.text-font-title {
  width: 53px;
  height: 18px;
  opacity: 0.6;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #11093c;
}
.text-font-percentage {
  width: 33px;
  height: 22px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #11093c;
}
.line {
  width: 1px;
  height: 253px;
  opacity: 0.1;
  border: solid 1.3px #251863;
}
.work-title{
  padding-left: 15px;
}
.user-activity {
  width: 111px;
  height: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.27px;
  color: #11093c;
}
.col-name{
  font-size: 18.7px;
  color: $purple00;
  position: absolute;
  transform: rotate(270deg);
  left: -18px;
  top: 50%;
}
.text-profile-projects {
  width: 91px;
  height: 24px;
  font-size: 16px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29c499;
  padding-right: 7px;
  padding-left: 8px;
}
.col-name-01{
  font-size: 18.7px;
  color: #11093c;
  position: absolute;
  transform: rotate(270deg);
  left: -27px;
  top: 50%;
}

// DETAILED PROBLEM
.detailed{
  // width: 1200px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: $shadow;
  background-color: $white;
  overflow-y: auto;

  .ant-carousel .slick-list {
      height: auto;
  }
  .ant-carousel .slick-dots {
    display: block !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
  }
}
.detailed-h{
  // height: 80px !important;
  min-height: 80px;
  background: $opacity00;
  padding: 10px 20px;
  margin: 0px !important;

  h1{
    font-size: 21px;
    color: $purple00;
    margin-bottom: -5px;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    line-height: 22px;
    margin-bottom: 7px;
  }
  p{
    font-size: 14px;
    color: $opacity;
    margin-bottom: 0px;
  }
  .btn-transparent{
    padding: 0px 12px;
    margin: 8px 0px;
  }
  .btn-opacity{
    height: 40px;
    font-size: 13px;
    border-radius: 2px;
    text-align: center;
    padding: 11px 0px;
    margin-top: 6px;
    width: 120px;
    min-width: 120px;
    float: right;
  }
}
.disabled-btn{
  opacity: 0.5;
  //pointer-events: none;
}
.status-d{
  padding: 6px 0px 6px 40px;

  label{
    font-size: 12px;
    color:$opacity;
    margin-bottom: -2px;
    width: 100%;
  }
  b{
    float: right;
    color: $purple;
  }
  .ant-progress-text{
    display: none;
  }
  .ant-progress-show-info .ant-progress-outer{
    margin-right: 0px;
    padding-right:0px;
  }
  .ant-progress-success-bg, .ant-progress-bg{
    background-color: $yellow;
  }
  .ant-progress-inner {
    background-color: $opacity01;
  }
}
.detailed-mm{
  font-size: 14px;
  color: $purple;
  border-left: 1.5px solid $opacity01;
  border-right: 1.5px solid $opacity01;
  height: 35px;
  min-height: 35px;
  padding: 8px 0px;
  margin: 8px 12px;
}
.detailed-b{
  .ant-carousel .slick-slide {
    text-align: center;
    height: 450px;
    overflow: hidden;
  }
  .ant-carousel .slick-slide img{
    width: auto;
    height: 100%;
    display: inherit !important;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel{
    height: 450px;
  }
  .chat-r{
    padding: 20px 25px;
  }
}
.detailed-c{
  height: 450px;
  // background-image: url('/Icons/bg-00.png');
  background-size: cover;
   img{
    position: relative !important;
    // margin-top: -20%;
  }
}
.detailed-info{
  padding: 20px 40px 0px 40px;
  font-size: 14px;
  label{
    color: $opacity;
  }
  p{
    color: $purple00;
    margin-bottom: 12px;
  }
}
.tabs-detailed{
  padding: 0px 40px 20px 40px;
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding: 21px 0px;
    color: $purple00;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-collapse{
    background-color: $white;
    border-radius: 0px;
    border: none;
  }
  .ant-collapse-content {
    border-top: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 0px;
  }
}
.detailed-map{
  width: 100%;
  height: 650px;
  border-radius: 4px;
  box-shadow: $shadow;
  // background-image: url('/Icons/mapitash.png');
  position: relative;

  .btn-03, .btn-03:hover, .btn-03:focus, .btn-03:active, .btn-03.active {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 35px;
    color: #251863;
    font-size: 12px;
    z-index: 10;
  }
  .btn-03 img {
    margin-left: 8px;
  }
  .m-foo{
    width: 120px;
    height: 50px;
    border-radius: 4px;
    box-shadow: $shadow;
    background: $white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 6px 10px;
  }
  p{
    display: flex;
    font-size: 12px;
    color: $purple00;
    margin-bottom: 2px;
  }
  p span {
    width:15px;
    height:5px;
    margin-top: 6px;
  }
}
.solution-h{
  padding: 0px 20px;

  button{
    border: none;
    background-color: transparent;
    color: $opacity;
    font-size: 16px;
    box-shadow: none;
    text-align: left;
    padding: 0px;
  }
  img{
    margin-left: 5px;
  }
  button:hover, button:focus, button.active{
    border: none;
    background-color: transparent;
    color: $opacity;
    box-shadow: none;
    text-align: left;
    padding: 0px;
  }
}
.solution-b{
  background: $opacity00;
  padding: 14px 20px;
  height: 50px;
  min-height: 50px;
  font-size: 14px;
  border-radius: 4px;
  font-weight:400;
  margin-top: 5px;
  color: $purple;
}
.data-00{
  display: flex;
  font-size: 14px;
  color: $opacity;
  div{
    margin-right: 20px;
  }
  img{
    margin-top: -2px;
  }
}
.divider{
  display: flex;
}
.line-01{
  width: 515px;
  height: 1px;
  opacity: 0.1;
  background-color: $purple;
  margin: 12px 8px;
}
.problem-t{
  margin-top: -15px;
  .ant-table-tbody > tr > td{
    background: $opacity00;
    padding: 14px 20px;
    height: 50px;
    min-height: 50px;
    font-size: 14px;
    font-weight:400;
    margin-top: 10px;
    color: $purple;
    border-bottom: none;
  }
  .ant-table table {
    border-collapse: separate !important;
    border-spacing: 0px 5px !important;
  }
  .ant-table-tbody > tr{
    border-radius: 4px;
  }
  .ant-table-thead > tr > th {
    color: $opacity;
    background: none;
    border-bottom: none;
    font-weight: normal;
    font-size: 16px;
    padding: 0px 16px;
  }
  .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover{
    background: none;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: $purple;
  }
  .ant-table-thead > tr > th.ant-table-column-sort {
    background: none;
  }
  .ant-table-tbody > tr > td.ant-table-column-sort {
    background: $opacity00;
  }
  .ant-table-pagination.ant-pagination{
    display: none;
  }
}
// END DETAILED PROBLEM

// OTHERS
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters:hover::before {
    background: rgba(0, 0, 0, 0.0) !important;
}
 .marker {
  background-size: cover;
  width: 30px;
  height: 40px;
  cursor: pointer;
 }
 .button-dropdown {
  background-color: $green !important;
  color: #ffffff !important;
  border: $green !important;
  white-space: inherit !important;
  height: auto !important;
  border-radius: 4px !important;
 }
 .text-button-dropdown {
  font-size: 14px !important;
  padding: 10px !important;
  display: block !important;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid rgba(61, 46, 138, 0.07) !important;
  color: #11093c !important;
 }
 .dropdown-map-layers {
   left: 75px !important;
 }
 .ant-dropdown-menu-item-group-title {
  //  color: #ff7600 !important;
   margin: 4px 0px -4px 0px!important;
  //  font-weight: bold;
 }
 .input-span {
   display: inline-block;
   width: calc(100% - 80px);
   outline: none;
   border: none;
   background-color: transparent;
 }
.rr-tt{
  display: none;
}
.icon-legend .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  display: block;
}
.input-maint .img-maint {
  position: absolute;
  margin-left: 9px;
  margin-top: 11px;
  height: 24px;
  width: 21px;
}
.error-404{
  text-align: center;
  color: $opacity;
}
// OTHERS END
