// COLORS AND VARIALBLES
$dark: #06242D;
$green: #28C499;
$purple: #251863;
$white: #ffffff;

// GENERAL
html, body{
  height: 100vh;
}
// NAVBAR
.logo {
  width: 109px;
  height: 38px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
}
.header {
  height: 58px !important;
  padding: 0 27px !important;
  line-height: 58px !important;
  background: $dark !important;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background: $dark !important;
}
.header{
  .ll-00{
    color: $white;
    background: $green;
    border-radius: 50%;
    padding: 5px 5.23px;
    margin-right: 5px;
  }
  .ll-0{
    background: $white;
    padding: 8px 0.5px;
    opacity: 0.5;
    margin-right: 18px;
  }
  a{
    color: $white;
  }
  a:hover{
    color: $white;
  }
  .anticon{
    color: $white;
    opacity: 0.5;
    font-size: 10px;
  }
  h6{
    color: white;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 16px;
    font-weight: normal;
  }
}
.ant-dropdown-menu {
  top: 18px;
}
// SIDEBAR
.ant-layout-sider{
  background: $dark !important;

  img{
    margin-right: 10px;
  }
  li{
    margin-bottom: 15px !important;
  }
}
.img-a{
  display: none !important;
}
.img-h{
  opacity: 0.5;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
  color: $green !important;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: $green !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-a{
  display: inline-block !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .img-h{
  display: none;
}

// carousel
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
  position: absolute;
  z-index: -1;
}
.ant-carousel .slick-list {
  height: 100vh;
}
.ant-carousel .slick-dots {
  display: flex !important;
  padding-left: 60px !important;
  padding-bottom: 120px !important;  
}
.ant-carousel .slick-slide h3 {
  color: $white;
  position: relative;
  margin: 0;
}

.login-step01 {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.login-form h1 {
  color: #11093c;
  font-size: 2.6rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: normal;
}
.login-step01 .buttonLogin {
  height: 72px;
  border-radius: 4px;
  background-color: #000000;  
  color: $white;
  font-size: 1.2rem;
}