// COLORS AND VARIALBLES
$dark: #06242D;
$green: #28C499;
$purple: #251863;


// GENERAL
html, body{
  height: 100vh;
}
// NAVBAR
.logo {
  width: 109px;
  height: 38px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
}
.header {
  height: 58px !important;
  padding: 0 27px !important;
  line-height: 58px !important;
  background: $dark !important;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background: $dark !important;
}
