@import "styles.scss";
.map{
  height: calc(100vh - 69px);
  margin: 5px;
  position: relative;

  .mapboxgl-popup{
    z-index: 20;

    .mapboxgl-popup-content {
      padding: 0px 0px;
      border-radius: 5px;
      box-shadow: 0 3px 11px 0 var(--marine-blue-15);
      background-color: #fafbfb;
      font-size: 14px;
      font-family: 'Ubuntu';
      width: 200px;

      .popup-header {
        background-color: #ebebeb;
        padding: 10px 15px;
        padding-bottom: 5px;
        border-radius: 5px;

        .head {
          color: #11093c;
          font-weight: 500;
          opacity: 0.6;
        }
      }

      .popup-body {
        font-weight: 500;
        color: $purple;
        line-height: 1.19;
        padding: 10px 15px 0px 15px;
        // padding-bottom: 15px;

        .city {
          font-weight: normal;
          color: $purple;
          opacity: 0.6;
          font-size: 13px;
          line-height: 1.8;
          margin-top: 2px;
        }

        .components {
          font-weight: 500;
          font-size: 11px;
          padding-bottom: 2px;
          color: $opacity;
          text-align: right;
          margin-top: 3px;
        }
        .hh-gg{
          display: flex !important;
          div{
            width: 50%;
          }
        }
      }

      .popup-footer {
        padding: 0px 15px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: 500;

        .divider{
          border-top: 1px solid #251863;
          opacity: 0.1;
        }
      }

      .mapboxgl-popup-close-button {
        display: none;
      }
    }
  }
}
.map-00{
  .mapboxgl-ctrl-bottom-right {
    width: 100%;
  }
  .mapboxgl-ctrl-group{
    left: 20px;
    position: absolute;
    width: 25px;
    bottom: 30px;
  }
  .mapboxgl-ctrl-scale{
    left: 55px;
    position: absolute;
    bottom: 30px;
    width: auto !important;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
  }
}
.map .m-head{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 35px;
  z-index: 10;
  display: flex;

  .geocoder {
    display: inline-block;
    height: 35px;

    .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
      fill: $purple;
      width: 18px;
    }

    .mapboxgl-ctrl-geocoder--input {
      font-size: 14px;
    }
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    height: 35px;
  }

  .mapboxgl-ctrl-geocoder button {
    height: 0px;
    right: 0;
    top: 7px;
  }
  button{
    height: 35px;
    border: none;
    width: 35px;
    padding: 0px;
    background: $green;
    margin-right: 15px;
  }
  .btn-purple{
    margin: 0px 15px;
  }
  .btn-02{
    -webkit-mask: url('/Icons/icon-05.svg') no-repeat center;
    height: 16px;
    background: $white;
    padding: 17.5px 9px;
  }
  Button:hover > .btn-02{
    -webkit-mask: url('/Icons/icon-05.svg') no-repeat center;
    height: 16px;
    background: $dark !important;
    margin-top: -2px;
  }
  .ant-input-search-icon{
    color: $purple;
  }
  .ant-select-auto-complete.ant-select .ant-input {
    line-height: 1.5;
    border-width: 1px;
    font: inherit;
    width: 100%;
    border: 0;
    margin: 0;
    height: 35px;
    color: #404040;
    padding: 6px 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    left: 12px;
    font-weight: bolder;
  }
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #f3f3f3 !important;
}
.global-search-item{
  h6{
    font-size: 13px !important;
    font-weight: 500;
    margin-bottom: 0px;
    color: #404040;
    white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
  }
  p{
    font-size: 14px;
    margin-bottom: 0px;
    color: #404040;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.map .btn-03{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 35px;
  color: $purple;
  font-size: 12px;
  z-index: 10;

  img{
    margin-left: 8px;
  }
}
.map .btn-03:active, .map .btn-03.active, .map .btn-03:hover, .map .btn-03:focus{
  color: $purple;
  border-color: $purple;
}
.scroll-footer {
  overflow-y: auto;
  max-height: 125px;
  min-height: 18px;
}
.map .m-footer{
  width: 210px;
  background-color: $white;
  position: absolute;
  bottom: 35px;
  left: 20px;
  z-index: 10;

  .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    font-size: 12px;
    text-transform: uppercase;
    color: $opacity;
    padding: 10px 15px !important;
    font-weight: bold;
    background: $white;
    line-height: 15px;
  }
  .ant-collapse-content > .ant-collapse-content-box{
    padding: 0px 15px 15px 15px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    margin-top: -2px;
    margin-right: -11px;
  }
  .ant-collapse > .ant-collapse-item,.ant-collapse {
    border-bottom: none;
    border: none;
    border-radius: none;
  }
  .ant-collapse-content{
    border-top: none;
  }
  p{
    font-size: 11px;
    color: $purple00;
    margin-bottom: 2px;
    display: flex;
  }
  span{
    height: 8px;
    width: 16px;
    border: 1px solid #979797;
    margin-right: 8px;
    margin-top: 4px;
  }
  img{
    height: 20px;
    width: 16px;
    margin-right: 8px;
  }
  .anticon-close{
    border: none;
  }
  hr{
    margin-top: 0px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    transform: rotate(270deg);
  }
}
.map .m-zoom{
  position: absolute;
  width: 25px;
  left: 20px;
  bottom: 125px;
  z-index: 10;

  button{
    width: 25px;
    height: 25px;
    padding: 0px;
    border: none;
  }
   button .img-icon{
    -webkit-mask: url('/Icons/ic_boundary.svg') no-repeat center;
    height: 18px;
    width: 16px;
    background: $purple00;
  }
  .ant-btn:hover > .img-icon {
    opacity: 1;
    -webkit-mask: url('/Icons/ic_boundary.svg') no-repeat center;
    height: 18px;
    width: 16px;
    background: $green !important;
  }
}
.filter-map{
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  height: auto;
  h6{
    font-size: 16px;
    color: $opacity;
    font-weight: 400;
    margin-bottom: 0px;
  }
  p{
    font-size: 12px;
    margin-bottom: 10px;
    color: $purple00;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: left;
    margin-right: 8px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 10px 12px;
    color: $opacity;
    background: $opacity00;
    height: 41px;
  }
  .ant-collapse-content{
    border-top: none;

    img{
      margin-right: 5px;
    }
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: 1px solid $white;
  }
  .ant-checkbox-wrapper{
    float: right;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 10px 0px 10px;
  }
  .ant-collapse{
    border: none;
  }
  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 12px;
  }
  .ant-switch{
    float: right;
  }
  .ant-switch-checked {
   background-color: $green;
  }
}
.filter-coll-header{
  display: flex;
  width: 200px;
  position: relative;
  font-size: 13px;

  .ant-switch {
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 1200;
  }
  img{
    margin-right: 3px;
    height: 15px;
  }
}
.popover-filter-map{
  z-index: 1070 !important;

  .ant-popover-inner{
    background-color: $black;
  }
  .popoveer-00{
    color: $white;
    max-width: 260px;
  }
 .ant-popover-arrow{
    border-bottom-color: $black !important;
    border-left-color: $black !important;
  }
}
.btn-footer-02{
  margin: 0px 0px 2px 0px;
  text-align: right;

  .btn-borde {
    margin-right: 0px;
    border: none !important;
  }
  .ant-btn > span {
    margin-right: -4px;
  }
}
.map-pop-00{
  width: 280px;
  padding: 0px;
  min-height: 150px;
   // font-weight: bold;
  border-radius: 1.3px;
  box-shadow: $shadow;
  background-color: #fafbfb;

  .ant-card-bordered {
    border: none;
  }
  .ant-card{
    background: none;
  }
  .ant-card-hoverable:hover {
    box-shadow: none;
  }
  .ant-card-body {
    padding: 0px;
  }
  h4{
    font-size: 14px;
    color: $purple;
    margin-bottom: 6px;
    line-height: 18px;
  }
  h6{
     font-size: 12px;
    color: $opacity;
    font-weight: 400;
    margin-bottom: 6px;
  }
  h5{
    font-size: 16px;
    color: $purple;
  }
  h5 span{
    color: $opacity;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  hr{
    opacity: 0.5;
  }
  .headmap{
   min-height: 40px;
   border-radius: 1.3px 1.3px 0px 0px;
   background: $opacity01;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;
  }
  .bodymap{
    padding: 15px 15px;
  }
}

.map .mapboxgl-popup .mapboxgl-popup-content{
  width: auto !important;
}
.mapboxgl-popup{
  max-width: none !important;
}
.map-pop-01{
  min-width: 125px;
  max-width: 330px;
  height: auto;
  border-radius: 1.3px;
  box-shadow: $shadow;
  background-color: #fafbfb;

  .ant-card-bordered {
    border: none;
  }
  .ant-card{
    background: none;
  }
  .ant-card-hoverable:hover {
    box-shadow: none;
  }
  .ant-card-body {
    padding:0px;
  }
  .headmap{
   height: 40px;
   min-height: 40px;
   border-radius: 1.3px 1.3px 0px 0px;
   background: $opacity01;
   font-size: 14px;
   color: $opacity;
   padding: 12px 15px;
   text-transform: uppercase;
   line-height: 16px;
  }
  .bodymap{
    padding: 15px 15px;
  }
  h4{
    font-size: 14px;
    color: $purple;
    margin-bottom: 0px;
    line-height: 20px;
  }
  p{
    font-size: 12px;
    color: $purple;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  i{
    color: $opacity;
  }
}
// NEW POPUP
.map-pop-02{
  width: 280px;
  min-height: 150px;
  border-radius: 1.3px;
  box-shadow: $shadow;
  background-color: #fafbfb;
  padding: 0px 0px 10px 0px;

  .headmap{
    min-height: 40px;
    border-radius: 1.3px 1.3px 0px 0px;
    background: $opacity01;
    font-size: 14px;
    color: $opacity;
    padding: 12px 15px;
    text-transform: uppercase;
    line-height: 16px;
  }
  h4{
    color: $opacity;
    font-size: 14px;
    padding: 10px 0px 0px 5px;
  }
  .btn-transparent{
    padding: 8px 5px;
    width: 100%;
    text-align: left;
    height: 35px;
    font-size: 13px;

    img{
      margin-right: 5px;
      margin-top: -3px;
    }
  }
  .layer-popup{
    padding: 5px;
    border-bottom: 1px solid rgba(61, 46, 138, 0.07);
  }
  .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active{
    background: rgba(61, 46, 138, 0.07) !important;
  }
  .ant-btn .anticon {
    float: right;
    margin-top: 3px;
    color: $opacity;
  }
}
.mapboxgl-ctrl-group button{
  width: 25px !important;
  height: 25px !important;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url('/Icons/icon-35.svg') !important;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url('/Icons/icon-36.svg') !important;
  background-position: 52%;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    background-image: url('/Icons/icon-74.svg') !important;
    background-size: 7px !important;
}
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none !important;
  // border: 1px solid #d9d9d9;
}
.mapboxgl-ctrl-group button:focus {
  box-shadow: none !important;
}
.mapboxgl-ctrl button:not(:disabled):hover {
    background-color: transparent !important;
}
.pop-card-map{
  .drop-head{
    min-height: 40px;
    border-radius: 1.3px 1.3px 0px 0px;
    background: $opacity01;
    font-size: 14px;
    color: $opacity;
    padding: 12px 15px;
    text-transform: uppercase;
    line-height: 16px;
  }
  .ant-popover-inner-content{
    padding: 0px;
    width: 220px;
  }
  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0px solid #e8e8e8;
    border-radius: 4px;
  }
  .ant-menu-item, .ant-menu-submenu-title, .ant-menu-item-disabled,{
    border-top: 1px solid $opacity01 !important;
  }
  .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-top: 0px;
  }
  .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    margin-bottom: 0px !important;
  }
  .ant-menu, .ant-menu-item:hover, .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: $purple;
  }
}
// MAP
.head-m{
  margin-bottom: 20px;
  a{
    color: $purple00;
    font-size: 22px;
  }
  a:hover {
    color: $purple00;
  }
  .span-header {
    color: $purple00;
    font-size: 22px;
    cursor: pointer;
  }
  button{
    background: transparent;
    border: 0px;
    box-shadow: none;
  }
  .btn-mm{
    border-right: 1px solid $opacity00;
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    text-decoration: none !important;
    background: transparent !important;
  }
  button:hover, button:focus, button:active, button.active {
    text-decoration: none !important;
    background: transparent !important;
    box-shadow: none;
    outline: none;
  }
  .img-h{
    opacity: 1;
  }
   .ant-btn:hover .img-h, .ant-btn:focus .img-h, .ant-btn:active .img-h, .ant-btn.active .img-h {
    display: none;
  }
  .ant-btn:hover .img-a, .ant-btn:focus .img-a, .ant-btn:active .img-a, .ant-btn.active .img-a {
   display: inline-block !important;
  }
  .ant-btn:hover, .ant-btn:focus {
    border-color: $opacity00;
  }
}
.auto-complete-map{
  margin-top: -1px;
  .ant-select{
    width: 100% ;
    max-width: 295px;
    min-width: 90px;
    border-bottom: 1.5px solid $opacity03;
  }
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder, .ant-input{
   color: $purple;
   font-size: 22px !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
   height: 30px;
  }
  .ant-select-auto-complete.ant-select .ant-input {
    border: none;
    padding: 0px;
  }
  // .ant-input{
  //   resize: horizontal;
  //   width: 90px !important;
  // }
  // .ant-input:active {
  //   width: auto !important;
  // }
  // .ant-input:focus {
  //   min-width: 200px !important;
  // }
  .ant-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.0);
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    right: -5px;
    color: $purple;
    font-size: 16px;
  }
}
.head-filter{
  background: $opacity00;
  height: 50px;
  padding: 6px 15px;
  margin-left: -20px;
  margin-right: -20px;

  .ant-input-affix-wrapper {
    width: 200px !important;
    color: $purple;
    height: 38px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: none;
  }
  .ant-input-search-icon {
    color: $purple;
  }
  .ant-input-affix-wrapper .ant-input {
    width: 200px;
  }
  .ant-dropdown-link{
    color: $purple00;
    text-align: left;
    font-size: 12px;
    padding: 18px 0px;
  }
  // .ant-dropdown-link:hover{
  //   color: $green;
  // }
  button{
    border: none;
    background-color: transparent;
    color: $purple00;
    font-size: 12px;
    box-shadow: none;
    transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  button img{
    margin-right: 5px;
    // opacity: 0.5;
  }
  .ant-input:hover {
    border-color: $purple;
  }
  .ant-input:focus{
    box-shadow: none;
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $purple;
  }
  .ant-btn:hover > span, .ant-btn:hover{
    color: $green !important;
    background-color: transparent;
    border-color: none;
  }
  .ant-btn:focus{
    background: transparent;
  }
  button .img-filter{
    -webkit-mask: url('/Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $opacity02;
    padding: 7px;
  }
  .ant-btn:hover > .img-filter{
    opacity: 1;
    -webkit-mask: url('/Icons/icon-73.svg') no-repeat center;
    height: 16px;
    width: 18px;
    background: $green !important;
    padding: 7px;
  }
  .sort-content {
    display: inline-block;
    // margin-right: 14px;

    .sort-buttons {
     margin-right: 5px;
     cursor: pointer;

      .img-filter00{
        -webkit-mask: url('/Icons/icon-83.svg') no-repeat center;
        height: 18px;
        width: 18px;
        background: $opacity02;
        transition: width 2s;
        padding: 9px;
      }
    }
    .sort-buttons:hover > .img-filter00{
      opacity: 1;
      -webkit-mask: url('/Icons/icon-83.svg') no-repeat center;
      height: 18px;
      width: 18px;
      background: $green !important;
      transform: rotate(180deg);
      transition: width 2s;
      padding: 9px;
    }
  }
  .btn-borde{
    height: 37px;
    font-size: 14px !important;
    margin-right: 15px;
    margin-left: 10px;
  }
}
.sort-content:hover > .ant-dropdown-link{
  color: $green;
}
.sort-content:hover > .sort-buttons > .img-filter00{
  opacity: 1;
  -webkit-mask: url('/Icons/icon-83.svg') no-repeat center;
  height: 18px;
  width: 18px;
  background: $green !important;
  padding: 9px;
}
.apply-filter{
  border: 1px solid rgba(37, 24, 99, 0.1);
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  line-height: 14px;
  margin: 5px 0px;
  position: relative;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }
  .progress {
    background: transparent;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 3px;
    width: 190px;
    position: absolute;
    bottom: 0px;
    left: -5px
  }
  .progress-value {
    animation: load 1s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: $green;
    height: 3px;
    width: 0;
    animation-iteration-count:infinite;
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
.apply-filter-no-effect{
  border: 1px solid rgba(37, 24, 99, 0.1);
  border-radius: 4px;
  padding: 11px;
  height: 40px;
  line-height: 14px;
  margin: 5px 0px;
  position: relative;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $green !important;
    border-color: $green !important;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $green !important;
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
.img-negative{
  background-image: url('/Icons/icon-21.svg') !important;
}
.tabs-map{
  .ant-tabs-nav .ant-tabs-tab-active {
    color: $purple;
  }
  .ant-tabs-nav .ant-tabs-tab {
    padding: 15px 0px 15px 0px !important;
    margin: 0 20px 0 0;
    font-size: 15px;
  }
  .ant-tabs-ink-bar {
    background-color: $purple;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $purple;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    display: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 10px;
    padding-left: 10px;
    color: $purple;
    line-height: 30px;
    height: 54px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
    background: $white;
    margin-bottom: 10px;
  }
  .ant-collapse{
    border: none;
    background: transparent;
  }
  .ant-collapse-content {
    background-color: $opacity00;
    border-top: none;
  }
  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0 0 0px 0px;
  }
  .ant-collapse-content>.ant-collapse-content-box {
    padding: 20px 15px 0px 15px;
  }
  .ant-timeline-item {
    padding: 0px;
    font-size: 15px;
    list-style: none;
  }
  .ant-timeline-item-last > .ant-timeline-item-content {
    min-height: 0px;
  }
  .ant-timeline-item-tail {
    position: absolute;
    top: 4px;
    left: -20px;
    height: calc(100% - 10px);
    border-top: 2px solid #e8e8e8;
    width: 20px;
    border-left: none;
  }
  .ant-timeline {
    padding-left: 20px;
    border-left: 2px solid #e8e8e8;
    margin-top: -20px;
    padding-top: 26px;
  }
}
.over-00{
  margin: 0px -20px !important;

  .ant-tabs-bar {
    margin: 0 15px 16px 15px;
  }
}
.line-00{
  height: 7px;
}
.line-02{
  position: absolute;
  background: #e8e8e8;
  height: 2px;
  width: 22px;
  top: 11px;
  left: -40px;
}
.tab-head{
  display: flex;
  font-size: 14px;
  img{
    float: right;
    margin-top: 7px;
  }
  .ant-progress-success-bg, .ant-progress-bg {
    background-color: $green;
    height: 4px;
  }
  .ant-progress-line {
    position: absolute;
    width: 100%;
    font-size: 14px;
    top: 12px;
    left: 0px;
  }
  p{
    margin-top: -6px;
    margin-bottom: 0px;
  }
}
.infinite-scroll-component {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  // padding-bottom: 15px;
}
.list-h{
  display: flex;
  font-size: 14px;
  color: $green;
  width: 100%;
  padding: 10px;
}
.hastag{
  display: flex;
  display: none;
  h6{
    font-size: 14px;
    color: $purple;
    font-weight: 600;
    margin-right: 10px;
    min-width: 148px;
    margin-left: 20px;
    max-width: 185px;
  }
  .ant-tag {
    color: $opacity;
    font-size: 14px;
    display: inline-block;
    height: auto;
    background: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
  }
 .ant-tag .anticon-close {
    font-size: 10px !important;
    background: $opacity;
    border-radius: 50%;
    padding: 4px;
    color: $white;
    font-weight: 600;
    top: -1px;
    position: relative;
  }
}
// BORRAR ARRIBA

// NEW TAG Filter
.tag-filters{
  width: 230px;

  .tag-body{
    max-height: calc(100vh - 210px);
    height: auto;
    overflow-y: auto;
  }
  .ant-popover-inner-content{
    padding: 0px;
    padding-bottom: 5px;
  }
  .head{
    background: $opacity00;
    padding: 5px 10px;
    color: $purple00;
    font-size: 13px;

    img{
      margin-top: -1px;
    }
  }
  p{
    margin-bottom: 0px;
    border-top: 1px solid $opacity01;
    margin: 0px 5px;
    padding: 10px 5px;
    font-size: 13px;

    button{
      height: 15px;
      width: 15px;
      padding: 0px;
      margin: 0px;
      float: right;
    }
  }
}
.card-map{
  padding: 10px 20px 0px 20px;

  .ant-card-bordered {
    border: none;
  }
  .border-line-green{
    border: 2px solid transparent;
    border-radius: 8px 8px 6px 6px;
  }
  .ant-card{
    background: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-radius: 8px 8px 6px 6px;
  }
  .ant-card-hoverable:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border: none;
  }
  .ant-card-body {
    padding: 10px;
  }
  h4{
    font-size: 16px;
    color: $purple;
    margin-bottom: 0px;
    line-height: 18px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  h6{
    font-size: 14px;
    color: $opacity;
    font-weight: 400;
    // margin-bottom: 2px;
  }
  h5{
    font-size: 16px;
    color: $purple;
  }
  h5 span{
    color: $opacity;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  hr{
    opacity: 0.5;
  }
  p{
    margin-bottom: 0px;
  }
  .btn-card, .btn-card:hover, .btn-card:focus, .btn-card:active, .btn-card.active{
    border: none;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 20px;
    height: 20px;
    line-height: 10px;
    opacity: 0.8;
    z-index: 9;
    width: 20px;
    padding: 0px 0px;
  }
  .btn-card label{
    position: relative;
    top: -5px;
  }
}
.card-button-hover{
  position: relative;
  button{
    background-color: $dark;
    color: $white;
    font-size: 12px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button:hover, button:focus{
    background-color: $dark;
    color: $green;
  }
  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}
.card-button-hover:hover .image {
  opacity: 0.3;
}
.card-button-hover:hover .middle {
  opacity: 1;
}
.test-style {
  background-color: transparent;
  position: absolute;
  color: yellow;
  bottom: 0px;
  text-align: -webkit-right;
  z-index: 10;
  right: 320px;
}
.like-btn{
  position: absolute;
  right: 5px;
  bottom: 1px;

  button, button:hover, button:focus, button:active{
    background: rgba(0, 0, 0, 0.5);
    border:none;
    padding: 2px;
    height: 26px;
    width: 26px;
  }
  button .like-img{
    background-image: url('/Icons/icon-81.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
  .ant-btn:hover > .like-img, .ant-btn:focus > .like-img,
  .ant-btn:active > .like-img, .ant-btn.active > .like-img{
    background-image: url('/Icons/icon-82.svg');
    height: 20px;
    width: 22px;
    background-repeat: no-repeat;
  }
}

// END MAP

// FILTERS MAP
.filt-00{
  margin-bottom: 15px;
  h5{
    font-size: 14px;
    color: $opacity;
    text-transform: uppercase;
  }
  .filt-s{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: $opacity;
    line-height: 22px;
  }
  span{
    color: $purple;
  }
  p{
    margin-bottom: 4px;
  }
  label{
    font-size: 12px;
    color: $opacity;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: $purple;
  }
  .ant-radio-inner::after {
    background-color: $purple;
  }
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: $purple;
  }
  .ant-select-selection--single {
    height: 38px;
  }
  .ant-select-selection__rendered {
    line-height: 36px;
    color: $opacity;
  }
  .ant-select-selection:hover {
    border-color: $purple;
  }
  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: $purple;
    box-shadow: none;
  }
  h5 img{
    cursor: pointer;
    margin-top: -3px;
  }
}
.filt-h5{
  font-size: 14px;
  color: $opacity;
  text-transform: uppercase;

  img{
    cursor: pointer;
    margin-top: -3px;
  }
}
.popoveer-00{
  font-size: 12px;
  max-width: 200px;
}
.check-scroll{
  height: 120px;
  overflow-y: auto;
  margin-right: 20px;
}
.filter-menu{
  .ant-select-dropdown-menu {
    max-height: 160px !important;
  }
}
// FILTERS MAP
