@import "styles.scss";
@use 'styles';

// RESPONSIVE
// MEDIA QUERIES
@media (min-width: 1600px) {
  .btn-creation01 div {
    width: 293px;
    height: 267px;
    margin: 30px;
  }
  .btn-creation01 Button{
    font-size: 18px;
  }
  .btn-creation01 button span {
    margin: 45px 0;
  }
  .btn-creation01 {
    padding: 30px 15% 20px 15%;
  }
  .content-new01 h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  .content-new01 .ant-input-lg {
    height: 40px;
    padding: 6px 11px;
    font-size: 16px;
  }
  .map-00 .mapboxgl-ctrl-scale {
    font-size: 14px;
    padding: 3px 6px;
  }
 }

 // 4K DISPLAY
@media (min-width: 3000px) {
  // LOGIN
  .img-banner {
    width: auto;
    height: 100vh;
  }
  .social01 a {
    font-size: 40px;
  }
  .contact01{
    margin: 0px 0 100px 100px;
    img{
      height: 30px !important
    }
  }
  .ant-carousel .slick-dots {
    padding-left: 100px !important;
    padding-bottom: 270px !important;
  }
  .ant-carousel .slick-slide h2 {
    font-size: 72px;
    padding-left: 42px
  }
  .ant-carousel .slick-slide h5 {
    font-size: 40px;
    padding-left: 42px
  }
  .ant-carousel .slick-dots li button {
    width: 40px !important;
    height: 10px !important;
  }
  .ant-carousel .slick-dots li.slick-active button {
    width: 50px !important;
  }
  .ant-carousel .slick-slide .textContent {
    height: 84vh;
  }
  .icons-list{
    margin-bottom: 20px;
  }
  .logo-white {
    width: 287px;
    height: 100px;
    margin: 50px 0 0 100px;
  }
  .login-form {
    width: 880px !important;
    p{
      font-size: 32px;
    }
  }
  .text-l{
    font-size: 32px;
  }
  .group{
    margin-bottom: 40px;

    input {
     font-size: 32px;
   }
  }
  .returnText .anticon {
    padding: 14px 7px 14px 7px;
    height: 64px;
    width: 64px;
    font-size: 34px;
  }
  .login-step01{
    img{
      width: 500px;
      margin-bottom: 20px;
    }
    .btn-purple {
      height: 80px;
      font-size: 28px;
      margin-top: 30px;
    }
  }
  .marbot-4 {
    font-size: 30px;
  }
  .login-form{
    h1 {
      font-size: 72px;
      margin-bottom: 15px;
    }
    .btn-responsive{
      width: auto !important;
      min-width: 200px;
      max-width: 230px;
    }
    .button-dropdown{
      width: auto !important;
      min-width: 100px;
      max-width: 160px;
    }
  }
  .loginLabels {
    font-size: 38px;
  }
  .signup {
    height: 130px;
    margin: 15px 0px 30px 0px;

    button {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .respo-tt, .login-form-forgot{
    font-size: 32px;
  }
  .returnText Button {
    height: 65px;
  }
  .ant-btn-circle, .ant-btn-circle-outline {
    min-width: 80px !important;
  }
}
