@import "styles.scss";
@use 'styles';
// RESPONSIVE MOBILE
@media (max-width: 575.98px) {
  html, body, .ant-layout{
    min-height: -webkit-fill-available;
    height: 100%;
    touch-action: none;
  }

  // MAP
  .map {
    height: 100%;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .m-head {
      top: 30px;
      width: 89%;
    }
    .ant-select-auto-complete{
      width: 100% !important;
    }
  }
  .map-00{
    .mapboxgl-map, .mapboxgl-canvas{
      height: 100%;
      width: 100%;
    }
    .btn-coll{
      display: none;
    }
    .mapboxgl-ctrl-group {
      bottom: 104px;
      width: 30px;
    }
    .mapboxgl-ctrl-scale {
      display: none;
    }
  }
  .mapboxgl-ctrl-group button {
    width: 30px !important;
    height: 30px !important;
  }
  a.mapboxgl-ctrl-logo, {
    display: none !important;
  }
  .m-zoom{
    bottom: 208px !important;
    width: 30px !important;

    .btn-green{
      background: $green !important;
      margin-bottom: 5px;
      display: block !important;

      img{
        margin-top: -2px;
      }
    }
    button {
      width: 30px !important;
      height: 30px !important;
    }
  }
  .fr-area {
    display: inline-block;
    transition: top .2s ease-in-out!important;
    height: 45px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    color: $white;
    background: $green;
    width: 100%;
    position: absolute;
    top: -102px;
    padding: 12px 0px;
  }
  .fr-area.active {
    transition: top .2s ease-in-out!important;
    top: 6em;
  }
  // MODAL MAPA TUTORIAL
  .tutorial-mobile{
    margin: 0px !important;
    max-width: 100vw !important;
    min-height: -webkit-fill-available;
    height: 100% !important;
    overflow-y: hidden;
    padding-bottom: 0px;

    .ant-modal-footer{
      display: none;
    }
    .ant-modal-content {
      background: rgba(0, 0, 0, 0.3);
    }
    .ant-modal-body {
      padding: 0px;
    }

    .ant-modal-close {
      color: $white;
    }
    .tuto-01 {
      height: 100%;
      width: 100%;
      position: fixed;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;

      p{
        color: $white;
      }

      .tuto-17, .tuto-18, .tuto-19, .tuto-20{
        position: absolute;
        text-align: center;
      }

      .tuto-17{
        top: 55px;
        left: 0px;

        p{
          padding: 4px 0px 0px 30px;
        }
        img{
          left: -75px;
          position: relative;
        }
      }
      .tuto-18{
        bottom: 210px;
        left: 42px;

        p{
          padding: 0px 0px 0px 20px;
        }
        img{
          left: -80px;
          position: relative;
        }
      }
      .tuto-19{
        bottom: 140px;
        left: 42px;

        p{
          padding: 0px 0px 0px 20px;
          text-align: left !important;
        }
        img{
          left: -128px;
          position: relative;
        }
      }
      .tuto-20{
        bottom: 10px;
        left: 42px;

        p{
          padding: 0px 0px 80px 80px;
          text-align: left !important;
        }
        img{
          left: -115px;
          position: relative;
          bottom: -61px;
        }
      }
    }
  }
  // FILTERS MAP
  .dropdown-map-layers {
    top: inherit !important;
    left: inherit !important;
    min-width: 100% !important;
  }
  .map-filter-s {
    background: #fff;
    width: 100%;
    left: 0px !important;
    margin: 0px 0px !important;
    padding-top: 0px !important;
    border-radius: 20px 20px 0px 0px !important;
    height: 100%;
    overflow-y: scroll;
    position: fixed !important;
    top:18px !important;
  }
  .filter-map {
    max-height: inherit;
    width: 100vw;

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      left: 32px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 10px 30px 0px 30px;
    }
    p {
      width: auto;
      margin-bottom: 12px;
    }
  }
  .title-filter-map{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px 0px;

    h6{
      color: $purple;
      font-size: 18px;
    }
    button{
      float: right;
      font-size: 18px;
      padding: 5px;
      margin-top: -30px;
      color: $opacity !important;
      margin-right: 12px;
    }
  }
  .btn-footer-02 {
    margin: 25px 0px;
    text-align: center;

    .btn-borde {
      margin-right: 0px;
      border: none !important;
      background: $green !important;
      color: $white !important;
      width: 95%;
      padding: 0px;
      height: 45px;
      text-transform: uppercase;
    }
  }
  .filter-coll-header {
    width: 95vw;
    padding: 0px 40px !important;

    .ant-switch {
      right: 23px;
    }
  }
  .popover-filter-map{
    .popoveer-00{
      max-width: 200px;
    }
  }
  .poup-map-mobile{
    margin: 20px 0px;
    width: 320px;
    // position: absolute;
    // bottom: 103px;
    .popup-mobile{
      display: flex;
      height: 100px;
      width: 305px;
      background: $white;
      border-radius: 10px;
      box-shadow: $shadow;

      img{
        height: 100px;
        width: 122px;
        z-index: 2;
      }
      h4{
        text-align: left;
        color: $purple;
        line-height: 16px;
      }
      h6{
        text-align: left;
        color: $opacity;
        font-size: 11px;
      }
      p{
        text-align: left;
      }
      p b{
        color: $purple;
      }
      p span{
        float: right;
        font-size: 10px;
        color: $opacity;
        margin-top: 3px;
      }
    }
    .ant-carousel .slick-slide{
      height: 120px;
    }
    // .ant-carousel .slick-slide {
    //   width: 320px !important;
    // }
  }

  // TABS PROBLEM AND PROJECT
  .tabs-map .ant-tabs-nav .ant-tabs-tab {
    font-size: 13px;
  }
  .mhfd-mobile{
    text-align: center;
    background: $white;
    margin-bottom: 10px;
    display: block;
    padding: 10px;

    h6{
      font-size: 16px;
      color: $purple;
    }
    p{
      margin-bottom: 0px;
      font-size: 14px;
    }
  }
  .card-information img {
    height: 25vh !important;
  }
  // MODAL DETAILED
  .detailed-modal{
    top: 10px !important;
    margin: 0px !important;
    max-width: 100vw !important;
    overflow-x: hidden;
    padding-bottom: 0px !important;

    .ant-modal-content{
      border-radius: 20px 20px 0px 0px;
    }
    .btn-close-mobile{
      position: absolute;
      top: -18px;
      right: -22px;
      display: block !important;
    }
  }
  .detailed{
    border-radius: 20px 20px 0px 0px;
    overflow-x: hidden;

    .ant-carousel .slick-dots {
      display: block !important;
      padding-bottom: 25px !important;
      width: 100%;
      top: inherit !important;
      left: -20px !important;
    }
    .ant-carousel .slick-dots li button{
      width: 25px;
      height: 6px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
    }
  }
  .detailed-h{
    h1 {
      font-size: 18px;
      text-align: center;
      padding: 0px 10px;
    }
    p{
      text-align: center;
    }
  }
  .detailed-b{
    .ant-carousel {
     height: 200px;
     margin: 10px;
   }
   .ant-carousel .slick-slide {
     height: 200px;
   }
  }
  .detailed-c {
     height: 200px;
  }
  .detailed-info{
    padding: 20px 20px 0px 20px;
  }
  .tabs-detailed {
    padding: 0px 20px 20px 20px;
  }
  .line-01 {
    width: 75px;
  }
  .padding-00{
    padding: 0px !important;
  }
  .scroll-mobile{
    overflow-x: scroll;
    table{
      width: 710px !important;
    }
    .solution-b {
      width: 710px;
    }
  }
  .map-modal{
    height: 250px !important;
    border-radius: 10px;
    position: relative;

    .mapboxgl-ctrl-bottom-right {
      right: inherit;
      position: absolute;
      bottom: 25px;
      left: 10px;
    }
    .mapboxgl-ctrl-scale, .mapboxgl-ctrl-attrib.mapboxgl-compact{
      display: none;
    }
  }
  .status-d {
    padding: 6px 0px 6px 0px;
  }
  // PROFILE
  .profile-header {
    min-height: 260px !important;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1)!important;
  }
  .profile-info {
    padding: 20px 20px 0px 20px!important;
  }
  .profile-contact{
    position: absolute;
    bottom: -110px;
    left: 37%;

    button{
      border: none !important;
      box-shadow: none !important;
    }
  }
  .profile-name{
    top: 30%;
    position: relative;
  }
  .profile-project {
    padding: 0px !important;
  }
  .profile-table {
    padding: 0px !important;
    text-align: center !important;
  }
  .cursor-pointer-span{
    width: 25%;
    height: 60px;

    label{
      float: right;
    }
  }
  .profile-table {
    place-content: center !important;
    margin-right: 0px !important;
    height: 65px;
    border-bottom: 1px solid $opacity01;

    div:nth-child(4) label{
      display: none;
    }
  }
  .text-profile-projects{
    display: block;
  }
  .span-text{
    font-size: 12px !important;
    padding: 0px !important
  }
  .profile-img {
    height: 100px !important;
    width: 100px !important;
  }
  .profile-change {
    bottom: 23px !important;
  }
  .profile-tabs {
    top: 0px !important;
    margin-bottom: 0px !important;

    .ant-tabs-bar {
      padding: 0px 15px !important;
      margin-bottom: 0px !important;
    }
    .profile-mobile{
      padding: 15px !important;
      border-radius: 20px 20px 0px 0px !important;
      margin: 0px !important;
    }
  }
  .edit-profile .btn-opacity {
    display: none;
  }
  // GENERAL
  .mobile-display{
    display: none !important;
  }
  .count {
    padding: 10px 17px;
    overflow-x: hidden;
  }
  .apply-filter-no-effect {
    margin: 1px 0px;
  }
  .scroll-infinite-mobile{
    height: calc(100vh - 136px) !important;
  }
  .card-map .btn-card{
    display: none;
  }
  // .height-mobile{
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  // }
  .btn-map{
    display: inline-block;
    position: absolute !important;
    bottom: 25px;
    left: 37%;
    background-color: $dark !important;
    border-radius: 20px !important;
    border: none !important;
    color: $green !important;
    padding: 0px 25px !important;
    height: 40px !important;

    img{
      margin-right: 8px;
    }
  }
  .collapse-tabs{
    width: 100%;
    position: absolute;
    bottom: 58px;
    left: 0px;
    z-index: 10;
    // box-shadow: $shadow;

    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      display: none;
    }
    .ant-collapse{
      border-radius: 20px 20px 0px 0px;
      border: none;
    }
    .ant-collapse-header{
      background-color: $green;
      color: $white !important;
      text-align: center;
      border-radius: 20px 20px 0px 0px !important;
    }
    .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      border-radius: 20px 20px 0px 0px !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0px !important;
    }
    .ggyyyy{
      overflow-y: scroll!important;
      height: 560px;
    }
    .ffoo{
      display: block;
      width: 100%;
      position: static;
      top: auto;
      margin-right: 0;
      margin-left: 0;
      height: 100%;
      max-height: 100%;
      overflow-y: scroll;
      background: $opacity01;
    }
  }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .map {
    .m-head {
      top: 30px;
    }
  }
  .collapse-tabs{
    .ggyyyy{
      overflow-y: scroll!important;
      height: 528px;
    }
  }
}
