@import "styles.scss";
@use 'styles';

// RESPONSIVE
// MEDIA QUERIES
@media (min-width: 1600px) {
  .btn-creation01 div {
    width: 293px;
    height: 267px;
    margin: 30px;
  }
  .btn-creation01 Button{
    font-size: 18px;
  }
  .btn-creation01 button span {
    margin: 45px 0;
  }
  .btn-creation01 {
    padding: 30px 15% 20px 15%;
  }
  .content-new01 h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  .content-new01 .ant-input-lg {
    height: 40px;
    padding: 6px 11px;
    font-size: 16px;
  }
  .map-00 .mapboxgl-ctrl-scale {
    font-size: 14px;
    padding: 3px 6px;
  }
 }

 // 4K DISPLAY
@media (min-width: 3000px) {
  .img-banner {
    width: auto;
    height: 100vh;
  }
  .social01 a {
    font-size: 40px;
  }
  .contact01{
    margin: 0px 0 100px 100px;
    img{
      height: 30px !important
    }
  }
  .ant-carousel .slick-dots {
    padding-left: 100px !important;
    padding-bottom: 270px !important;
  }
  .ant-carousel .slick-slide h2 {
    font-size: 72px;
    padding-left: 42px
  }
  .ant-carousel .slick-slide h5 {
    font-size: 40px;
    padding-left: 42px
  }
  .ant-carousel .slick-dots li button {
    width: 40px !important;
    height: 10px !important;
  }
  .ant-carousel .slick-dots li.slick-active button {
    width: 50px !important;
  }
  .ant-carousel .slick-slide .textContent {
    height: 84vh;
  }
  .icons-list{
    margin-bottom: 20px;
  }
}
