// COLORS AND VARIALBLES
$dark: #06242D;
$green: #28C499;
$purple: #251863;
$white: #ffffff;
$purple00: #11093c;
$ubunto: 'Ubuntu', sans-serif;
$black: #000000;
$opacity: rgba(17, 9, 60, 0.5);
$opacity00: rgba(37, 24, 99, 0.03);
$opacity01: rgba(61, 46, 138, 0.07);
$opacity02: rgba(37, 24, 99, 0.5);
$red:#ff0000;
$orange: #FDB32B;
$shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
$gray: #9faeb1;
$yellow: #ffdd00;
